
<section id="arriba" class="uc-section uc-section__header " *ngIf="json['horizon_header']['active']">
  <div class="container">
    <!-- partials/commons/breadcrumbs -->
    <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
    <div class="row">
      <!-- <div class="col-12">
        <h1 class="mb-24">{{ json['horizon_header']['title'] }}</h1>
      </div> -->
      <div class="col-md-8 col-12">
        <!-- <p>{{ json['horizon_header']['excerpt'] }}</p> -->
        <ng-container *ngIf="json['horizon_header']['section_conditions']['active']">
          <p class="mt-24 text-weight--700 mb-0">{{json['horizon_header']['section_conditions']['text']}}</p>
          <ul class="uc-list uc-list--gots mt-8">
            <li class="uc-list__item" *ngFor="let term of json['horizon_header']['section_conditions']['terms']" [innerHTML]="term"></li>
          </ul>
        </ng-container>
      </div>
      <div class="col-md-4 col-12" *ngIf="json['horizon_header']['section_upload']['active']">
        <div class="uc-card">
          <div class="uc-card_body uc-card_body--featured font-centered">
            <h2>{{ compartir['compartir-investigacion']['titulo'] }}</h2>
            <button type="button" title="{{ compartir['compartir-investigacion']['titulo'] }}" class="uc-btn btn-cta mt-16">{{ compartir['compartir-investigacion']['boton']['titulo'] }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- PASOS Y FORM -->
<section class="uc-section uc-section__page py-32" *ngIf="json['horizon_forms']['active']" id="pasos">
  <div class="container">
    <section *ngIf="pagina != 'form'" class="uc-card p-lg-5">
      <section class="uc-card_body">
        <div class="d-flex mb-60">
          <h2>Subir Patentes</h2>
          <span class="material-icons ml-auto pointer font-size-44 color-celeste" [routerLink]="['/upload/form']" (click)="newUpload(uploadForm)" title="Cerrar">close</span>
        </div>
        <!-- LINEA DE TIEMPO -->
        <div class="d-flex mb-60">
          <!-- PASO 1 -->
          <div class="panel-button_container row">
            <div class="panel-line-first {{ (activePane == 't2' || activePane == 't3' || activePane == 't4') ? 'active' : '' }}"></div>
            <button class="panel-button {{ activePane == 't1' ? 'active' : '' }}" tabindex="-1">1</button>
            <span class="d-block {{ activePane == 't1' ? 'text-weight--700' : '' }} mt-1 col-12 text-align-center">Paso 1</span>
            <span class="d-block {{ activePane == 't1' ? 'text-weight--700' : '' }} namePasos col-12 text-align-center">{{ json['horizon_forms']['content'][0]['title'] }}</span>
          </div>
          <!-- PASO 2 -->
          <div class="panel-button_container row">
            <div class="panel-line {{ (activePane == 't3' || activePane == 't4') ? 'active' : '' }}"></div>
            <button class="panel-button {{ activePane == 't2' ? 'active' : '' }}" tabindex="-1">2</button>
            <span class="d-block {{ activePane == 't2' ? 'text-weight--700' : '' }} mt-1 col-12 text-align-center">Paso 2</span>
            <span class="d-block {{ activePane == 't2' ? 'text-weight--700' : '' }} namePasos col-12 text-align-center">{{ json['horizon_forms']['content'][1]['title'] }}</span>
          </div>
          <!-- PASO 3 -->
          <div class="panel-button_container row">
            <div class="panel-line-last {{ activePane == 't4' ? 'active' : '' }}"></div>
            <button class="panel-button {{ activePane == 't3' ? 'active' : '' }}" tabindex="-1">3</button>
            <span class="d-block {{ activePane == 't3' ? 'text-weight--700' : '' }} mt-1 col-12 text-align-center">Paso 3</span>
            <span class="d-block {{ activePane == 't3' ? 'text-weight--700' : '' }} namePasos col-12 text-align-center">{{ json['horizon_forms']['content'][2]['title'] }}</span>
          </div>
          <!-- PASO 4 -->
          <!-- <div class="panel-button_container">
            <button  class="panel-button {{ activePane == 't4' ? 'active' : '' }}" tabindex="-1">4</button>
            <span class="d-block {{ activePane == 't4' ? 'text-weight--700' : '' }} mt-1">Paso 4</span>
            <span class="d-block {{ activePane == 't4' ? 'text-weight--700' : '' }} namePasos">{{ json['horizon_forms']['content'][3]['title'] }}</span>
          </div> -->
        </div>
        
        <!-- FORM -->
        <form class="form-panel" #uploadForm="ngForm" (ngSubmit)="submitPublica(uploadForm)" novalidate>
          <div class="panels" [@slide]="activePane">
            <ng-container *ngFor="let forms of json['horizon_forms']['content']; let i = index">
              <div class="panel {{ activePane == 't'+(i+1) ? 'active' : '' }}">
                
                <!-- paso 1 -->
                <section class="mb-32" *ngIf="i == 0 && forms['active'] && activePane=='t1'">
                  <ng-container *ngFor="let section of forms['sections']; let i = index">
                    <!-- Datos generales -->
                    <div *ngIf="i == 0 && section['active']" class="uc-collapse uc-card">
                      <a (click)="collapse('general')" class="uc-collapse_heading collapse_header" data-collapse="collapseExample" title="Desplegar/Contraer contenido">
                          <span class="material-icons mr-20">content_paste</span>
                          <h4>{{section['title']}}<br><p class="font-size-14">Ingresar datos de la publicación</p></h4>
                          <span class="uc-btn btn-inline ml-auto">
                            Ver más
                            <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
                          </span>
                      </a>
                      <div id="general"  class="uc-collapse_body collapse_body" data-toggle="collapseExample">
                        <div class="m-5" *ngFor="let section of section['sections']; let i = index">

                          <!-- SECCION 1 -->
                          <div class="uc-card uc-card--gray mb-32" *ngIf="i == 0 && section['active']">
                            <div class="uc-card_body">
                              <h3 class="mb-32">{{ section['title'] }}</h3>
                              <div class="row">
                                <!-- Autor -->
                                <div class="col-12 mb-24">
                                  <div class="uc-form-group">
                                    <label for="autor">{{section['input_autor']['label']}} </label>
                                    <i class="ml-2 color-red float-right" *ngIf="!autor.value" title="Campo obligatorio">* Obligatorio</i>
                                    <i class="material-icons pr-2 color-green float-right" *ngIf="autor.valid && autor.value">done </i>
                                    <input [(ngModel)]="array_di.autor" #autor="ngModel" name="autor" required type="text" class="uc-input-style" placeholder="{{section['input_autor']['placeholder']}}">
                                  </div>
                                  <div class="uc-alert warning" *ngIf="!autor.valid && autor.touched">
                                    <div class="uc-alert_content">
                                      <i class="uc-icon icon-size--sm ">warning</i>
                                      <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                    </div>
                                  </div>
                                </div>
                                <!-- titulo -->
                                <div class="col-12 mb-24">
                                  <div class="uc-form-group">
                                    <label for="titulo">{{section['input_titulo']['label']}} </label>
                                    <i class="ml-2 color-red float-right" *ngIf="!titulo.value" title="Campo obligatorio">* Obligatorio</i>
                                    <i class="material-icons pr-2 color-green float-right" *ngIf="titulo.valid && titulo.value">done </i>
                                    <input [(ngModel)]="array_di.titulo" #titulo="ngModel" name="titulo" required type="text" class="uc-input-style" placeholder="{{section['input_titulo']['placeholder']}}">
                                  </div>
                                  <div class="uc-alert warning" *ngIf="!titulo.valid && titulo.touched">
                                    <div class="uc-alert_content">
                                      <i class="uc-icon icon-size--sm ">warning</i>
                                      <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                    </div>
                                  </div>
                                </div>
                                <!-- Unidad académica -->
                                <div class="col-12 mb-24">
                                  <div class="uc-form-group">
                                    <label for="unidad">{{section['input_unidad']['label']}}</label>
                                    <i class="ml-2 color-red float-right" *ngIf="!unidad.value" title="Campo obligatorio">* Obligatorio</i>
                                    <i class="material-icons ml-2 color-green float-right" *ngIf="unidad.valid && unidad.value">done </i>
                                    <input [(ngModel)]="array_di.unidad" #unidad="ngModel" name="unidad" required type="text" class="uc-input-style" placeholder="{{section['input_unidad']['placeholder']}}">

                                    <div class="uc-form-group" *ngIf="!array_di.unidad">
                                      <input (click)="searchUnidad_academica()" [formControl]="unidad_academica" type="text" class="uc-input-style input_line" placeholder="" spellcheck="false" >
                                      <span (click)="searchIcoUnidad_academica()" class="material-icons uc-icon uc-icon--inputed" title="Desplegar y agregar de la lista" >playlist_add</span>
                                    </div>
                                    <div *ngIf="data['unidad_academica']" class="selectSearch" style="height: 400px; overflow: scroll;">
                                      <div class="mb-2 text-weight--700">{{data['unidad_academica'].length}} registros encontrados</div>
                                      <ng-container *ngFor="let item of data['unidad_academica']"> <!--  | search:filtro_valor -->
                                        <a (click)="addUnidad_academica(item,'no')" class="btn_select" title="Agregar {{item}}">
                                          {{item}}
                                        </a>
                                      </ng-container>

                                    </div>
                                    <ng-container *ngIf="array_di.unidad">
                                      <div class="uc-form-group" *ngFor="let item of array_di.unidad; let i = index">
                                        <input  (click)="quitaAplicaSeleccion('Unidad académica',i)" value="{{item.nombre}}" type="text" class="uc-input-style inputIco pointer" spellcheck="false" title="Eliminar {{item.nombre}}">
                                        <i  class="material-icons uc-icon icoInput" title="Agregado" >subdirectory_arrow_right</i>
                                        <span  (click)="quitaAplicaSeleccion('Unidad académica',i)" class="material-icons uc-icon uc-icon--inputed btnCloseInput btn_eliminar p-0" title="Eliminar {{item.nombre}}" >close</span>
                                      </div>   
                                    </ng-container>

                                  </div>
                                  <div class="uc-alert warning" *ngIf="!unidad.valid && unidad.touched">
                                    <div class="uc-alert_content">
                                      <i class="uc-icon icon-size--sm ">warning</i>
                                      <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                    </div>
                                  </div>
                                </div>

                                <!-- Nombre de solicitante -->
                                <div class="col-12 mb-24">
                                  <div class="uc-form-group">
                                    <label for="solicitante">{{section['input_nombre_solicitante']['label']}}</label>
                                    <i class="ml-2 color-red float-right" *ngIf="!solicitante.value" title="Campo obligatorio">* Obligatorio</i>
                                    <i class="material-icons ml-2 color-green float-right" *ngIf="solicitante.valid && solicitante.value">done </i>
                                    <input [(ngModel)]="array_di.solicitante" #solicitante="ngModel" name="solicitante" required type="text" class="uc-input-style" placeholder="{{section['input_nombre_solicitante']['placeholder']}}">
                                  </div>
                                  <div class="uc-alert warning" *ngIf="!solicitante.valid && solicitante.touched">
                                    <div class="uc-alert_content">
                                      <i class="uc-icon icon-size--sm ">warning</i>
                                      <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                    </div>
                                  </div>
                                </div>

                                <!-- Destinatario -->
                                <div class="col-12 mb-24">
                                  <div class="uc-form-group">
                                    <label for="destinatario">{{section['input_destinatario']['label']}}</label>
                                    <!-- <i class="material-icons ml-2 color-red" *ngIf="!destinatario.value" title="Campo obligatorio">* </i> -->
                                    <i class="material-icons ml-2" style="color:green" *ngIf="destinatario.valid && destinatario.value">check_circle </i>
                                    <input [(ngModel)]="array_di.destinatario" #destinatario="ngModel" name="destinatario" type="text" class="uc-input-style" placeholder="{{section['input_destinatario']['placeholder']}}">
                                  </div>
                                  <!-- <div class="uc-alert warning" *ngIf="!destinatario.valid && destinatario.touched">
                                    <div class="uc-alert_content">
                                      <i class="uc-icon icon-size--sm ">warning</i>
                                      <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                    </div>
                                  </div> -->
                                </div>

                                <!-- Financiamiento -->
                                <div class="col-12 mb-24">
                                  <div class="uc-form-group">
                                    <label for="financiamiento">{{section['input_financiamiento']['label']}}</label>
                                    <!-- <i class="material-icons ml-2 color-red" *ngIf="!financiamiento.value" title="Campo obligatorio">* </i> -->
                                    <i class="material-icons ml-2" style="color:green" *ngIf="financiamiento.valid && financiamiento.value">check_circle </i>
                                    <input [(ngModel)]="array_di.financiamiento" #financiamiento="ngModel" name="financiamiento" type="text" class="uc-input-style" placeholder="{{section['input_financiamiento']['placeholder']}}">
                                  </div>
                                  <!-- <div class="uc-alert warning" *ngIf="!financiamiento.valid && financiamiento.touched">
                                    <div class="uc-alert_content">
                                      <i class="uc-icon icon-size--sm ">warning</i>
                                      <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                    </div>
                                  </div> -->
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- SECCION 2 -->
                          <div class="uc-card uc-card--gray mb-32" *ngIf="i == 1 && section['active']">
                            <div class="uc-card_body">
                              <h3 class="mb-32">{{ section['title'] }}</h3>
                              <div class="row">
                                <!-- Fecha de concesión -->
                                <div class="col-12 mb-24">
                                  <div class="uc-form-group">
                                    <label for="fecha_concesion">{{section['input_fecha_concesion']['label']}} </label>
                                    <input [(ngModel)]="array_di.fecha_concesion" name="fecha_concesion" #fecha_concesion="ngModel" id="fecha_concesion" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" type="date" class="uc-input-style calendar-box col-4" placeholder="aaaa-mm-dd" >                   
                                  <div *ngIf="!fecha_concesion.valid" class="row alert-info m-2">
                                    <i class="material-icons pr-2">warning </i> Formato debe ser aaaa-mm-dd
                                  </div>
                                  </div>
                                </div>
                                <!-- Número de concesión -->
                                <div class="col-12 mb-24">
                                  <div class="uc-form-group">
                                    <label for="n_concesion">{{section['input_n_concesion']['label']}} </label>
                                    <!-- <i class="material-icons ml-2 color-red" *ngIf="!n_concesion.value" title="Campo obligatorio">* </i> -->
                                    <i class="material-icons pr-2" style="color:green" *ngIf="n_concesion.valid && n_concesion.value">check_circle </i>
                                    <input [(ngModel)]="array_di.n_concesion" #n_concesion="ngModel" name="n_concesion" type="number" class="uc-input-style" placeholder="{{section['input_n_concesion']['placeholder']}}">
                                  </div>
                                  <!-- <div class="uc-alert warning" *ngIf="!n_concesion.valid && n_concesion.touched">
                                    <div class="uc-alert_content">
                                      <i class="uc-icon icon-size--sm ">warning</i>
                                      <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                    </div>
                                  </div> -->
                                </div>
                                <!-- Pais -->
                                <div class="col-12 mb-24">
                                  <div class="uc-form-group">
                                    <label for="pais">{{section['input_pais']['label']}}</label>
                                    <i class="ml-2 color-red float-right" *ngIf="!pais.value" title="Campo obligatorio">* Obligatorio</i>
                                    <i class="material-icons color-green ml-2 float-right" *ngIf="pais.valid && pais.value">done </i>
                                    <input [(ngModel)]="array_di.pais" #pais="ngModel" name="pais" required type="text" class="uc-input-style" placeholder="{{section['input_pais']['placeholder']}}">
                                  </div>
                                  <div class="uc-alert warning" *ngIf="!pais.valid && pais.touched">
                                    <div class="uc-alert_content">
                                      <i class="uc-icon icon-size--sm ">warning</i>
                                      <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                    </div>
                                  </div>
                                </div>
                                <!-- Estado de patentamiento -->
                                <div class="col-12 mb-24">
                                  <div class="uc-form-group">
                                    <label for="estado_patentamiento">{{section['input_estado_patentamiento']['label']}}</label>
                                    <i class="ml-2 color-red float-right" *ngIf="!array_di.estado_patentamiento" title="Campo obligatorio">* Obligatorio</i>
                                    <i class="material-icons ml-2 color-green float-right" *ngIf="array_di.estado_patentamiento">done </i>
                                    <!-- <input [(ngModel)]="array_di.estado_patentamiento" #estado_patentamiento="ngModel" name="estado_patentamiento" required type="text" class="uc-input-style" placeholder="{{section['input_estado_patentamiento']['placeholder']}}"> -->
                                    <hr class="hr_label">
                                        <div class="mr-2 radiobutton {{ array_di.estado_patentamiento == 'Abandonada' ? 'active' : '' }}" (click)="array_di.estado_patentamiento='Abandonada'">
                                          <div style="display: inline;" class="material-icons vertical-align-middle mr-3px" *ngIf="array_di.estado_patentamiento == 'Abandonada'">done</div> Abandonada
                                        </div>
                                        <div class="mr-2 radiobutton {{ array_di.estado_patentamiento == 'Dominio público' ? 'active' : '' }}" (click)="array_di.estado_patentamiento='Dominio público'">
                                          <div style="display: inline;" class="material-icons vertical-align-middle mr-3px" *ngIf="array_di.estado_patentamiento == 'Dominio público'">done</div> Dominio público
                                        </div>
                                        <div class="mr-2 radiobutton {{ array_di.estado_patentamiento == 'Concedida' ? 'active' : '' }}" (click)="array_di.estado_patentamiento='Concedida'">
                                          <div style="display: inline;" class="material-icons vertical-align-middle mr-3px" *ngIf="array_di.estado_patentamiento == 'Concedida'">done</div> Concedida
                                        </div>
                                        <div class="mr-2 radiobutton {{ array_di.estado_patentamiento == 'EPO' ? 'active' : '' }}" (click)="array_di.estado_patentamiento='EPO'">
                                          <div style="display: inline;" class="material-icons vertical-align-middle mr-3px" *ngIf="array_di.estado_patentamiento == 'EPO'">done</div> EPO
                                        </div>
                                  </div>
                                  <!-- <div class="uc-alert warning" *ngIf="!estado_patentamiento.valid && estado_patentamiento.touched">
                                    <div class="uc-alert_content">
                                      <i class="uc-icon icon-size--sm ">warning</i>
                                      <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                    </div>
                                  </div> -->
                                </div>
                                <!-- Nro de solicitud -->
                                <div class="col-12 mb-24">
                                  <div class="uc-form-group">
                                    <label for="nro_solicitud">{{section['input_nro_solicitud']['label']}}</label>
                                    <i class="ml-2 color-red float-right" *ngIf="!nro_solicitud.value" title="Campo obligatorio">* Obligatorio</i>
                                    <i class="material-icons ml-2 color-green float-right" *ngIf="nro_solicitud.valid && nro_solicitud.value">done </i>
                                    <input [(ngModel)]="array_di.nro_solicitud" #nro_solicitud="ngModel" name="nro_solicitud" required type="number" class="uc-input-style" placeholder="{{section['input_nro_solicitud']['placeholder']}}">
                                  </div>
                                  <div class="uc-alert warning" *ngIf="!nro_solicitud.valid && nro_solicitud.touched">
                                    <div class="uc-alert_content">
                                      <i class="uc-icon icon-size--sm ">warning</i>
                                      <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                    </div>
                                  </div>
                                </div>
                                <!--  Territorialidad -->
                                <div class="col-12 mb-30 uc-form-group">
                                  <label>{{section['input_territorialidad']['label']}}</label>
                                  <i class="ml-2 color-red float-right" *ngIf="!array_di.territorialidad" title="Campo obligatorio">* Obligatorio</i>
                                  <i class="material-icons color-green ml-2 vertical-align-middle text-weight--700 float-right" *ngIf="array_di.territorialidad">done </i>
                                  <hr class="hr_label">
                                  <div class="radiobutton {{ array_di.territorialidad == 'Nacional' ? 'active' : '' }}" (click)="territ('Nacional')">
                                    <div style="display: inline;" class="material-icons vertical-align-middle mr-3px" *ngIf="array_di.territorialidad == 'Nacional'">done</div> Nacional
                                  </div>
                                  <div class="radiobutton {{ array_di.territorialidad == 'Extranjera' ? 'active' : '' }}" (click)="territ('Extranjera')">
                                    <div style="display: inline;" class="material-icons vertical-align-middle mr-3px" *ngIf="array_di.territorialidad == 'Extranjera'">done</div> Extranjera
                                  </div>
                                </div>  

                                <!-- Tipo de presentación -->
                                <div class="col-12 uc-form-group mb-30" *ngIf="array_di.territorialidad" >
                                  <label for="tipo_presentacion">{{section['input_tipo_presentacion']['label']}}</label>
                                  <i class="ml-2 color-red float-right" *ngIf="!array_di.tipo_presentacion" title="Campo obligatorio">* Obligatorio</i>
                                  <i class="material-icons color-green ml-2 vertical-align-middle text-weight--700 float-right" *ngIf="array_di.tipo_presentacion">done </i>
                                  <hr class="hr_label">
                                  <div *ngIf="array_di.territorialidad=='Nacional'" class="radiobutton {{ array_di.tipo_presentacion == 'Prioridad nacional' ? 'active' : '' }}" (click)="tipo_presentacion('Prioridad nacional')">
                                    <div style="display: inline;" class="material-icons vertical-align-middle mr-3px" *ngIf="array_di.tipo_presentacion == 'Prioridad nacional'">done</div> Prioridad nacional
                                  </div>
                                  <div *ngIf="array_di.territorialidad=='Nacional'" class="radiobutton {{ array_di.tipo_presentacion == 'Nacional no prioridad' ? 'active' : '' }}" (click)="tipo_presentacion('Nacional no prioridad')">
                                    <div style="display: inline;" class="material-icons vertical-align-middle mr-3px" *ngIf="array_di.tipo_presentacion == 'Nacional no prioridad'">done</div> Nacional no prioridad
                                  </div>
                                  <div *ngIf="array_di.territorialidad=='Extranjera'" class="radiobutton {{ array_di.tipo_presentacion == 'Extranjera' ? 'active' : '' }}" (click)="tipo_presentacion('Extranjera')">
                                    <div style="display: inline;" class="material-icons vertical-align-middle mr-3px" *ngIf="array_di.tipo_presentacion == 'Extranjera'">done</div> Extranjera
                                  </div>
                                </div>
                                <!-- Tipo de presentacion de patente -->
                                <!-- <div class="col-12 mb-24">
                                  <div class="uc-form-group">
                                    <label for="tipo_presentacion">{{section['input_tipo_presentacion']['label']}}</label>
                                    <i class="material-icons ml-2 color-red" *ngIf="!tipo_presentacion.value" title="Campo obligatorio">* </i>
                                    <i class="material-icons ml-2" style="color:green" *ngIf="tipo_presentacion.valid && tipo_presentacion.value">check_circle </i>
                                    <input [(ngModel)]="array_di.tipo_presentacion" #tipo_presentacion="ngModel" name="tipo_presentacion" required type="text" class="uc-input-style" placeholder="{{section['input_tipo_presentacion']['placeholder']}}">
                                  </div>
                                  <div class="uc-alert warning" *ngIf="!tipo_presentacion.valid && tipo_presentacion.touched">
                                    <div class="uc-alert_content">
                                      <i class="uc-icon icon-size--sm ">warning</i>
                                      <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                    </div>
                                  </div>
                                </div> -->
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <!-- Archivos -->
                    <div *ngIf="i == 1 && section['active']" class="uc-collapse uc-card">
                      <a (click)="collapse('archivos')" class="uc-collapse_heading collapse_header" data-collapse="collapseExample" title="Desplegar/Contraer contenido">
                          <span class="material-icons mr-20">backup</span>
                          <h4>{{section['title']}}<br><p class="font-size-14">Cargar documentos</p></h4>
                          <span class="uc-btn btn-inline ml-auto">
                            Ver más
                            <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
                          </span>
                      </a>
                      <div id="archivos" style="display: none;"  class="uc-collapse_body collapse_body" data-toggle="collapseExample">
                        <div class="m-5" *ngFor="let section of section['sections']; let i = index">
                          <div class="row">

                              <!-- Titulo fecha -->
                              <!-- <div class="col-12 uc-form-group">
                                <label>{{section.input_fecha_embargo.label}} </label>
                                <i class="material-icons ml-2 color-red" *ngIf="!rango_date" title="Campo obligatorio">* </i>
                                <i class="material-icons ml-2" style="color:green" *ngIf="rango_date && array_di.fecha_embargo != '0000-00-00'">check_circle </i>

                                <div *ngIf="soportadateInput" class="d-flex align-items-center">
                                    <input [(ngModel)]="array_di.fecha_embargo" #fecha_embargo="ngModel" onkeydown="return false" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"  type="date" name="fecha_embargo" id="fecha_embargo" class="uc-input-style calendar-box col-3 border-input" placeholder="aaaa-mm-dd" min={{today}} >
                                </div>

                                <ng-container *ngIf="!soportadateInput">
                                  <input [(ngModel)]="array_di.fecha_embargo" name="fecha_embargo" #fecha_embargo="ngModel" id="fecha_embargo" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" type="date" (ngModelChange)="fechaHoy($event)" class="uc-input-style calendar-box col-4" placeholder="aaaa-mm-dd" >    
                                  <a class="link ml-8" *ngIf="archivo.fecha!='0000-00-00'" (click)="archivo.fecha='0000-00-00';rango_date=true">Sin fecha de embargo</a>                  
                                  <div *ngIf="!fecha_embargo.valid" class="row alert-info m-2">
                                    <i class="material-icons pr-2">warning </i> Formato debe ser aaaa-mm-dd
                                  </div>
                                </ng-container>
                              </div> --> 

                              <!-- Importante -->
                              <!-- <div *ngIf="array_di.fecha_embargo != '0000-00-00'" class="col-12 mb-32">
                                <div class="uc-alert info mb-12">
                                  <div class="uc-alert_content">
                                    <i class="uc-icon icon-size--sm">info</i>
                                    <span class="p p-size--sm bold ml-8"><strong>¡IMPORTANTE!</strong>: Al seleccionar una fecha de embargo, tanto los archivos de sus datos de investigación, como la información que los identifican (metadatos) estarán bajo estricta confidencialidad y no serán disponibilizados al público por el período indicado.</span> 
                                  </div>
                                </div>
                              </div> -->

                              <!-- Titulo Archivo -->
                              <div class="col-12 mb-24">
                                <label><strong>{{section.input_seleccionar_archivo.label}}</strong> </label>
                                <!-- <i *ngIf="array_di.archivos.length==1" class="material-icons ml-2 color-red" title="Campo obligatorio">* </i> -->
                                <i *ngIf="array_di.archivos.length>1" class="material-icons pr-2 color-green float-right">done </i>
                                <div class="col-12 linea-abajo mb-24"></div>
                              </div>  
        
                              <ng-container *ngFor="let carga of array_di.archivos; let i = index" > 
                                <!-- Archivos cargados -->
                                <ng-container *ngIf="formFile && i>0">
        
                                  <!-- NUEVO ARCHIVO -->
                                  <div class="col-11">
                                    <span *ngIf="carga.archivo" class="mt-16 ">{{carga.archivo}} </span>
                                  </div>

                                  <!-- Boton remover filtro -->
                                  <div *ngIf="i>0" class="col-1 font-righted ">
                                    <button (click)="removeFile(i)" type="button" class="bg-white" title="Remover campos">
                                      <i class="uc-icon  text-size--34 color-celeste">delete_forever</i>
                                    </button>
                                  </div>

                                  <div class="col-12 linea-abajo mb-24"></div>
                                </ng-container>
                              </ng-container>
        
                              <!-- Boton agregar filtro -->
                              <!-- <div class="col-12 font-righted">
                                  <span class="color-celeste text-weight--700 mr-8">{{section['input_seleccionar_archivo']['boton']}}</span>
                                  <label for="file" class="uc-btn--circle" title="Agregar más">
                                  <i class="uc-icon icon-shape--rounded text-size--34">add</i>
                                  </label>
                                  <input id="file" type="file" name="file" class="d-none" multiple (change)="seleccionarArchivo($event)">
                              </div> -->
                              
                              
                              <div class="uc-form-group  d-flex">
                                <label for="file" class="uc-btn btn-primary">{{section['input_seleccionar_archivo']['boton']}}<i class="uc-icon icon-shape--rounded ml-2">cloud_upload</i></label>
                                <input id="file" type="file" name="file" class="d-none" multiple (change)="seleccionarArchivo($event)">
                              </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Licencia -->
                    <div *ngIf="i == 2 && section['active']" class="uc-collapse uc-card">
                      <a (click)="collapse('licencia')" class="uc-collapse_heading collapse_header" data-collapse="collapseExample" title="Desplegar/Contraer contenido">
                          <span class="material-icons mr-20">local_police</span>
                          <h4>{{section['title']}}<br><p class="font-size-14">Conceder licencia</p></h4>
                          <span class="uc-btn btn-inline ml-auto">
                            Ver más
                            <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
                          </span>
                      </a>
                      <div id="licencia" style="display: none;" class="uc-collapse_body collapse_body" data-toggle="collapseExample">
                        <div class="m-5">
                          <div class="uc-card mb-32">
                            <div class="uc-card_body">
        
                              <h3>Revisa y envía</h3>
        
                              
                              <div class="uc-form-group mb-0 mt-24 mb-60">
                                <input #concedo_licencia="ngModel" [(ngModel)]="array_di.concedo_licencia" required pattern="[a-zA-Z]+" id="concedo_licencia" name="concedo_licencia" type="checkbox" class="uc-input__checkbox mr-8">
                                <label for="concedo_licencia">Concedo licencia </label>
                                <i class="ml-2 color-red float-right" *ngIf="!concedo_licencia.valid" title="Campo obligatorio">* Obligatorio</i>
                                <i class="material-icons ml-2 color-green float-right"  *ngIf="concedo_licencia.valid">done </i>
                                <hr class="hr_label">
                              </div>
                              <div class="uc-alert warning col-12" *ngIf="!concedo_licencia.valid && concedo_licencia.touched">
                                <div class="uc-alert_content">
                                  <i class="uc-icon icon-size--sm ">warning</i>
                                  <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                </div>
                              </div>
                              <h3 class="mt-60">Almacenamiento y Autorización de Cosecha/Recolección de Documentos</h3>
                              <p class="mt-24">La PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE (UC) ha suscrito convenios con instituciones nacionales e internacionales, que recolectan (harvest) publicaciones académicas y tesis (las Obras) disponibles en los repositorios institucionales, para almacenarlas digitalmente y facilitar su visibilidad a potenciales interesados en usar el contenido en programas académicos y de investigación.</p>
                              <p>En su calidad de titular de la propiedad intelectual, el Autor de la Obra almacenada en el repositorio de la UC debe autorizar su cosecha / recolección para los efectos antes mencionados. Por lo tanto, en este acto y en mi calidad de Autor de la Obra, otorgo la siguiente autorización:</p>
                              <ul>
                                <li>
                                  Declaro que detento todos los derechos sobre mi Obra y no he otorgado autorizaciones de uso a terceros que restrinjan mi facultad de ejercer dichos derechos. A mayor abundamiento, me obligo a mantener indemne a la UC de todo reclamo y acción legal de un tercero alegando que mi obra infringe su derecho de autor.
                                </li>
                                <li>
                                  Que la Obra depositada en el Repositorio UC y dada la naturaleza de ésta, puede ser recolectada por terceros para ser reproducida y almacenada en un sistema digital o base de datos con el objetivo de ser comunicada al público por cualquier medio y distribuida para darle mayor visibilidad.
                                </li>
                                <li>
                                  Que autorizo la reproducción total o parcial de la Obra, siempre asociada a mi nombre en calidad de Autor.
                                </li>
                                
                                  <li>Que en ninguna circunstancia autorizo la adaptación, transformación, traducción y en general cualquier tipo de modificación a mi Obra.</li>
                                  <li>Que en el caso de que la Obra genere eventuales pagos por derechos de autor, también conocidos como royalties/regalías, estos serán gestionados directamente por mi (en mi calidad de Autor de la Obra) y la organización correspondiente.</li>
                                
                                
                              </ul>
                              <p>Si tiene alguna duda sobre los términos de esta autorización, por favor envíela a <a href='mailto:repositorio@uc.cl'>repositorio@uc.cl.</a></p> 
                              <p>Otorgue esta autorización seleccionando la opción correspondiente y pulsando "Siguiente".</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </section>

                <!-- paso 2 -->
                <section class="row mb-32" *ngIf="i == 1 && forms['active'] && activePane=='t2'">
                  <div class="col-12">

                    <h2 class="mb-5">Resumen</h2>

                    <!-- Tipo de publicación:  -->
                    <div class="row p-2 linea-abajo" *ngFor="let item of array_resumen; let i = index">
                      <h5 class="col-md-4">
                        {{item.param}}
                      </h5>
                      <div class="col-md-8">
                        <ng-container *ngIf="item.param != 'Archivos'">
                          {{item.valor}}
                        </ng-container>
                        <ng-container *ngIf="item.param == 'Archivos'">        
                          <div *ngFor="let valores of item['valor']; let i = index">
                            {{valores.archivo}}
                          </div>
                      </ng-container>
                      </div>
                    </div>

                  </div>
                </section>
                <!-- paso 3 -->
                <ng-container *ngIf="i == 2 && forms['active'] && activePane=='t3'"> 
                  <!-- Loguearse antes de enviar -->
                  <div *ngIf="login" class="uc-message warning col-lg-8 offset-lg-2">
                    <div class="uc-message_body">
                      <img src="assets/img/logo-uc-color.png" width="100px" alt="Logo Uc" class="vertical-align-middle mb-32">
                      <span class="font-size-44"> Autorización</span>

                      <!-- Alerta login error -->
                      <div *ngIf="errLog" class="uc-alert error mb-12">
                        <div class="uc-alert_content">
                            <i class="uc-icon icon-size--sm">cancel</i>
                            <span class="p p-size--sm bold ml-8">¡CONTRASEÑA INCORRECTA! por favor intenta nuevamente procurando escribirla correctamente.</span>
                        </div>
                      </div>

                      <!-- Contraseña -->
                      <div class="row bg-gris_C p-16">
                        <div class="col mb-24">
                          <div class="uc-form-group">
                            <label class="font-size-18">Clave UC </label>
                            <i class="material-icons ml-2 color-red" *ngIf="!clave.value" title="Campo obligatorio">* </i>
                            <i class="material-icons ml-2" style="color:green" *ngIf="clave.valid && clave.value">check_circle </i>
                            
                            <div class="row mb-32">
                              <div class="col">
                                <input #clave="ngModel" [(ngModel)]="array_di.clave" required type="password" class="uc-input-style w-min--auto" name="clave" id="clave" placeholder="Ingresar Contraseña">
                                <div *ngIf="!clave.valid && clave.touched" class="row alert-info m-2">
                                  <i class="material-icons pr-2">warning </i> Campo requerido
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="d-flex align-items-center">
                                  <button type="button" title="Botón" class="ml-8 col-lg-4 offset-lg-4 text-align-right bg-none color-red" (click)="activePane = 't' + (i); toScroll()">Cancelar</button>
                                  <button type="submit" title="Botón" class="uc-btn btn-cta col-lg-4" [disabled]="!array_di.clave">Enviar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Logueado y resultado de envío -->
                  <ng-container *ngIf="!login">
                    <!-- Cargando -->
                    <div *ngIf="msj == 'cargando'" class="font-centered">
                      <h2 class="mt-60"><span class="material-icons color-amarillo-oscuro">pan_tool</span> ¡Espere un momento!</h2>
                      <p>Estamos cargando los datos</p>
                      <img class="mt-24" src="../../../assets/img/loading-circulos.gif"  width="150px"><br>
                      <img class="mb-3" src="../../../assets/img/anviando-datos.gif">
                    </div>

                    <!-- Mensaje de éxito -->
                    <div class="mb-32" *ngIf="msj == 'success'" > 
                      <div class="uc-card_body col-lg-8 offset-lg-2 font-centered">
                        
                        <h3 class="mb-60">
                          <i class="material-icons color-celeste vertical-align-middle" style="font-size: 44px;">check</i>
                          Estado de carga exitosa
                        </h3>
                        <p><strong>¡Muchas gracias {{usuario}}!</strong> recibido tu investigación. Mediante correo electrónico te informaremos cuando se encuentre disponible en el Repositorio UC.<br>
                          Esta publicación será un gran aporte para la comunidad científica nacional e internacional y un incentivo para fomentar la investigación de nuestra Universidad.
                        </p>
                        
                        <!-- VALORIZACION -->
                        <section *ngIf="json['rating']['star'].active" class="uc-section uc-section__header border">
                          <div class="container">
                            <div class="uc-message">
                              <div class="uc-message_body">
                                <h2 class="mb-24">{{json['rating']['star'].title}}</h2>
                                <iframe src="https://uc-cl.libwizard.com/f/ux-pa" frameborder=0 scrolling=no style="height:250px !important"></iframe>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                      <div class="mt-5 col-12">
                        <p style="float: left;">
                          Ante cualquier consulta, escribir a <a href="mailto:repositorio@uc.cl">repositorio@uc.cl</a><br>
                          <strong>Equipo Repositorio UC</strong>
                        </p>
                        <button type="button" title="Botón" class="uc-btn btn-cta btn_line ws--nw" style="width: 77px; float: right;" [routerLink]="['/upload/form']" (click)="toScroll(); resetFile(); newUpload(uploadForm)">Salir</button>
                      </div>
                    </div>

                    <!-- Mensaje de error -->
                    <div  class="mb-32" *ngIf="msj == 'error'" >
                      <div class="uc-card_body col-lg-8 offset-lg-2 font-centered">
                        <h3 class="mb-60">
                          <i class="material-icons texto-dg-rojo vertical-align-middle mr-1" style="font-size: 44px;">highlight_off</i>
                          Envío ha fallado
                        </h3>
                        <p>No hemos recibido tu investigación. <span (click)="activePane = 't' + (i); toScroll()" class="uc-btn btn-cta ws--nw d-inline pointer">Inténtalo nuevamente</span></p>
                      </div>
                      <div class="mt-5 col-12">
                        <p style="float: left;">
                          Ante cualquier consulta, escribir a <a href="mailto:repositorio@uc.cl">repositorio@uc.cl</a><br>
                          <strong>Equipo Repositorio UC</strong>
                        </p>
                        <button type="button" title="Botón" class="uc-btn btn-cta btn_line ws--nw" style="width: 77px; float: right;" [routerLink]="['/upload/form']" (click)="toScroll(); resetFile(); newUpload(uploadForm)">Salir</button>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>

                <!-- botones -->
                <div class="upload-buttons_container d-flex" style="justify-content: center; width: 100%;">
                  <button type="button" title="Botón" class="uc-btn btn-cta btn_line ml-8 ws--nw" style="width: 100px;" *ngIf="i == 0 && activePane=='t1'" [routerLink]="['/upload/form']" (click)="toScroll(); resetFile()">Salir</button>
                  <button type="button" title="Botón" class="uc-btn btn-cta btn_line ml-8 ws--nw" style="width: 100px;" *ngIf="i == 1 && activePane=='t2'" (click)="activePane = 't' + (i); toScroll()">Anterior</button>
                  <!-- <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 2 && activePane=='t3'" (click)="activePane = 't' + (i); toScroll()">Anterior</button> -->

                  <button type="button" title="Botón" class="uc-btn btn-celeste ml-8 ws--nw" style="width: 100px;"  *ngIf="i == 0" (click)="activePane = 't' + (i+2); toScroll(); tabla_resumen()" [disabled]="!array_di.titulo || !array_di.autor || !array_di.concedo_licencia">Siguiente</button>
                  <!-- <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 1" (click)="activePane = 't' + (i+2); toScroll()" [disabled]="array_di.archivos.length==1">Siguiente</button> -->
                  <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" style="width: 150px;" *ngIf="i == 1 && !password" (click)="activePane = 't' + (i+2); toScroll(); loguearse()">Enviar <span class="material-icons vertical-align-middle ml-2">send</span></button>
                  <button type="submit" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" style="width: 150px;" *ngIf="i == 1 && password" (click)="activePane = 't' + (i+2); toScroll()">Enviar <span class="material-icons vertical-align-middle ml-2">send</span></button>
                </div>
                
              </div>
            </ng-container>
          </div>
        </form>
      </section>
    </section>
  </div>
</section>
<!-- SERVICIO SUSPENDIDO -->
<section *ngIf="!json['horizon_forms']['active']" class="mt-60">
  <div class="container">
    <div class="uc-message">
      <div class="uc-message_body">
          <h2 class="mb-24">Servicio suspendido por vacaciones</h2>
          <p class="no-margin">El formulario para "subir y compartir" archivos estará deshabilitado en febrero del 2022 por período de vacaciones UC. El 1 de marzo volverá a estar operativo.</p>
      </div>
    </div>
  </div>
</section>

<!-- ++++++++++ HELP ++++++++++ -->

<section class="uc-section uc-section__page" *ngIf="main['section_help'].active">
  <div class="container mt-100 margin-bottom-100 p-5 border-top">
    <div class="row" >
      <h4 class="col-12 font-centered mb-32">¿Necesitas ayuda?</h4>
      <ng-container *ngFor="let page of main['section_help']['help']">
        <div class="col-lg-4 mb-50" >
          <article class="row font-centered">
            <div class="col-12 mb-20">
              <a title="{{ page['link']['title'] }}" target="_blank"  href="{{ page['link']['url'] }}" class="">
                <i class="uc-icon font-size-20 circulo-lineal">{{ page['image']}}</i>
              </a>
            </div>
            <div class="col-12">
              <p>
                <a title="{{ page['link']['title'] }}" target="_blank" href="{{ page['link']['url'] }}">{{ page['title'] }}</a>
                <a title="{{ page['link']['title'] }}" target="_blank"  href="{{ page['link']['url'] }}" class="uc-link no-decoration text-align--right mt-auto ml-2">
                  <strong>{{ page['link']['text'] }}<i class="uc-icon">{{ page['link']['icon'] }}</i></strong>
                </a>
              </p>
            </div>
          </article>

        </div>
      </ng-container>
     <!--  <P class="col-12 font-centered mt-16">Si necesita apoyo, contáctenos a: <a href="mailto:gestiondedatos@uc.cl">gestiondedatos@uc.cl</a></P> -->
    </div>
  </div>
</section>