
<section id="arriba" class="uc-section uc-section__header " *ngIf="json['horizon_header']['active']">
  <div class="container">
    <!-- partials/commons/breadcrumbs -->
    <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
    <div class="row">
      <!-- <div class="col-12">
        <h1 class="mb-24">{{ json['horizon_header']['title'] }}</h1>
      </div> -->
      <div class="col-md-8 col-12">
        <!-- <p>{{ json['horizon_header']['excerpt'] }}</p> -->
        <ng-container *ngIf="json['horizon_header']['section_conditions']['active']">
          <p class="mt-24 text-weight--700 mb-0">{{json['horizon_header']['section_conditions']['text']}}</p>
          <ul class="uc-list uc-list--gots mt-8">
            <li class="uc-list__item" *ngFor="let term of json['horizon_header']['section_conditions']['terms']" [innerHTML]="term"></li>
          </ul>
        </ng-container>
      </div>
      <div class="col-md-4 col-12" *ngIf="json['horizon_header']['section_upload']['active']">
        <div class="uc-card">
          <div class="uc-card_body uc-card_body--featured font-centered">
            <h2>{{ compartir['compartir-investigacion']['titulo'] }}</h2>
            <button type="button" title="{{ compartir['compartir-investigacion']['titulo'] }}" class="uc-btn btn-cta mt-16">{{ compartir['compartir-investigacion']['boton']['titulo'] }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- PASOS Y FORM -->
<section class="uc-section uc-section__page py-32" *ngIf="json['horizon_forms']['active']" id="pasos">
  <div class="container">
    <section *ngIf="pagina != 'form'" class="uc-card p-lg-5">
      <section class="uc-card_body">
        <div class="d-flex mb-60">
          <h2>Subir Datos de Investigación</h2>
          <span class="material-icons ml-auto pointer font-size-44 color-celeste" [routerLink]="['/upload/form']" (click)="newUpload(uploadForm)" title="Cerrar">close</span>
        </div>
        <!-- LINEA DE TIEMPO -->
        <div class="d-flex mb-60">
          <!-- PASO 1 -->
          <div class="panel-button_container row">
            <div class="panel-line-first {{ (activePane == 't2' || activePane == 't3' || activePane == 't4') ? 'active' : '' }}"></div>
            <button class="panel-button {{ activePane == 't1' ? 'active' : '' }}" tabindex="-1">1</button>
            <span class="d-block {{ activePane == 't1' ? 'text-weight--700' : '' }} mt-1 col-12 text-align-center">Paso 1</span>
            <span class="d-block {{ activePane == 't1' ? 'text-weight--700' : '' }} namePasos col-12 text-align-center">{{ json['horizon_forms']['content'][0]['title'] }}</span>
          </div>
          <!-- PASO 2 -->
          <div class="panel-button_container row">
            <div class="panel-line {{ (activePane == 't3' || activePane == 't4') ? 'active' : '' }}"></div>
            <button class="panel-button {{ activePane == 't2' ? 'active' : '' }}" tabindex="-1">2</button>
            <span class="d-block {{ activePane == 't2' ? 'text-weight--700' : '' }} mt-1 col-12 text-align-center">Paso 2</span>
            <span class="d-block {{ activePane == 't2' ? 'text-weight--700' : '' }} namePasos col-12 text-align-center">{{ json['horizon_forms']['content'][1]['title'] }}</span>
          </div>
          <!-- PASO 3 -->
          <div class="panel-button_container row">
            <div class="panel-line-last {{ activePane == 't4' ? 'active' : '' }}"></div>
            <button class="panel-button {{ activePane == 't3' ? 'active' : '' }}" tabindex="-1">3</button>
            <span class="d-block {{ activePane == 't3' ? 'text-weight--700' : '' }} mt-1 col-12 text-align-center">Paso 3</span>
            <span class="d-block {{ activePane == 't3' ? 'text-weight--700' : '' }} namePasos col-12 text-align-center">{{ json['horizon_forms']['content'][2]['title'] }}</span>
          </div>
          <!-- PASO 4 -->
          <!-- <div class="panel-button_container">
            <button  class="panel-button {{ activePane == 't4' ? 'active' : '' }}" tabindex="-1">4</button>
            <span class="d-block {{ activePane == 't4' ? 'text-weight--700' : '' }} mt-1">Paso 4</span>
            <span class="d-block {{ activePane == 't4' ? 'text-weight--700' : '' }} namePasos">{{ json['horizon_forms']['content'][3]['title'] }}</span>
          </div> -->
        </div>
        
        <!-- FORM -->
        <form class="form-panel" #uploadForm="ngForm" (ngSubmit)="submitPublica(uploadForm)" novalidate>
          <div class="panels" [@slide]="activePane">
            <ng-container *ngFor="let forms of json['horizon_forms']['content']; let i = index">
              <div class="panel {{ activePane == 't'+(i+1) ? 'active' : '' }}">
                
                <!-- titulo y botones -->
                <!-- <div class="d-flex mt-60 mb-24 uc-title__complex">
                  <app-title [title]="forms['title']" [type]="'decorated-marginless'"></app-title>
                  <div class="d-flex align-items-center">
                    <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 1 && activePane=='t2'" (click)="activePane = 't' + (i); toScroll()">Anterior</button>
                    <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 2 && activePane=='t3'" (click)="activePane = 't' + (i); toScroll()">Anterior</button>
                    
                    <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 0" (click)="activePane = 't' + (i+2); toScroll()" [disabled]="!array_di.titulo || !array_di.resumen || !array_di.keyword || !statusresponsable">Siguiente</button>     
                    <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 1" (click)="activePane = 't' + (i+2); toScroll()" [disabled]="array_di.archivos.length==1">Siguiente</button>
                    <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw bg-celeste" *ngIf="i == 2 && !password" (click)="activePane = 't' + (i+2); toScroll(); loguearse()" [disabled]="!array_di.licencia.concedo_licencia">Enviar</button>
                  <button type="submit" title="Botón" class="uc-btn btn-cta ml-8 ws--nw bg-celeste" *ngIf="i == 2 && password" (click)="activePane = 't' + (i+2); toScroll()" [disabled]="!array_di.licencia.concedo_licencia">Enviar</button>
                  </div>
                  
                </div> -->

                <!-- Alertas -->
                <!-- <ng-container>
                  <p class="col-lg-4 offset-lg-8 mr-1 mb-24 color-red text-align-right font-size-12" *ngIf="i == 0 && !array_di.titulo || !array_di.resumen || !array_di.keyword || !statusresponsable" >
                    <i class="material-icons vertical-align-middle" title="Campos obligatorios">*</i> Campos obligatorios.
                  </p>
                  <p class="col-lg-4 offset-lg-8 mr-1 mb-24 color-red text-align-right font-size-12" *ngIf="i == 1 && array_di.archivos.length==1" >
                    <i class="material-icons vertical-align-middle" title="Campos obligatorios">*</i> Campos obligatorios.
                  </p>
                  <p class="col-lg-4 offset-lg-8 mr-1 mb-24 color-red text-align-right font-size-12" *ngIf="i == 2 && !array_di.licencia.concedo_licencia" >
                    <i class="material-icons vertical-align-middle" title="Campos obligatorios">*</i> Campos obligatorios.
                  </p>
                </ng-container> -->

                <!-- paso 1 -->
                <section class="mb-32" *ngIf="i == 0 && forms['active'] && activePane=='t1'">
                  <ng-container *ngFor="let section of forms['sections']; let i = index">
                    <!-- Datos generales -->
                    <div *ngIf="i == 0 && section['active']" class="uc-collapse uc-card">
                      <a (click)="collapse('general')" class="uc-collapse_heading collapse_header" data-collapse="collapseExample" title="Desplegar/Contraer contenido">
                          <span class="material-icons mr-20">content_paste</span>
                          <h4>{{section['title']}}<br><p class="font-size-14">Ingresar datos de la publicación</p></h4>
                          <span class="uc-btn btn-inline ml-auto">
                            Ver más
                            <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
                          </span>
                      </a>
                      <div id="general"  class="uc-collapse_body collapse_body" data-toggle="collapseExample">
                        <div class="m-5" *ngFor="let section of section['sections']; let i = index">

                          <!-- Datos generales -->
                          <div class="uc-card uc-card--gray mb-32" *ngIf="i == 0 && section['active']">
                            <div class="uc-card_body">
                              <h3 class="mb-32">{{ section['title'] }}</h3>
                              <div class="row">
                                <!-- titulo de investigacion -->
                                <div class="col mb-24">
                                  <div class="uc-form-group">
                                    <label for="titulo">{{section['input_titulo_investigacion']['label']}} </label>
                                    <i class="material-icons ml-2 color-red" *ngIf="!titulo.value" title="Campo obligatorio">* </i>
                                    <i class="material-icons pr-2" style="color:green" *ngIf="titulo.valid && titulo.value">check_circle </i>
                                    <input [(ngModel)]="array_di.titulo" #titulo="ngModel" name="titulo" required type="text" class="uc-input-style" placeholder="{{section['input_titulo_investigacion']['placeholder']}}">
                                  </div>
                                  <div class="uc-alert warning" *ngIf="!titulo.valid && titulo.touched">
                                    <div class="uc-alert_content">
                                      <i class="uc-icon icon-size--sm ">warning</i>
                                      <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                    </div>
                                  </div>
                                </div>
                                <!-- Descripción -->
                                <div class="col-12 mb-24">
                                  <div class="uc-form-group">
                                    <label for="resumen">{{section['input_resumen']['label']}}</label>
                                    <i class="material-icons ml-2 color-red" *ngIf="!resumen.value" title="Campo obligatorio">* </i>
                                    <i class="material-icons ml-2" style="color:green" *ngIf="resumen.valid && resumen.value">check_circle </i>
                                    <textarea [(ngModel)]="array_di.resumen" #resumen="ngModel" name="resumen" class="uc-input-style" rows="8" cols="80" placeholder="{{section['input_resumen']['placeholder']}}"></textarea>
                                    <span class="text-color--gray-dark">{{section['input_resumen']['small']}}</span>
                                  </div>
                                  <div class="uc-alert warning" *ngIf="!resumen.valid && resumen.touched">
                                    <div class="uc-alert_content">
                                      <i class="uc-icon icon-size--sm ">warning</i>
                                      <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- Autores persona o unidad -->
                          <div class="uc-card uc-card--gray mb-32" *ngIf="i == 1 && section['active']">
                            <div class="uc-card_body">
                              <h3 class="mb-32">{{ section['title'] }}</h3>
                              
                              <div class="row">

                                  <ng-container *ngFor="let persona of array_di.responsable; let i = index">                      
                                    <div class="col-md-3">
                                      <div class="uc-form-group">
                                        <label>Apellido </label>
                                        <i class="material-icons ml-2 color-red" *ngIf="!apellido.value" title="Campo obligatorio">* </i>
                                        <i class="material-icons ml-2" style="color:green" *ngIf="apellido.valid && apellido.value">check_circle </i>
                                        <input [(ngModel)]="persona.apellido" #apellido="ngModel" name="apellido_{{i}}" required type="text" class="uc-input-style w-min--auto" placeholder="Apellido" (change)="autor('persona')">
                                        <!-- <div *ngIf="!apellido.valid && apellido.touched" class="row alert-info m-2">
                                          <i class="material-icons pr-2">warning </i> Campo requerido
                                        </div> -->
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <div class="uc-form-group">
                                        <label>Nombre </label>
                                        <i class="material-icons ml-2 color-red" *ngIf="!nombre.value" title="Campo obligatorio">* </i>
                                        <i class="material-icons ml-2" style="color:green" *ngIf="nombre.valid && nombre.value">check_circle </i>
                                        <input [(ngModel)]="persona.nombre" #nombre="ngModel" name="nombre_{{i}}"  required type="text" class="uc-input-style w-min--auto" placeholder="Nombre" (change)="autor('persona')">
                                        <!-- <div *ngIf="!nombre.valid && nombre.touched" class="row alert-info m-2">
                                          <i class="material-icons pr-2">warning </i> Campo requerido
                                        </div> -->
                                      </div>
                                    </div>
                                    <div class="col-1 mt-50 font-centered"><strong>y/o</strong></div>
                                    <div class="col-md-4">
                                      <div class="uc-form-group">
                                        <label>Unidad / Centro / Departamento </label>
                                        <i class="material-icons ml-2 color-red" *ngIf="!name_unidad.value" title="Campo obligatorio">* </i>
                                        <i class="material-icons ml-2" style="color:green" *ngIf="name_unidad.valid && name_unidad.value">check_circle </i>
                                        <input [(ngModel)]="persona.nombre_unidad" #name_unidad="ngModel" name="name_unidad_{{i}}" required type="text" class="uc-input-style w-min--auto" placeholder="Ingresar Nombre de su Unidad, Centro o Departamento" (change)="autor('unidad')">
                                        <!-- <div *ngIf="!name_unidad.valid && name_unidad.touched" class="row alert-info m-2">
                                          <i class="material-icons pr-2">warning </i> Campo requerido
                                        </div> -->
                                      </div>
                                    </div>
                                  
                                    <!-- Boton remover persona -->
                                    <div *ngIf="i>0" class="col-1 font-righted centrar-vertical mt-24">
                                      <button (click)="removePersona(i)" type="button" class="uc-btn--circle mr-4 p-0 " title="Remover campos">
                                        <i class="uc-icon icon-shape--rounded text-size--34 bg-amarillo-oscuro">remove</i>
                                      </button>
                                    </div>

                                    <div class="uc-alert warning col-12" *ngIf="(!apellido.valid && apellido.touched && !nombre.valid && nombre.touched) && (!name_unidad.valid && name_unidad.touched)">
                                      <div class="uc-alert_content">
                                        <i class="uc-icon icon-size--sm ">warning</i>
                                        <span class="p p-size--sm bold ml-8">Debe agregar nombre apellido y/o Unidad</span>
                                      </div>
                                    </div>
                                  </ng-container>

                                  <!-- Boton agregar filtro -->
                                  <div class="col-1 offset-11 font-righted">
                                    <button type="button" (click)="addPersona()" class="uc-btn--circle mr-4 p-0" title="Agregar más">
                                      <i class="uc-icon icon-shape--rounded text-size--34">add</i>
                                    </button> 
                                  </div>

                              </div>
                            </div>
                          </div>

                          <!-- OLD - Responsables -->
                          <div class="uc-card uc-card--gray mb-32" *ngIf="i == 1 && !section['active']">
                            <div class="uc-card_body">
                              <h3 class="mb-32">{{ section['title'] }}</h3>
                              <div class="row">
                                <!-- Option usuario -->
                                <div class="col-12 mb-24">
                                  <div class="uc-form-group">
                                    <input [(ngModel)]="tipo_responsable" #responsable="ngModel" name="responsable" id="persona" value="Persona" type="radio" (click)="autor('persona')" class="mr-8" checked>
                                    <label for="persona" class="uc-radio-button">Persona </label>

                                    <input [(ngModel)]="tipo_responsable" #responsable="ngModel" name="responsable" id="unidad" value="Unidad" (click)="autor('unidad')" type="radio" class="ml-24 mr-8">
                                    <label for="unidad">Unidad, Centro o Departamento </label>
                                  </div>
                                </div>
                                <!-- Persona -->
                                <ng-container  *ngIf="tipo_responsable == 'Persona'">
                                  <ng-container *ngFor="let persona of array_di.responsable.persona; let i = index">
                                  
                                    <div class="col-md-5">
                                      <div class="uc-form-group">
                                        <label>Apellido </label>
                                        <i class="material-icons ml-2 color-red" *ngIf="!apellido.value" title="Campo obligatorio">* </i>
                                        <i class="material-icons ml-2" style="color:green" *ngIf="apellido.valid && apellido.value">check_circle </i>
                                        <input [(ngModel)]="persona.apellido" #apellido="ngModel" name="apellido_{{i}}" required type="text" class="uc-input-style w-min--auto" placeholder="Apellido" (change)="autor('persona')">
                                      </div>
                                      <div class="uc-alert warning" *ngIf="!apellido.valid && apellido.touched">
                                        <div class="uc-alert_content">
                                          <i class="uc-icon icon-size--sm ">warning</i>
                                          <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="uc-form-group">
                                        <label>Nombre </label>
                                        <i class="material-icons ml-2 color-red" *ngIf="!nombre.value" title="Campo obligatorio">* </i>
                                        <i class="material-icons ml-2" style="color:green" *ngIf="nombre.valid && nombre.value">check_circle </i>
                                        <input [(ngModel)]="persona.nombre" #nombre="ngModel" name="nombre_{{i}}"  required type="text" class="uc-input-style w-min--auto" placeholder="Nombre" (change)="autor('persona')">
                                      </div>
                                      <div class="uc-alert warning" *ngIf="!nombre.valid && nombre.touched">
                                        <div class="uc-alert_content">
                                          <i class="uc-icon icon-size--sm ">warning</i>
                                          <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                        </div>
                                      </div>
                                    </div>
                                  
                                    <!-- Boton remover persona -->
                                    <div *ngIf="i>0" class="col-1 font-righted centrar-vertical mt-24">
                                      <button (click)="removePersona(i)" type="button" class="uc-btn--circle mr-4 p-0 " title="Remover campos">
                                        <i class="uc-icon icon-shape--rounded text-size--34 bg-amarillo-oscuro">remove</i>
                                      </button>
                                    </div>
                                  
                                  </ng-container>
                                  <!-- Boton agregar filtro -->
                                  <div class="col-1 offset-11 font-righted">
                                    <button type="button" (click)="addPersona()" class="uc-btn--circle mr-4 p-0" title="Agregar más">
                                      <i class="uc-icon icon-shape--rounded text-size--34">add</i>
                                    </button> 
                                  </div>
                                </ng-container>
                                <!-- Unidad -->
                                <ng-container *ngIf="tipo_responsable == 'Unidad'">
                                  <ng-container *ngFor="let entidad of array_di.responsable.unidad; let i = index">
                                    <div class="col-11">
                                      <div class="uc-form-group">
                                        <label>Nombre de su Unidad, Centro o Departamento </label>
                                        <i class="material-icons ml-2 color-red" *ngIf="!name_unidad.value" title="Campo obligatorio">* </i>
                                        <i class="material-icons ml-2" style="color:green" *ngIf="name_unidad.valid && name_unidad.value">check_circle </i>
                                        <input [(ngModel)]="entidad.nombre_unidad" #name_unidad="ngModel" name="name_unidad_{{i}}" required type="text" class="uc-input-style w-min--auto" placeholder="Ingresar Nombre de su Unidad, Centro o Departamento" (change)="autor('unidad')">
                                      </div>
                                      <div class="uc-alert warning" *ngIf="!name_unidad.valid && name_unidad.touched">
                                        <div class="uc-alert_content">
                                          <i class="uc-icon icon-size--sm ">warning</i>
                                          <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                        </div>
                                      </div>
                                    </div>
                                  
                                    <!-- Boton remover unidad -->
                                    <div *ngIf="i>0" class="col-1 font-righted centrar-vertical mt-24">
                                      <button (click)="removeUnidad(i)" type="button" class="uc-btn--circle mr-4 p-0 " title="Remover campos">
                                        <i class="uc-icon icon-shape--rounded text-size--34 bg-amarillo-oscuro">remove</i>
                                      </button>
                                    </div>
                                  </ng-container>
                                
                                  <!-- Boton agregar unidad -->
                                  <div class="col-1 offset-11 font-righted">
                                    <button type="button" (click)="addUnidad()" class="uc-btn--circle mr-4 p-0" title="Agregar más">
                                      <i class="uc-icon icon-shape--rounded text-size--34">add</i>
                                    </button> 
                                  </div>
                                </ng-container>
                              </div>
                            </div>
                          </div>

                          <!-- Editorial -->
                          <div class="uc-card uc-card--gray mb-32" *ngIf="i == 2 && section['active']">
                            <div class="uc-card_body">
                              <h3 class="mb-32">{{ section['title'] }}</h3>
                              <p>{{ section['bajada'] }}</p>
                              <div class="row">
                                <!-- editorial-->
                                <div class="col mb-24">
                                  <div class="uc-form-group">
                                    <label for="editorial">{{section['input_editorial']['label']}} </label>
                                    <input [(ngModel)]="array_di.editorial" #editorial="ngModel" name="editorial" type="text" class="uc-input-style" placeholder="{{section['input_editorial']['placeholder']}}">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <!-- Categorías -->
                          <div class="uc-card uc-card--gray mb-32" *ngIf="i == 3 && section['active']">
                            <div class="uc-card_body">
                              <h3 class="mb-32">{{ section['title'] }}</h3>
                              <div class="uc-form-group">    
                                <div class="row">  
                                  <label class="col-12">{{section['input_categoria']['label']}} </label>  
                                            
                                  <div *ngFor="let item of section['input_categoria']['options']; let i = index" class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input name="{{item.name}}" id="{{item.name}}" value="{{item.text}}" (change)="cheq($event)" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="{{item.name}}">{{item.text}}</label>
                                  </div>
                                </div>
                                <!-- <div class="row">  
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                      <input [(ngModel)]="array_di.categorias.ciencias_politicas" name="ciencias_politicas" id="ciencias_politicas" type="checkbox" class="uc-input__checkbox mr-8">
                                      <label for="ciencias_politicas">Ciencias Políticas </label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                      <input [(ngModel)]="array_di.categorias.ciencias"  name="ciencias" id="ciencias" type="checkbox" class="uc-input__checkbox mr-8">
                                      <label for="ciencias">Ciencias </label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                      <input [(ngModel)]="array_di.categorias.artes"  name="artes" id="artes" type="checkbox" class="uc-input__checkbox mr-8">
                                      <label for="artes">Artes </label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.ciencias_informacion" #ciencias_informacion="ngModel" name="ciencias_informacion" id="ciencias_informacion" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="ciencias_informacion">Ciencias de la Información</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.ciencias_computacion" #ciencias_computacion="ngModel" name="ciencias_computacion" id="ciencias_computacion" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="ciencias_computacion">Ciencias de la computación</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.periodismo" #periodismo="ngModel" name="periodismo" id="periodismo" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="periodismo">Periodismo</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.filosofia" #filosofia="ngModel" name="filosofia" id="filosofia" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="filosofia">Filosofía</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.psicologia" #psicologia="ngModel" name="psicologia" id="psicologia" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="psicologia">Psicología</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.etica" #etica="ngModel" name="etica" id="etica" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="etica">Ética</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.religion" #religion="ngModel" name="religion" id="religion" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="religion">Religión</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.ciencias_sociales" #ciencias_sociales="ngModel" name="ciencias_sociales" id="ciencias_sociales" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="ciencias_sociales">Ciencias Sociales</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.economia" #economia="ngModel" name="economia" id="economia" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="economia">Economía</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.derecho" #derecho="ngModel" name="derecho" id="derecho" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="derecho">Derecho</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.administracion_publica" #administracion_publica="ngModel" name="administracion_publica" id="administracion_publica" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="administracion_publica">Administración Pública</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.educacion" #educacion="ngModel" name="educacion" id="educacion" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="educacion">Educación</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.comunicacion_transporte" #comunicacion_transporte="ngModel" name="comunicacion_transporte" id="comunicacion_transporte" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="comunicacion_transporte">Comunicación y Transporte</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.lenguas" #lenguas="ngModel" name="lenguas" id="lenguas" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="lenguas">Lenguas</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.matematicas_fisica_quimica" #matematicas_fisica_quimica="ngModel" name="matematicas_fisica_quimica" id="matematicas_fisica_quimica" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="matematicas_fisica_quimica">Matemáticas, Física y Química</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.astronomia" #astronomia="ngModel" name="astronomia" id="astronomia" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="astronomia">Astronomía</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.ciencias_tierra" #ciencias_tierra="ngModel" name="ciencias_tierra" id="ciencias_tierra" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="ciencias_tierra">Ciencias de la Tierra</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.biologia" #biologia="ngModel" name="biologia" id="biologia" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="biologia">Biología</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.tecnologia" #tecnologia="ngModel" name="tecnologia" id="tecnologia" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="tecnologia">Tecnología</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.medicina_salud" #medicina_salud="ngModel" name="medicina_salud" id="medicina_salud" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="medicina_salud">Medicina y Salud</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.ingenieria" #ingenieria="ngModel" name="ingenieria" id="ingenieria" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="ingenieria">Ingeniería</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.administracion" #administracion="ngModel" name="administracion" id="administracion" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="administracion">Administración</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.arquitectura" #arquitectura="ngModel" name="arquitectura" id="arquitectura" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="arquitectura">Arquitectura</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.recreacion" #recreacion="ngModel" name="recreacion" id="recreacion" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="recreacion">Recreación</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.literatura" #literatura="ngModel" name="literatura" id="literatura" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="literatura">Literatura</label>
                                  </div>
                                  <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                                    <input [(ngModel)]="array_di.categorias.historia_geografia" #historia_geografia="ngModel" name="historia_geografia" id="historia_geografia" type="checkbox" class="uc-input__checkbox mr-8">
                                    <label for="historia_geografia">Historia y Geografía</label>
                                  </div>
                                </div>  -->
                                
                                <div class="row">
                                  <div class="col">
                                    <label class="mt-24">{{section['input_keyword']['label']}}</label>  
                                    <i class="material-icons ml-2 color-red" *ngIf="!keyword.value" title="Campo obligatorio">* </i>
                                    <i class="material-icons ml-2" style="color:green" *ngIf="keyword.valid && keyword.value">check_circle </i>
                                    <textarea [(ngModel)]="array_di.keyword" #keyword="ngModel" name="keyword" rows="8" cols="80" placeholder="{{section['input_keyword']['placeholder']}}" class="uc-input-style"></textarea>
                                    <span class="text-color--gray-dark">{{section['input_keyword']['small']}}</span>
                                  </div>
                                </div>
                              
                              </div>
                            </div>
                          </div>
                          <!-- Publicación relcionada -->
                          <div class="uc-card uc-card--gray mb-32" *ngIf="i == 4 && section['active']">
                            <div class="uc-card_body">
                              <h3 class="mb-32">{{ section['title'] }}</h3>
                              <div class="uc-form-group">    
                                <div class="row">  
                                  <ng-container *ngFor="let publi of array_di.publicaciones_relacionadas; let i = index">
                                    <div class="col-12 col-lg-5 mb-12">
                                      <label>{{section['input_titulo_relacionada']['label']}} </label>              
                                      <input [(ngModel)]="publi.titulo" #titulo_relacionada="ngModel" name="titulo_relacionada_{{i}}" placeholder="{{section['input_titulo_relacionada']['placeholder']}}" type="text" class="uc-input-style mr-8">
                                    </div>
                                    <div class="col-12 col-lg-6">
                                      <label>{{section['input_url_relacionada']['label']}} </label>              
                                      <input [(ngModel)]="publi.url" #url_relacionada="ngModel" name="url_relacionada_{{i}}" placeholder="{{section['input_url_relacionada']['placeholder']}}" type="text" class="uc-input-style mr-8">
                                    </div>
                                    <!-- Boton remover filtro -->
                                    <!-- <div *ngIf="i>0" class="col-1 font-righted centrar-vertical mt-24">
                                      <button (click)="removePubliRel(i)" type="button" class="uc-btn--circle mr-4 p-0 " title="Remover campos">
                                        <i class="uc-icon icon-shape--rounded text-size--34 bg-amarillo-oscuro">remove</i>
                                      </button>
                                    </div> -->
                                  </ng-container>
                                  <!-- Boton agregar filtro -->
                                  <!-- <div class="col-1 offset-11 font-righted">
                                    <button type="button" (click)="addPubliRel()" class="uc-btn--circle mr-4 p-0" title="Agregar más">
                                      <i class="uc-icon icon-shape--rounded text-size--34">add</i>
                                    </button> 
                                  </div> -->
                                </div> 
                              
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <!-- Archivos -->
                    <div *ngIf="i == 1 && section['active']" class="uc-collapse uc-card">
                      <a (click)="collapse('archivos')" class="uc-collapse_heading collapse_header" data-collapse="collapseExample" title="Desplegar/Contraer contenido">
                          <span class="material-icons mr-20">backup</span>
                          <h4>{{section['title']}}<br><p class="font-size-14">Cargar documentos</p></h4>
                          <span class="uc-btn btn-inline ml-auto">
                            Ver más
                            <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
                          </span>
                      </a>
                      <div id="archivos" style="display: none;"  class="uc-collapse_body collapse_body" data-toggle="collapseExample">
                        <div class="m-5" *ngFor="let section of section['sections']; let i = index">
                          <div class="row">

                              <!-- Titulo fecha -->
                              <div class="col-12 uc-form-group">
                                <label>{{section.input_fecha_embargo.label}} </label>
                                <!-- <i class="material-icons ml-2 color-red" *ngIf="!rango_date" title="Campo obligatorio">* </i>
                                <i class="material-icons ml-2" style="color:green" *ngIf="rango_date && array_di.fecha_embargo != '0000-00-00'">check_circle </i> -->

                                <div *ngIf="soportadateInput" class="d-flex align-items-center">
                                    <!-- <input [(ngModel)]="array_di.fecha_embargo" (ngModelChange)="fechaHoy($event)" #fecha_embargo="ngModel" onkeydown="return false" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"  type="date" name="fecha_embargo" id="fecha_embargo" class="uc-input-style calendar-box col-3 border-input" placeholder="aaaa-mm-dd" > -->
                                    <input [(ngModel)]="array_di.fecha_embargo" #fecha_embargo="ngModel" onkeydown="return false" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"  type="date" name="fecha_embargo" id="fecha_embargo" class="uc-input-style calendar-box col-3 border-input" placeholder="aaaa-mm-dd" min={{today}} > <!-- min={{today}} -->
                                    <!-- <a class="link ml-24" *ngIf="array_di.fecha_embargo != '0000-00-00'" (click)="array_di.fecha_embargo = '0000-00-00';rango_date=true">Sin fecha de embargo</a> -->
                                </div>

                                <ng-container *ngIf="!soportadateInput">
                                  <input [(ngModel)]="array_di.fecha_embargo" name="fecha_embargo" #fecha_embargo="ngModel" id="fecha_embargo" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" type="date" (ngModelChange)="fechaHoy($event)" class="uc-input-style calendar-box col-4" placeholder="aaaa-mm-dd" >    
                                  <a class="link ml-8" *ngIf="archivo.fecha!='0000-00-00'" (click)="archivo.fecha='0000-00-00';rango_date=true">Sin fecha de embargo</a>                  
                                  <div *ngIf="!fecha_embargo.valid" class="row alert-info m-2">
                                    <i class="material-icons pr-2">warning </i> Formato debe ser aaaa-mm-dd
                                  </div>
                                </ng-container>

                                <!-- <div *ngIf="!rango_date" class="uc-alert warning mb-12 mt-8">
                                  <div class="uc-alert_content">
                                    <i class="uc-icon icon-size--sm">warning</i>
                                    <span class="p p-size--sm bold ml-8">Fecha debe ser desde hoy en adelante.</span>
                                  </div>
                                </div> -->

                                <!-- <div *ngIf="!rango_date" class="row alert-info text-align-right m-2">
                                  <i class="material-icons pr-2">warning </i> Fecha debe ser desde hoy en adelante.
                                </div> -->
                              </div> 

                              <!-- Importante -->
                              <div *ngIf="array_di.fecha_embargo != '0000-00-00'" class="col-12 mb-32">
                                <div class="uc-alert info mb-12">
                                  <div class="uc-alert_content">
                                    <i class="uc-icon icon-size--sm">info</i>
                                    <span class="p p-size--sm bold ml-8"><strong>¡IMPORTANTE!</strong>: Al seleccionar una fecha de embargo, tanto los archivos de sus datos de investigación, como la información que los identifican (metadatos) estarán bajo estricta confidencialidad y no serán disponibilizados al público por el período indicado.</span> 
                                  </div>
                                </div>
                              </div>

                              <!-- Titulo Archivo -->
                              <div class="col-12 mb-24">
                                <span class="text-weight--700">{{section.input_seleccionar_archivo.label}} </span>
                                <i *ngIf="array_di.archivos.length==1" class="material-icons ml-2 color-red" title="Campo obligatorio">* </i>
                                <i *ngIf="array_di.archivos.length>1" class="material-icons pr-2" style="color:green" >check_circle </i>
                              </div>  

                              <div class="col-12 linea-abajo mb-24"></div>
        
                              <ng-container *ngFor="let carga of array_di.archivos; let i = index" > 
                                <!-- Archivos cargados -->
                                <ng-container *ngIf="formFile && i>0">
        
                                  <!-- NUEVO ARCHIVO -->
                                  <div class="col-11">
                                    <span *ngIf="carga.archivo" class="mt-16 color-celeste">{{carga.archivo}} </span>
                                  </div>

                                  <!-- Boton remover filtro -->
                                  <div *ngIf="i>0" class="col-1 font-righted">
                                    <button (click)="removeFile(i)" type="button" class="uc-btn--circle " title="Remover campos">
                                      <i class="uc-icon icon-shape--rounded text-size--34 bg-amarillo-oscuro">remove</i>
                                    </button>
                                  </div>
                                </ng-container>
                              </ng-container>
        
                              <!-- Boton agregar filtro -->
                              <div class="col-12 font-righted">
                                  <span class="color-celeste text-weight--700 mr-8">{{section['input_seleccionar_archivo']['boton']}}</span>
                                  <label for="file" class="uc-btn--circle" title="Agregar más">
                                  <i class="uc-icon icon-shape--rounded text-size--34">add</i>
                                  </label>
                                  <input id="file" type="file" name="file" class="d-none" multiple (change)="seleccionarArchivo($event)">
                              </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Licencia -->
                    <div *ngIf="i == 2 && section['active']" class="uc-collapse uc-card">
                      <a (click)="collapse('licencia')" class="uc-collapse_heading collapse_header" data-collapse="collapseExample" title="Desplegar/Contraer contenido">
                          <span class="material-icons mr-20">local_police</span>
                          <h4>{{section['title']}}<br><p class="font-size-14">Conceder licencia</p></h4>
                          <span class="uc-btn btn-inline ml-auto">
                            Ver más
                            <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
                          </span>
                      </a>
                      <div id="licencia" style="display: none;" class="uc-collapse_body collapse_body" data-toggle="collapseExample">
                        <div class="m-5">
                          <div class="row">
                            <div class="col-12 col-lg-6">
                              <div class="uc-card uc-card--gray mb-32">
                                <div class="uc-card_body">
                                  <h3 class="mb-32">¿Permites que se realicen adaptaciones de tu obra?</h3>
                                  <div class="uc-form-group">
                                    <input [(ngModel)]="cc_compartir" #compartir="ngModel" name="compartir" checked id="cc_sicomparte" value="cc_sicomparte" type="radio" (click)="cc('cc_sicomparte')" class="mr-8">
                                    <label for="cc_sicomparte" class="uc-radio-button">Si</label>
                                  </div>
                                  <div class="uc-form-group">
                                    <input [(ngModel)]="cc_compartir" #compartir="ngModel" name="compartir" id="cc_sicondicion" value="cc_sicondicion" type="radio" (click)="cc('cc_sicondicion')" class="mr-8">
                                    <label for="cc_sicondicion">Sí, siempre que se comparta de la misma manera</label>
                                  </div>
                                  <div class="uc-form-group">
                                    <input [(ngModel)]="cc_compartir" #compartir="ngModel" name="compartir" id="cc_nocomparte" value="cc_nocomparte" type="radio" (click)="cc('cc_nocomparte')" class="mr-8">
                                    <label for="cc_nocomparte">No</label>
                                  </div>
                                </div>
                              </div>
        
                              <div class="uc-card uc-card--gray mb-32">
                                <div class="uc-card_body">
                                  <h3 class="mb-32">¿Permites usos comerciales de tu obra?</h3>
                                  <div class="uc-form-group">
                                    <input [(ngModel)]="cc_comercial" #comercial="ngModel" name="comercial" id="cc_sicomercial" value="cc_sicomercial" type="radio" (click)="cc('cc_sicomercial')" class="mr-8">
                                    <label for="cc_sicomercial" class="uc-radio-button">Si </label>
                                  </div>
                                  <div class="uc-form-group">
                                    <input [(ngModel)]="cc_comercial" #comercial="ngModel" name="comercial" id="cc_nocomercial" value="cc_nocomercial" type="radio" (click)="cc('cc_nocomercial')"  class="mr-8">
                                    <label for="cc_nocomercial">No</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-lg-6">
                              <div class="uc-card uc-card--gray mb-32">
                                <div class="uc-card_body font-centered align-items-center">
                                  <p>Puede opcionalmente asignar a su ítem una licencia Creative Commons. Las licencias Creative Commons determinan qué pueden hacer los lectores con su trabajo.</p>
                                  <h2 class="mt-24 mb-32 font-centered">Licencia escogida</h2>
        
                                  <ng-container>
                                    
                                    <p class="font-centered">Esta obra está bajo una <a href="{{url_cc}}" target="_blank">{{titulo_cc}}</a></p>
                                    <a href="{{url_cc}}" target="_blank"><img src="{{img_cc}}" alt="{{titulo_cc}}"></a>
                                    <h5 class="font-centered mt-60">
                                      <a class="mr-8" href="https://creativecommons.org/share-your-work/public-domain/freeworks" target="_blank">{{descripcion_licencia}}</a>
                                      <img src="{{img_licencia}}" width="60" height="60" alt="{{descripcion_licencia}}">
                                    </h5>
                                  </ng-container>
        
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="uc-card mb-32">
                            <div class="uc-card_body">
        
                              <h3>Revisa y envía</h3>
        
                              
                              <div class="uc-form-group mb-0 mt-24 mb-60">
                                <input #concedo_licencia="ngModel" [(ngModel)]="array_di.licencia.concedo_licencia" required pattern="[a-zA-Z]+" id="concedo_licencia" name="concedo_licencia" type="checkbox" class="uc-input__checkbox mr-8">
                                <label for="concedo_licencia">Concedo licencia </label>
                                <i class="material-icons ml-2 color-red" *ngIf="!concedo_licencia.valid" title="Campo obligatorio">* </i>
                                <i class="material-icons ml-2 color-green"  *ngIf="concedo_licencia.valid">check_circle </i>
                              </div>
                              <div class="uc-alert warning col-12" *ngIf="!concedo_licencia.valid && concedo_licencia.touched">
                                <div class="uc-alert_content">
                                  <i class="uc-icon icon-size--sm ">warning</i>
                                  <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                </div>
                              </div>
                              <h3 class="mt-60">Almacenamiento y Autorización de Cosecha/Recolección de Documentos</h3>
                              <p class="mt-24">La PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE (UC) ha suscrito convenios con instituciones nacionales e internacionales, que recolectan (harvest) publicaciones académicas y tesis (las Obras) disponibles en los repositorios institucionales, para almacenarlas digitalmente y facilitar su visibilidad a potenciales interesados en usar el contenido en programas académicos y de investigación.</p>
                              <p>En su calidad de titular de la propiedad intelectual, el Autor de la Obra almacenada en el repositorio de la UC debe autorizar su cosecha / recolección para los efectos antes mencionados. Por lo tanto, en este acto y en mi calidad de Autor de la Obra, otorgo la siguiente autorización:</p>
                              <ul>
                                <li>
                                  Declaro que detento todos los derechos sobre mi Obra y no he otorgado autorizaciones de uso a terceros que restrinjan mi facultad de ejercer dichos derechos. A mayor abundamiento, me obligo a mantener indemne a la UC de todo reclamo y acción legal de un tercero alegando que mi obra infringe su derecho de autor.
                                </li>
                                <li>
                                  Que la Obra depositada en el Repositorio UC y dada la naturaleza de ésta, puede ser recolectada por terceros para ser reproducida y almacenada en un sistema digital o base de datos con el objetivo de ser comunicada al público por cualquier medio y distribuida para darle mayor visibilidad.
                                </li>
                                <li>
                                  Que autorizo la reproducción total o parcial de la Obra, siempre asociada a mi nombre en calidad de Autor.
                                </li>
                                
                                  <li>Que en ninguna circunstancia autorizo la adaptación, transformación, traducción y en general cualquier tipo de modificación a mi Obra.</li>
                                  <li>Que en el caso de que la Obra genere eventuales pagos por derechos de autor, también conocidos como royalties/regalías, estos serán gestionados directamente por mi (en mi calidad de Autor de la Obra) y la organización correspondiente.</li>
                                
                                
                              </ul>
                              <p>Si tiene alguna duda sobre los términos de esta autorización, por favor envíela a <a href='mailto:repositorio@uc.cl'>repositorio@uc.cl.</a></p> 
                              <p>Otorgue esta autorización seleccionando la opción correspondiente y pulsando "Siguiente".</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </section>

                <!-- paso 2 -->
                <section class="row mb-32" *ngIf="i == 1 && forms['active'] && activePane=='t2'">
                  <div class="col-12">

                    <h2 class="mb-5">Resumen</h2>

                    <!-- Tipo de publicación:  -->
                    <div class="row p-2 linea-abajo" *ngFor="let item of array_resumen; let i = index">
                      <h5 class="col-md-4">
                        {{item.param}}
                      </h5>
                      <div class="col-md-8">
                        <ng-container *ngIf="item.param != 'Archivos'">
                          {{item.valor}}
                        </ng-container>
                        <ng-container *ngIf="item.param == 'Archivos'">        
                          <div *ngFor="let valores of item['valor']; let i = index">
                            {{valores.archivo}}
                          </div>
                      </ng-container>
                      </div>
                    </div>

                  </div>
                </section>
                <!-- paso 3 -->
                <ng-container *ngIf="i == 2 && forms['active'] && activePane=='t3'"> 
                  <!-- Loguearse antes de enviar -->
                  <div *ngIf="login" class="uc-message warning col-lg-8 offset-lg-2">
                    <div class="uc-message_body">
                      <img src="assets/img/logo-uc-color.png" width="100px" alt="Logo Uc" class="vertical-align-middle mb-32">
                      <span class="font-size-44"> Autorización</span>

                      <!-- Alerta login error -->
                      <div *ngIf="errLog" class="uc-alert error mb-12">
                        <div class="uc-alert_content">
                            <i class="uc-icon icon-size--sm">cancel</i>
                            <span class="p p-size--sm bold ml-8">¡CONTRASEÑA INCORRECTA! por favor intenta nuevamente procurando escribirla correctamente.</span>
                        </div>
                      </div>

                      <!-- Contraseña -->
                      <div class="row bg-gris_C p-16">
                        <div class="col mb-24">
                          <div class="uc-form-group">
                            <label class="font-size-18">Clave UC </label>
                            <i class="material-icons ml-2 color-red" *ngIf="!clave.value" title="Campo obligatorio">* </i>
                            <i class="material-icons ml-2" style="color:green" *ngIf="clave.valid && clave.value">check_circle </i>
                            
                            <div class="row mb-32">
                              <div class="col">
                                <input #clave="ngModel" [(ngModel)]="array_di.clave" required type="password" class="uc-input-style w-min--auto" name="clave" id="clave" placeholder="Ingresar Contraseña">
                                <div *ngIf="!clave.valid && clave.touched" class="row alert-info m-2">
                                  <i class="material-icons pr-2">warning </i> Campo requerido
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="d-flex align-items-center">
                                  <button type="button" title="Botón" class="ml-8 col-lg-4 offset-lg-4 text-align-right bg-none color-red" (click)="activePane = 't' + (i); toScroll()">Cancelar</button>
                                  <button type="submit" title="Botón" class="uc-btn btn-cta col-lg-4" [disabled]="!array_di.clave">Enviar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- Logueado y resultado de envío -->
                  <ng-container *ngIf="!login">
                    <!-- Cargando -->
                    <div *ngIf="msj == 'cargando'" class="font-centered">
                      <h2 class="mt-60"><span class="material-icons color-amarillo-oscuro">pan_tool</span> ¡Espere un momento!</h2>
                      <p>Estamos cargando los datos</p>
                      <img class="mt-24" src="../../../assets/img/loading-circulos.gif"  width="150px"><br>
                      <img class="mb-3" src="../../../assets/img/anviando-datos.gif">
                    </div>

                    <!-- Mensaje de éxito -->
                    <div class="mb-32" *ngIf="msj == 'success'" > 
                      <div class="uc-card_body col-lg-8 offset-lg-2 font-centered">
                        
                        <h3 class="mb-60">
                          <i class="material-icons color-celeste vertical-align-middle" style="font-size: 44px;">check</i>
                          Estado de carga exitosa
                        </h3>
                        <p><strong>¡Muchas gracias {{usuario}}!</strong> recibido tu investigación. Mediante correo electrónico te informaremos cuando se encuentre disponible en el Repositorio UC.<br>
                          Esta publicación será un gran aporte para la comunidad científica nacional e internacional y un incentivo para fomentar la investigación de nuestra Universidad.
                        </p>
                        
                        <!-- VALORIZACION -->
                        <section *ngIf="json['rating']['star'].active" class="uc-section uc-section__header border">
                          <div class="container">
                            <div class="uc-message">
                              <div class="uc-message_body">
                                <h2 class="mb-24">{{json['rating']['star'].title}}</h2>
                                <iframe src="https://uc-cl.libwizard.com/f/ux-pa" frameborder=0 scrolling=no style="height:250px !important"></iframe>
                              </div>
                            </div>
                          </div>
                        </section>
                      </div>
                      <div class="mt-5 col-12">
                        <p style="float: left;">
                          Ante cualquier consulta, escribir a <a href="mailto:repositorio@uc.cl">repositorio@uc.cl</a><br>
                          <strong>Equipo Repositorio UC</strong>
                        </p>
                        <button type="button" title="Botón" class="uc-btn btn-cta btn_line ws--nw" style="width: 77px; float: right;" [routerLink]="['/upload/form']" (click)="toScroll(); resetFile(); newUpload(uploadForm)">Salir</button>
                      </div>
                    </div>

                    <!-- Mensaje de error -->
                    <div  class="mb-32" *ngIf="msj == 'error'" >
                      <div class="uc-card_body col-lg-8 offset-lg-2 font-centered">
                        <h3 class="mb-60">
                          <i class="material-icons texto-dg-rojo vertical-align-middle mr-1" style="font-size: 44px;">highlight_off</i>
                          Envío ha fallado
                        </h3>
                        <p>No hemos recibido tu investigación. <span (click)="activePane = 't' + (i); toScroll()" class="uc-btn btn-cta ws--nw d-inline pointer">Inténtalo nuevamente</span></p>
                      </div>
                      <div class="mt-5 col-12">
                        <p style="float: left;">
                          Ante cualquier consulta, escribir a <a href="mailto:repositorio@uc.cl">repositorio@uc.cl</a><br>
                          <strong>Equipo Repositorio UC</strong>
                        </p>
                        <button type="button" title="Botón" class="uc-btn btn-cta btn_line ws--nw" style="width: 77px; float: right;" [routerLink]="['/upload/form']" (click)="toScroll(); resetFile(); newUpload(uploadForm)">Salir</button>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>

                <!-- botones -->
                <div class="upload-buttons_container d-flex" style="justify-content: center; width: 100%;">
                  <button type="button" title="Botón" class="uc-btn btn-cta btn_line ml-8 ws--nw" style="width: 100px;" *ngIf="i == 0 && activePane=='t1'" [routerLink]="['/upload/form']" (click)="toScroll(); resetFile()">Salir</button>
                  <button type="button" title="Botón" class="uc-btn btn-cta btn_line ml-8 ws--nw" style="width: 100px;" *ngIf="i == 1 && activePane=='t2'" (click)="activePane = 't' + (i); toScroll()">Anterior</button>
                  <!-- <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 2 && activePane=='t3'" (click)="activePane = 't' + (i); toScroll()">Anterior</button> -->

                  <button type="button" title="Botón" class="uc-btn btn-celeste ml-8 ws--nw" style="width: 100px;"  *ngIf="i == 0" (click)="activePane = 't' + (i+2); toScroll(); tabla_resumen()" [disabled]="!array_di.titulo || !array_di.resumen || !array_di.keyword || !statusresponsable || array_di.archivos.length==1 || !array_di.licencia.concedo_licencia">Siguiente</button>
                  <!-- <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 1" (click)="activePane = 't' + (i+2); toScroll()" [disabled]="array_di.archivos.length==1">Siguiente</button> -->
                  <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" style="width: 150px;" *ngIf="i == 1 && !password" (click)="activePane = 't' + (i+2); toScroll(); loguearse()">Enviar <span class="material-icons vertical-align-middle ml-2">send</span></button>
                  <button type="submit" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" style="width: 150px;" *ngIf="i == 1 && password" (click)="activePane = 't' + (i+2); toScroll()">Enviar <span class="material-icons vertical-align-middle ml-2">send</span></button>
                </div>
                
              </div>
            </ng-container>
          </div>
        </form>
      </section>
    </section>
  </div>
</section>
<!-- SERVICIO SUSPENDIDO -->
<section *ngIf="!json['horizon_forms']['active']" class="mt-60">
  <div class="container">
    <div class="uc-message">
      <div class="uc-message_body">
          <h2 class="mb-24">Servicio suspendido por vacaciones</h2>
          <p class="no-margin">El formulario para "subir y compartir" archivos estará deshabilitado en febrero del 2022 por período de vacaciones UC. El 1 de marzo volverá a estar operativo.</p>
      </div>
    </div>
  </div>
</section>

<!-- ++++++++++ HELP ++++++++++ -->

<section class="uc-section uc-section__page" *ngIf="main['section_help'].active">
  <div class="container mt-100 margin-bottom-100 p-5 border-top">
    <div class="row" >
      <h4 class="col-12 font-centered mb-32">¿Necesitas ayuda?</h4>
      <ng-container *ngFor="let page of main['section_help']['help']">
        <div class="col-lg-4 mb-50" >
          <article class="row font-centered">
            <div class="col-12 mb-20">
              <a title="{{ page['link']['title'] }}" target="_blank"  href="{{ page['link']['url'] }}" class="">
                <i class="uc-icon font-size-20 circulo-lineal">{{ page['image']}}</i>
              </a>
            </div>
            <div class="col-12">
              <p>
                <a title="{{ page['link']['title'] }}" target="_blank" href="{{ page['link']['url'] }}">{{ page['title'] }}</a>
                <a title="{{ page['link']['title'] }}" target="_blank"  href="{{ page['link']['url'] }}" class="uc-link no-decoration text-align--right mt-auto ml-2">
                  <strong>{{ page['link']['text'] }}<i class="uc-icon">{{ page['link']['icon'] }}</i></strong>
                </a>
              </p>
            </div>
          </article>

        </div>
      </ng-container>
     <!--  <P class="col-12 font-centered mt-16">Si necesita apoyo, contáctenos a: <a href="mailto:gestiondedatos@uc.cl">gestiondedatos@uc.cl</a></P> -->
    </div>
  </div>
</section>