<form (ngSubmit)="getSearch(form, $event)" #form="ngForm">
  <h2>¿Qué <strong style="color:#E3AE00">{{ data['busqueda-tesis']['titulo'] }}</strong> estás buscando?</h2>
  <div class="uc-form-group mt-16">
    <input id="ucsearch" name="ucsearch" type="text" class="uc-input-style uc-search_input" title="{{ data['busqueda-tesis']['input-text-alt'] }}" placeholder="{{ data['busqueda-tesis']['input-text-alt'] }}" ngModel>
    <button title="Buscar" aria-label="Buscar" type="submit" class="uc-search_button"><i class="uc-icon">search</i></button>
  </div>
  <!-- <span>Utilizar 'Tésis de postgrado' en el input para pruebas</span> -->
  <div class="w-100 text-align--right">
    <a (click)="BusquedaAvanzada()" tabindex=0 (keypress)="BusquedaAvanzada()" class="uc-link text-align--right link">
      <strong>{{ data['busqueda-tesis']['busqueda-avanzada']['titulo'] }}<i class="uc-icon">keyboard_arrow_right</i></strong>
    </a>
  </div>
</form>
