a {
  &.link-inline {
    color: $color_main_regular!important;
    cursor: pointer;
    &:hover {
      color: $color_main_dark!important;
    }
  }
  &.no-decoration {
    text-decoration: none;
  }
}

.uc-image-quote.image-left + .uc-image-quote.image-left {
  margin-top: 24px;
}

button {
  border: none;
  &.uc-btn.btn-cta {
    width: 100%;
  }
  &.uc-btn-inline {
    background: none;
    border: none;
    color: $color_main_regular!important;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    -webkit-appearance: unset;
    &:hover {
      color: $color_main_dark!important;
    }
  }
  &.search {
    position: absolute;
    min-height: 43px;
    min-width: 48px;
    right: 0;
    // border-top: 1px solid #eaeaea;
    // border-bottom: 2px solid #eaeaea;
    // border-right: 1px solid #eaeaea;
    margin: 1px;
    // z-index: 999999;
    &:hover {
      background-color: #eaeaea;
    }
    &.search-nav i {
      color: $color_backup_regular!important;
    }
  }
}

figure {
  margin-bottom: 0;
}

h1, h2, h3, h4 {
  z-index: 5;
  & a {
    color: unset;
    text-decoration: unset;
  }
  & a:hover {
    color: unset;
    text-decoration: unset;
  }
}

iframe {
  max-width: 100%;
  height: 240px;
  @media screen and (min-width: 769px) and (max-width: 992px) {
    height: 200px;
  }
  @media screen and (max-width: 768px) {
    height: 360px;
  }
}

input[type='checkbox']:checked + label {
  font-weight: bold!important;
}

input.uc-input-style.search.search-nav:active, input.uc-input-style.search.search-nav:focus {
  border: 1px solid $color_backup_regular;
  box-shadow: 0 0 8px 0 rgba($color_backup_regular, .5);
  outline: none;
}

p.text-icon {
  & .uc-icon {
    color: $color_main_regular;
    font-size: 16px;
    margin-right: .5em;
  }
}

section {
  position: relative;
}

span {
  &.search {
    position: absolute;
    min-height: 43px;
    min-width: 48px;
    top: 0;
    right: 0;
    margin: 1px;
  }
}

input, textarea, select, button {
  outline: none!important;
}

.divider-light {
  background-color: #fff;
}

.img-social {
  height: 16px;
  &--big {
    height: 24px;
  }
}

.uc {
  //@uc-breadcrumb
  &-breadcrumb {
    & .uc-breadcrumb_item.current a {
      color: $color_dark_regular;
    }
  }
  //@uc-btn
  &-btn {
    line-height: 1!important;
    &--circle {
      background: none;
    }
    &--group {
      button {
        border-left: 1px solid $color_gray_dark;
        &:first-child {
          border-left: none;
        }
      }
    }
    &--padded {
      padding: 16px!important;
    }
    &--linkalike {
      background-color: transparent;
      text-decoration: underline;
      &:focus, &:active, &.active {
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
  //@uc-card
  &-card {
    &_body {
      &--padded {
        padding: 32px!important;
      }
    }
    &_img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    &__date {
      &__divider {
        font-size: 34px;
        font-weight: 700;
        line-height: 1.1;
        margin: 0 .5rem;
      }
    }
    &_event {
      &__title {
        font-size: 20px;
      }
    }
    &--edge {
      background: transparent;
      border: none;
      border-radius: 0;
      box-shadow: none;
    }
    &--gray {
      background-color: $color_gray_lighter;
    }
    &__social {
      height: calc(100% - 52px);
    }
    &__title {
      font-size: 20px;
    }
    &.card-type--horizontal {
      & .uc-card_body, .uc-card_img {
        flex: 1;
      }
    }
    &.card-type--date {
      @media screen and (min-width: 768px) and (max-width: 991px) {
        & div.day {
          font-size: 20px;
          margin-right: 4px;
        }
        & div.month {
          font-size: 15px;
        }
      }
    }
    &.card-type--event {
      & div.time {
        &--big::before {
          font-size: 16px;
        }
      }
    }
  }
  //@uc-carousel
  &-carousel {
    &__arrows {
      display: flex!important;
      justify-content: flex-end!important;
      pointer-events: all!important;
      position: unset!important;
      transform: initial!important;
      & p {
        align-self: center;
        & span.current-slide-index {
          color: $color_main_regular;
        }
      }
    }
    &__index {
      // align-self: center;
    }
  }
  //@uc-container
  &-container {
    &--fluid {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 460px;
      padding: 0;
      position: absolute;
      top: 0;
    }
    &--pushed {
      padding-top: 360px;
    }
  }
  &-excerpt {
    margin-top: 16px!important;
    & p {
      margin-bottom: 0px!important;
    }
  }
  &-form {
    &-check {
      align-items: baseline;
      display: flex;
    }
  }
  &-form-group {
    &.gray {
      background-color: $color_gray_regular;
    }
    &__checkbox {
      align-items: baseline;
      display: flex;
    }
    &__textarea {
      &--tall {
        height: calc(100% - 16px);
      }
    }
  }
  //@uc-horizon
  &-horizon {
    &--home {
      margin-top: 120px;
      margin-bottom: 120px;
    }
    &--page {
      margin-top: 32px;
      margin-bottom: 32px;
      &--gray {
        margin-bottom: 0;
        background-color: #F6F6F6;
        padding: 32px 0;
      }
    }
  }
  //@uc-icon
  &-icon {
    &--inputed {
      cursor: pointer;
      padding: 10px 10px;
      position: absolute;
      right: 0;
      transform: translate(0%, -50%);
      top: 50%;
    }
    &--cornered {
      color: #fff;
      padding: 4px 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 99;
    }
    &.icon-shape--rounded {
      background-color: $color_main_regular;
      color: $color_light_regular;
    }
  }
  //@uc-input
  &-input {
    border-width: 1px!important;
    min-width: unset;
    &__checkbox {
      -webkit-appearance: none;
      background-color: $color_gray_lighter;
      border: 1px solid $color_gray_dark;
      border-radius: 3px;
      display: inline-block;
      position: relative;
      width: 16px;
      height: 16px;
      & + label {
        color: $color_gray_dark;
      }
      &:checked {
        background-color: $color_main_regular;
        border-color: $color_main_regular;
        color: $color_light_regular;
        &:after {
          content: "\2713";
          font-size: 16px;
          line-height: 1;
          position: absolute;
          left: 2px;
        }
        & + label {
          color: $color_dark_regular;
        }
      }
    }
    &__select {

    }
    &__textarea {
      &--tall {
        height: calc(100% - 32px)!important;
      }
    }
    &-style {
      &.w-icon.search {
        background-image: none;
      }
    }
  }
  //@uc-link
  &-link {
    &--bg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
    &--cornered {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  //@uc-list
  &-list {
    list-style: none;
    &--bots {
      padding-left: 16px;
      & .uc-list__item {
        position: relative;
        &:before {
          color: $color_main_regular;
          content: '\2022';
          display: inline-block;
          font-size: 32px;
          font-weight: bold;
          left: -16px;
          position: absolute;
          top: -12px;
          width: 16px;
        }
      }
    }
    &--gots {
      padding-left: 16px;
      & .uc-list__item {
        position: relative;
        &:before {
          color: $color_gray_dark;
          content: '\2022';
          display: inline-block;
          font-size: 32px;
          font-weight: bold;
          left: -16px;
          position: absolute;
          top: -12px;
          width: 16px;
        }
      }
    }
    &--bins {
      & .uc-list__item {
        position: relative;
        &:before, &:after {
          color: $color_gray_darker;
          content: '\002D';
          display: inline-block;
          font-size: 32px;
          position: absolute;
          top: -14px;
        }
        &:before {
          left: -23px;
        }
        &:after {
          left: -16px;
        }
      }
    }
  }
  //@uc-modal
  &-modal {
    z-index: 9999!important;
    &_content {
      &--static {
        max-width: 600px;
      }
    }
  }
  &-radio {
    &-group {
      & .uc-radio-button {
        color: $color_main_regular;
      }
      & .uc-orig-radio:checked+.uc-radio-button {
        background-color: $color_main_regular;
        color: $color_light;
      }
    }
  }
  //@uc-section
  &-section {
    &--featured {
      background-color: #0176de;
      color: #fff;
    }
    &--main {
      margin-bottom: 60px;
      position: relative;
    }
    &__header {
      margin-top: 60px;
    }
    &__home {
      margin-top: 60px;
      margin-bottom: 60px;
    }
    &__page {
      margin-top: 32px;
      margin-bottom: 32px;
      &--gray {
        margin-bottom: 0;
        background-color: #F6F6F6;
        padding: 32px 0;
      }
    }
  }
  &-single {
    &__content {
      & a {
        color: #e00700;
      }
      & a::before {
        content: "get_app";
        display: inline-block;
        height: 10px;
        width: 10px;
        font-family: 'Material Icons';
        position: absolute;
        left: 8px;
        font-size: 32px;
      }
      & .wp-block-file__button {
        position: absolute;
        left: -12px;
        right: 0;
        top: -12px;
        bottom: -12px;
        border-radius: 0;
        background: none;
        color: transparent;
        border: none;
        box-shadow: none;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      & .wp-block-file__button::before {
        content: "";
      }
      & .wp-block-file__button span {
        display: none!important;
      }
      & .wp-block-file {
        position: relative;
        max-width: fit-content;
        padding: 12px 16px 12px 48px;
        line-height: 1.5;
        text-align: left;
        font-weight: 500;
        background-color: #fff;
        border: 1px solid #eaeaea;
        box-shadow: 0 0 8px 0 hsla(0,0%,53%,.18);
      }
      & h2 {
        margin-bottom: 24px;
        margin-top: 32px;
        &:after {
          content: "";
          display: inline-block;
          background-color: #fec60d;
          height: 4px;
          margin-left: 24px;
          vertical-align: middle;
          width: 72px;
        }
      }
      & h3 {
        margin-bottom: 16px;
      }
      & ul {
        list-style: none;
        & li {
          margin-bottom: 16px;
          position: relative;
          &:before {
            content: "";
            display: inline-block;
            background-color: #fec60d;
            height: 4px;
            left: -40px;
            position: absolute;
            // transform: translateY(-50%);
            // top: 50%;
            top: 8px;
            vertical-align: middle;
            width: 18px;
          }
        }
      }
    }
  }
  &-slider {
    &__body {
      justify-content: flex-end!important;
      padding-bottom: 5rem!important;
    }
    &__bullets {
      bottom: 2rem!important;
      padding: 0 2rem 0 0!important;
      right: 0!important;
      width: 50%!important;
    }
    &__cartridge {
      padding-right: 1.5rem;
    }
    &__container {
      background: linear-gradient(180turn, rgba(0,0,0,.75), rgba(0,0,0,0))!important;
    }
    &__cartridge {
      display: inline-block;
      position: relative;
    }
    &__index {
      color: #808080;
      font-size: 14px;
      font-weight: bold;
      left: 0;
      position: absolute;
      top: -12px;
    }
    .slider__bullet--current + &__index{
      color: #fff;
    }
    &__title {
      & a {
        color: #fff;
        text-decoration: none;
      }
      & a:hover {
        color: #ccc;
      }
    }
  }
  &-subtitle {
    &--event {
      align-items: center;
      display: flex;
    }
  }
  &-table {
    &-list .uc-table-list_title {
      border-top: 4px solid $color_main_regular;
    }
    &--faq {
      & td {
        padding-left: 32px!important;
      }
    }
  }
  &-title {
    &__complex {
      justify-content: space-between;
    }
  }
  &-veil {
    left: 0;
    position: absolute;
    right: 0;
    &--black {
      background: linear-gradient(0deg,transparent,#000000 100%);
      bottom: 50%;
      top: 0;
    }
    &--blue {
      background: linear-gradient(-180deg,transparent,#08275c 96%);
      bottom: 0;
      top: 50%;
    }
  }
}

.uc-pagination_pages .page-item.active .page-link, .uc-pagination_pages .page-item:hover .page-link {
  box-shadow: 0 0 8px 0 hsla(0,0%,53%,.18);
  color: $color_main_regular;
  text-decoration: none;
  border: 1px solid $color_main_regular;
}

.slider__bullet {
  border: 0!important;
  border-radius: 0!important;
  width: 50px!important;
  height: 5px!important;
  background: rgba(255, 255, 255, .25)!important;
  position: relative;
  &:focus {
    outline: 0!important;
  }
  &:before {
    content: "";
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: 1;
    -webkit-transition: right 0.09s ease-in;
  }
  &:hover:before {
    right: 35%;
  }
  &--current {
    background: #FFFFFF!important;
  }
}
.slider__button {
  .uc-btn.btn-inline {
    color: #fff;
    & .uc-icon {
      background-color: #fff;
      color: $color_main_regular;
    }
    &:hover {
      color: #ccc;
      & .uc-icon {
        background-color: #ccc;
        color: $color_main_regular;
      }
    }
  }
}



.sbutton {
  position: relative;
  //display:block;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.fill:hover {
  color: whitesmoke;
}

.fill:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0%;
  z-index: -1;
  -webkit-transition: left 0.09s ease-in;
}

.fill:hover:before {
  left: 100%;
}




.uc-btn_frames {
  text-decoration: none;
  cursor: pointer;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.uc-btn {
  &.btn-primary {
    // background-color: #fec60d;
    // border: 1px solid #fec60d;
    color: $color_main_regular;
    &:hover {
      border-color: $color_main_regular;
      text-decoration: none;
    }
  }
}

.uc-btn.btn-inline, .uc-pagination_prev, .uc-pagination_next {
  color: $color_main_regular;

  & .uc-icon.icon-shape--rounded {
    border: 1px solid transparent;
  }

  &:hover,:active,:focus {
    color: $color_main_darker;

    & .uc-icon.icon-shape--rounded {
      background-color: $color_light_regular;
      border: 1px solid $color_main_darker;
    }
  }
  &.btn-inline-lefticon {
    display: inline-block;
    & .uc-icon {
      margin: 0 .5em 0 0;
    }
  }
  & .uc-icon {
    color: inherit;
  }
  & .icon-shape--rounded {
    background-color: $color_main_regular;
    color: #FFFFFF;
  }
}

.uc-card {
  & .uc-card_event--content .date:before, .uc-card_event--content .time:before, .uc-card_event--content .venue:before {
    color: $color_main_regular;
  }
  &.card-type--date {
    border-top: 4px solid #fec60d;
  }
  &_body--featured {
    background-color: $color_main_regular;
    &--edge {
      background-color: rgba($color_main_regular, .75);
    }
  }
  &--subscription {
    background-color: #0076de;
  }
  &_body {
    &.uc-card_body--edge {
      background: transparent;
    }
  }
}

.uc-card_body--featured {
  //Sujeto a cambios
  & h1, h2, h3, h4, h5, p, span, strong, div a, h1 a, h2 a, h3 a, h4 a {
    color: #fff!important;
    & i {
      color: inherit;
    }
  }
  & div a, h1 a, h2 a, h3 a, h4 a {
    &:hover,:focus,:active{
      color: #ddd!important;
    }
  }
  & .uc-text-divider {
    background-color: #fff;
  }

  & .uc-btn.btn-inline {
    & .icon-shape--rounded {
      color: $color_main_regular;
      background-color: #fff;
      &:hover,:focus,:active{
        background-color: #ddd;
      }
    }
    &:hover {
      & .uc-icon.icon-shape--rounded {
        background-color: #ddd;
      }
    }
  }
}

.uc-close {
  color: white;
  background-color: $color_main_regular;
  border-radius: 50%;
  font-size: 12px!important;
  padding: .125rem .0625rem .125rem .125rem;
  font-weight: bold;
  &:hover {
    background-color: $color_main_dark;
  }
}

.uc-collapse {
  & .uc-collapse_heading {
    border-left: 4px solid $color_main_regular;
    &:hover {
      & .uc-btn.btn-inline {
        color: $color_main_dark;
      }
      & .uc-icon.icon-shape--rounded {
        color: $color_light_regular;
        background-color: $color_main_dark;
      }
    }
  }
}

.uc-collapse .uc-collapse_heading.js-accordion-active-element .uc-icon.icon-shape--rounded {
  background-color: $color_main_dark;
  color: $color_light_regular;
}

.w-icon.search .uc-icon {
  color: $color_main_regular;

  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.uc-input-style:active, .uc-input-style:focus {
  border: 1px solid $color_main_regular;
  box-shadow: 0 0 8px 0 rgba($color_main_regular, .5);
  outline: none;
}

.uc-subtitle .uc-icon, .uc-btn.btn-listed .uc-icon, .uc-pagination .uc-icon {
  color: $color_main_regular;
}

.uc-tag {
  background-color: $color_main_regular;
  &:hover {
    background-color: $color_main_dark;
  }
}

//Arrows
.uc-btn_frames svg {
  height: 13px;
  width: 77px;
}
.uc-btn_frames svg g line,
.uc-btn_frames svg g polyline {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}
.uc-btn_frames svg g line,
.uc-btn_frames svg g polyline {
  stroke-miterlimit: 10;
}
.uc-btn_frames svg g circle {
  display: block;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.066em;
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset ease-out 0.5s;
}
.uc-btn_frames {
  &.left{
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  &.right{
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}
.uc-btn_frames:hover {
  &.left{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  &.right{
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.uc-btn_frames:hover svg g line,
.uc-btn_frames:hover svg g polyline {
  stroke: red;
}
////////////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 768px) and (max-width: 991px) {
  .uc-card.card-height--same {
    height: 100%;
  }
}

@media (min-width: 992px) {
  .half-bg {
    background-color: rgba(224, 7, 0, .75);
    height: 100%;
    position: absolute;
    width: calc(100vw / 2);
  }
}

@media (max-width: 991px) {
  .half-bg {
    background-color: rgba(224, 7, 0, .75);
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.carousel__items .carousel__slide + .carousel__slide {
  padding-left: 1rem!important;
}

.carousel__slide {
  opacity: .5!important;
}

[data-current="true"] {
  opacity: 1!important;
}

@include media (special-up){
  .nav-item.uc-dropdown:hover > .uc-dropdown_list {
    display: block;
  }
  .nav-item.uc-dropdown{
    .uc-icon{
      pointer-events: none;
    }
  }
}
@include media (special-down){
  .nav-item.uc-dropdown > .uc-dropdown_list {
    &.active{
      display: block;
    }
  }
}

@media (max-width: 991px) {
  .uc-image-quote.image-left .uc-card, .uc-image-quote.image-nested .uc-card, .uc-image-quote.image-right .uc-card {
    margin: -100px 20px 0;
  }
  .uc-image-quote.image-left .uc-card.card-type--date {
    margin: 0 20px;
  }
  .uc-image-quote.image-left {
    margin-left: 0;
    margin-right: 0;
  }
}

//OVERRIDES UC-KIT
@media (min-width: 992px) {
  .h3, h3 {
    font-size: 1.25em!important;
  }
}

//OVERRIDES WP
.wp-block-image {
  text-align: center;
}

.uc-pagination .uc-icon {
  font-size: 24px;
}

a.page-numbers {
  padding: 0 2px;
  min-width: 24px;
  display: inline-block;
  text-align: center;
  // line-height: 1;
  color: #000;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: bold;
  margin: 0 .25rem;
}

span.page-numbers.current {
  padding: 0 2px;
  min-width: 24px;
  display: inline-block;
  text-align: center;
  // line-height: 1;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 hsla(0,0%,53%,.18);
  color: $color_main_regular;
  text-decoration: none;
  border: 1px solid $color_main_regular;
  font-weight: bold;
  margin: 0 .25rem;
}

ul.uc-list {
  & li.page_item {
    margin-bottom: 12px;
    & a {
      color: $color_main_regular;
      text-decoration: none;
    }
    &:hover a {
      color: $color_main_dark;
    }
  }
  & li.page_item.current_page_item {
    &:before {
      content: "";
      display: inline-block;
      width: 36px;
      height: 4px;
      background-color: $color_secondary_regular;
      margin-right: 12px;
      vertical-align: middle;
    }
  }
}

pre.wp-block-preformatted {
  white-space: unset!important;
  word-wrap: unset!important;
  background: none!important;
  color: unset!important;
  padding: unset!important;
  font-size: unset!important;
}






.progress-bar {
  counter-reset: step;
}
.progress-bar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: $color_dark_regular;
}
.progress-bar li span {
  color: $color_gray_dark;
}
.progress-bar li:before {
  width: 40px;
  height: 40px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid $color_main_regular;
  // display: block;
  text-align: center;
  margin: 0 0 10px 0;
  border-radius: 50%;
  background-color: white;
  font-size: 24px;
  font-weight: 700;
  color: $color_main_regular;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-bar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: $color_gray_regular;
  top: 15px;
  right: 0%;
  z-index: -1;
}
.progress-bar li:last-child:after {
  content: none;
}
.progress-bar li.active {
  font-weight: bold;
  color: $color_dark_regular!important;
}
.progress-bar li.active span {
  color: $color_dark_regular;
}
.progress-bar li.active:before {
  border-color: $color_main_regular;
  background-color: $color_main_regular;
  color: $color_light_regular;
  // content: "\2713";
}
.progress-bar li.active:after {
  background-color: $color_main_regular;
}
