ul.top-bar_links li a {
  color: #fff;
  line-height: 1.1;
  text-decoration: none;
  font-weight: 500;
  &:after {
    content: "launch";
    font-family: Material Icons;
    font-size: 10px;
    vertical-align: text-top;
    display: inline-block;
  }
}

.uc-navbar .uc-navbar_nav .nav-item {
  border-left: 2px solid #ccc;
}

@media (min-width: 992px) {
  .uc-navbar {
    padding: 80px 0 20px;
  }
}

.uc-navbar .uc-navbar_nav .menu-item:first-child {
  padding-left: 0;
  border-left: none;
}

.uc-navbar .uc-navbar_nav .menu-item {
  padding: 0 8px;
}

.menu-item-has-children {
  position: relative;
  display: -ms-flexbox;
  display: flex;
}

.menu-item a {
  color: #173F8A;
}

.uc-dropdown_list {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
  // top: 100% !important;
  list-style: none;
  z-index: 999998;
}

.uc-dropdown_list-item {
  padding: 0!important;
}


.click-handler {
  display: none;
}


@media (max-width: 1200px) {
  #principal.uc-navbar_nav{
    margin-top: 2rem;
  }
}

.uc-navbar .uc-navbar_title span{
  font-family: Roboto Slab,serif;
    font-size: 32px;
    color: #173f8a;
    line-height: 1.2;
    font-weight: 700;
}

header{
  position: relative;
}

@include media (special-down){
  body.nav-open{
    overflow: hidden;
  }
  header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

  }

  .uc-navbar{
    border: none;
    padding: 1.5em 0;
    &.active{ box-shadow: 0 0 8px 9px hsla(0,0,0,.5); }

    .uc-navbar_title {
      h1,span{
        font-size: 28px;
      }
    }
    .uc-navbar_mobile-button{
      &.active{
        background: darken(#0176de, 10%);
      }
      &:focus{ outline: none }
    }
  }
  [data-role="navigation-holder"]{
    overflow-y: auto;
    position: absolute;
    z-index: 99999;
    top: 100%;
    width: calc(100%);
    left: 0;
    top: 100%;
    display: none;
    background: $color_white;
    &.active{
      display: block;
      box-shadow: 0 4px 10px rgba(0,0,0,.5);
    }
  }
  #principal.uc-navbar_nav{
    background: $color_white;
    flex-direction: column;
    height: auto !important;
    margin-top: 0;
    overflow: hidden;
    // display: none;
    padding: 2rem;
    .menu-item{
      max-width: 700px;
      width: 100%;
      margin: 0 auto;
      border:none;
      padding: 8px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5px;
      +.menu-item{
        margin-top: 5px;
      }
      .uc-dropdown_list{
        position: relative;
        width: 100%;
        min-width: 100%;
        margin: 0;
        top: 0 !important;
        padding: 8px;
        box-shadow: none;
        border-left: 1px solid #ccc;
        .menu-item{
          margin-top: 0;
          margin-bottom: 0;
          a{
            font-size: .875em;
            padding: 8px 0;
          }
        }
      }
      .uc-icon{
        border: none;
        margin-left: 1rem;
        background: #0176de;
        color: $color_white;
        &.active{
          background: darken(#0176de, 10%);
          +.submenu{
            display: block;
          }
        }
      }
    }
    &[data-open="true"], &.active {
      display: block;
      box-shadow: 0 4px 10px rgba(0,0,0,.5);
    }
  }
  .container--nav{ max-width: 100%; }
}

a.dropbtn.uc-link {
  letter-spacing: 0px;
}
@media screen and (max-width: 1200px) {
  a.dropbtn.uc-link {
    letter-spacing: -0.45px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .uc-navbar_title h1 a {
    padding-left: 32px;
  }
}
