button, input[type="checkbox"] {
  -webkit-appearance: none!important;
}

.sending form, form.sending{
  opacity: .5;
  pointer-events: none;
  position: relative;
}
.invalid-control{
  label{
    color: red !important;
  }
  input, .uc-input-style {
    border-color: red !important;
    box-shadow: none !important;
  }
}
.valid-control{
  label{
    color: green !important;
  }
  input, .uc-input-style {
    border-color: green !important;
    box-shadow: none !important;
  }
}

pre {
   white-space: pre-wrap;
   /* css-3 */
   white-space: -moz-pre-wrap;
   /* Mozilla, since 1999 */
   white-space: -pre-wrap;
   /* Opera 4-6 */
   white-space: -o-pre-wrap;
   /* Opera 7 */
   word-wrap: break-word;
   /* Internet Explorer 5.5+ */
   background: dimgray;
   color: white;
   padding: 1em;
   font-size: 14px;
}

//HIDE ON LANGUAGE CHANGE
body.lang-es .hide-on-es{
  display: none!important;
}
body.lang-en .hide-on-en{
  display: none!important;
}
