<article class="uc-card card-height--same">
  <figure class="uc-card_img" *ngIf="data['image']">
    <div class="uc-card_tag" *ngIf="data['tag']">
      <a title="{{data['tag']['title']}}" [routerLink]="[data['tag']['url']]" class="uc-tag">{{data['tag']['text']}}</a>
      <!-- <i class="uc-icon text-color--gray-dark">book</i> -->
    </div>
    <a title="data['link']['title']" [routerLink]="[data['link']['url']]">
      <img src="{{data['image']['url']}}" class="img-fluid" alt="{{data['image']['alt']}}">
    </a>
  </figure>
  <div class="uc-card_body">
    <h3 class="text-size--20 text-weight--700">
      <a title="data['link']['title']" [routerLink]="[data['link']['url']]">{{ data['title'] }}</a>
    </h3>
    <div class="uc-text-divider divider-primary mt-16" *ngIf="divider"></div>
    <div class="uc-excerpt" *ngIf="excerpt && data['excerpt'] != 'empty'">
      <p>{{ data['excerpt'] }}</p>
    </div>
    <span class="mt-8" *ngIf="data['author'] != ''">{{ data['author'] }}</span>
    <span class="mt-8 text-color--gray-dark" *ngIf="data['date'] && data['date'] != ''">Fecha: {{ data['date'] }}</span>
    <span class="mt-8 text-color--gray-dark" *ngIf="data['doi'] && data['doi'] != ''">DOI: {{ data['doi'] }}</span>
    <span class="mt-8 text-color--gray-dark mb-16" *ngIf="data['type'] && data['type']['name'] != ''">{{ data['type']['name'] }}</span>
    <div class="text-right mt-auto">
      <a title="data['link']['title']" [routerLink]="[data['link']['url']]" class="uc-link no-decoration">
        Seguir leyendo
        <i class="uc-icon" *ngIf="data['link']['icon']">{{ data['link']['icon'] }}</i>
      </a>
    </div>
  </div>
</article>
