
<section id="arriba" class="uc-section uc-section__header" *ngIf="json['horizon_header']['active']">
  <div class="container">
    <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
    <div class="row">
      <!-- <div class="col-12">
        <h1 class="mb-24">{{ json['horizon_header']['title'] }}</h1>
      </div> -->
      <div class="col-md-8 col-12">
        <ng-container *ngIf="json['horizon_header']['section_conditions']['active']">
          <p class="mt-24 text-weight--700 mb-0">{{json['horizon_header']['section_conditions']['text']}}</p>
          <ul class="uc-list uc-list--gots mt-8">
            <li class="uc-list__item" *ngFor="let term of json['horizon_header']['section_conditions']['terms']" [innerHTML]="term"></li>
          </ul>
        </ng-container>

        <!-- ++++ Version texto expandible ++++ -->
        <!-- <p *ngIf="!next">{{ json['horizon_header']['excerpt'].substr(0,200) }}...    <strong class="color-black"> --- Seguir leyendo.</strong></p>
        <div *ngIf="!next" (click)="next=true" class="color-celeste pointer" style="position: relative; background: linear-gradient(hsla(0, 0%, 100%, 0.515), rgba(255, 255, 255, 0.913)); padding-top: 55px;margin-top: -65px;" title="Seguir leyendo"></div>
        <p *ngIf="next">{{ json['horizon_header']['excerpt'] }}</p>
        <ng-container *ngIf="json['horizon_header']['section_conditions']['active'] && next">
          <p class="mt-24 text-weight--700 mb-0">{{json['horizon_header']['section_conditions']['text']}}</p>
          <ul class="uc-list uc-list--gots mt-8">
            <li class="uc-list__item" *ngFor="let term of json['horizon_header']['section_conditions']['terms']" [innerHTML]="term"></li>
          </ul>
        </ng-container> -->
      </div>
      <div class="col-md-4 col-12" *ngIf="json['horizon_header']['section_upload']['active']">
        <div class="uc-card">
          <div class="uc-card_body uc-card_body--featured font-centered">
            <h2>{{ compartir['compartir-investigacion']['titulo'] }}</h2>
            <button type="button" title="{{ compartir['compartir-investigacion']['titulo'] }}" class="uc-btn btn-cta mt-16">{{ compartir['compartir-investigacion']['boton']['titulo'] }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- PASOS Y FORM -->
<section class="uc-section uc-section__page pb-32" *ngIf="json['horizon_forms']['active']" id="pasos">
  <div class="container">

    <section class="uc-card p-lg-5">
      <section class="uc-card_body">

        <div class="d-flex mb-60">
          <h2>Subir Creación Artística</h2>
          <span class="material-icons ml-auto pointer font-size-44 color-celeste" [routerLink]="['/upload/form']" (click)="newUpload(uploadForm)" title="Cerrar">close</span>
        </div>
        <!-- LINEA DE TIEMPO -->
        <div class="d-flex mb-60" >
          <!-- PASO 1 -->
          <div class="panel-button_container row">
            <div class="panel-line-first {{ (activePane == 't2' || activePane == 't3' || activePane == 't4') ? 'active' : '' }}"></div>
            <button class="panel-button {{ activePane == 't1' ? 'active' : '' }}" tabindex="-1">1</button>
            <span class="col-12 text-align-center d-block {{ activePane == 't1' ? 'text-weight--700' : '' }} mt-1">Paso 1</span>
            <span class="col-12 text-align-center d-block {{ activePane == 't1' ? 'text-weight--700' : '' }} namePasos">{{ json['horizon_forms']['content'][0]['title'] }}</span>
          </div>
          <!-- PASO 2 -->
          <div class="panel-button_container row">
            <div class="panel-line {{ (activePane == 't3' || activePane == 't4') ? 'active' : '' }}"></div>
            <button class="panel-button {{ activePane == 't2' ? 'active' : '' }}" tabindex="-1">2</button>
            <span class="d-block {{ activePane == 't2' ? 'text-weight--700' : '' }} mt-1 col-12 text-align-center">Paso 2</span>
            <span class="d-block {{ activePane == 't2' ? 'text-weight--700' : '' }} namePasos col-12 text-align-center">{{ json['horizon_forms']['content'][1]['title'] }}</span>
          </div>
          <!-- PASO 3 -->
          <div class="panel-button_container row">
            <div class="panel-line-last {{ activePane == 't4' ? 'active' : '' }}"></div>
            <button class="panel-button {{ activePane == 't3' ? 'active' : '' }}" tabindex="-1">3</button>
            <span class="d-block {{ activePane == 't3' ? 'text-weight--700' : '' }} mt-1 col-12 text-align-center">Paso 3</span>
            <span class="d-block {{ activePane == 't3' ? 'text-weight--700' : '' }} namePasos col-12 text-align-center">{{ json['horizon_forms']['content'][2]['title'] }}</span>
          </div>
          <!-- PASO 4 -->
          <!-- <div class="panel-button_container">
            <button  class="panel-button {{ activePane == 't4' ? 'active' : '' }}" tabindex="-1">4</button>
            <span class="d-block {{ activePane == 't4' ? 'text-weight--700' : '' }} mt-1">Paso 4</span>
            <span class="d-block {{ activePane == 't4' ? 'text-weight--700' : '' }} namePasos">{{ json['horizon_forms']['content'][3]['title'] }}</span>
          </div> -->
        </div>
        
        <!-- FORM -->
        <form  class="form-panel" #uploadForm="ngForm" (ngSubmit)="submitPublica(uploadForm)" novalidate>
          <div class="panels" [@slide]="activePane">
            <ng-container *ngFor="let forms of json['horizon_forms']['content']; let i = index">
              <div class="panel {{ activePane == 't'+(i+1) ? 'active' : '' }}">
                <!-- titulo y botones -->
                <!-- <div class="d-flex mt-60 mb-24 uc-title__complex" style="justify-content: flex-end;">
                  <app-title [title]="forms['title']" [type]="'decorated-marginless'"></app-title>
                  <div class="d-flex align-items-center">
                    <button type="button" title="Botón" class="uc-btn btn-cta btn_line ml-8 ws--nw" *ngIf="i == 0 && activePane=='t1'" [routerLink]="['/upload/form']" (click)="toScroll(); resetFile()">Salir</button>
                    <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 1 && activePane=='t2'" (click)="activePane = 't' + (i); toScroll(); resetFile()">Anterior</button>
                    
                    <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 0" (click)="activePane = 't' + (i+2); toScroll(); tabla_resumen()" [disabled]="!archivo.autor || !archivo.titulo || !uploadForm.valid || !archivo.requerido">Siguiente</button>     
                    <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 1 && !password" (click)="activePane = 't' + (i+2); toScroll(); loguearse()" [disabled]="!archivo.requerido">Enviar</button>
                    <button type="submit" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 1 && password" (click)="activePane = 't' + (i+2); toScroll()" [disabled]="!archivo.requerido">Enviar</button>
                  </div>
                  
                </div> -->
                <!-- Alertas -->
                <!-- <p class="col-lg-4 offset-lg-8 mr-1 mb-24 color-red text-align-right font-size-12" *ngIf="i == 0 && !archivo.autor || !archivo.titulo" >
                  <i class="material-icons vertical-align-middle" title="Campos obligatorios">*</i> Campos obligatorios.
                </p>
                <p class="col-lg-4 offset-lg-8 mr-1 mb-24 color-red text-align-right font-size-12" *ngIf="i == 1 && !archivo.nombreArchivo" >
                  <i class="material-icons vertical-align-middle" title="Campos obligatorios">*</i> Campos obligatorios.
                </p>
                <p class="col-lg-4 offset-lg-8 mr-1 mb-24 color-red text-align-right font-size-12" *ngIf="i == 2 && !archivo.requerido" >
                  <i class="material-icons vertical-align-middle" title="Campos obligatorios">*</i> Campos obligatorios.
                </p> -->

                <!-- paso 1 -->
                <section class="mb-32" *ngIf="i == 0 && forms['active'] && activePane=='t1'">
                  <!-- Formulario de registro -->
                  <ng-container *ngFor="let section of forms['sections']; let i = index">
                    <!-- Datos generales -->
                    <div *ngIf="i == 0 && section['active']" class="uc-collapse uc-card">
                      <a (click)="collapse('general')" class="uc-collapse_heading collapse_header" data-collapse="collapseExample" title="Desplegar/Contraer contenido">
                          <span class="material-icons mr-20">content_paste</span>
                          <h4>{{section['title']}}<br><p class="font-size-14">Ingresar datos de la publicación</p></h4>
                          <span class="uc-btn btn-inline ml-auto">
                            Ver más
                            <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
                          </span>
                      </a>
                      <div id="general"  class="uc-collapse_body collapse_body" data-toggle="collapseExample">
                        <div class="uc-card_body">
                          <div class="row">

                            <!-- Autor principal -->
                            <div class="col-12 mb-24">
                              <div class="uc-form-group">
                                <label>{{section['input_autor']['label']}}</label>
                                <i class="ml-2 color-red float-right" *ngIf="!input_autor_principal_name.value" title="Campo obligatorio">* Obligatorio</i>
                                <i class="material-icons ml-2 color-green float-right" *ngIf="input_autor_principal_name.valid && input_autor_principal_name.value">done </i>
                                <input #input_autor_principal_name="ngModel" [(ngModel)]="archivo.autor" required type="text" class="uc-input-style w-min--auto" name="input_autor_principal_name" id="input_autor_principal_name" placeholder="{{section['input_autor']['placeholder']}}">
                              </div>
                              <div class="uc-alert warning" *ngIf="!input_autor_principal_name.valid && input_autor_principal_name.touched">
                                <div class="uc-alert_content">
                                  <i class="uc-icon icon-size--sm ">warning</i>
                                  <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                </div>
                              </div>
                            </div>
                            
                            
                            <!-- titulo de investigacion -->
                            <div class="col-12 mb-24">
                              <div class="uc-form-group">
                                <label for="input_titulo_investigacion">{{section['input_titulo_investigacion']['label']}} </label>
                                <i class="ml-2 color-red float-right" *ngIf="!input_titulo_investigacion.value" title="Campo obligatorio">* Obligatorio</i>
                                <i class="material-icons pr-2 color-green float-right" *ngIf="input_titulo_investigacion.valid && input_titulo_investigacion.value">done </i>
                                <input #input_titulo_investigacion="ngModel" [(ngModel)]="archivo.titulo" required type="text" class="uc-input-style" name="input_titulo_investigacion" id="input_titulo_investigacion" placeholder="{{section['input_titulo_investigacion']['placeholder']}}">
                              </div>
                              <div class="uc-alert warning" *ngIf="!input_titulo_investigacion.valid && input_titulo_investigacion.touched">
                                <div class="uc-alert_content">
                                  <i class="uc-icon icon-size--sm ">warning</i>
                                  <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                </div>
                              </div>
                            </div>

                            <!-- Fecha de creación -->
                            <div class="col-12 mb-24">
                              <div class="uc-form-group">
                                <label for="fecha_creacion">{{section['input_fecha_creacion']['label']}} </label>
                                <input [(ngModel)]="archivo.fecha_creacion" name="fecha_creacion" #fecha_creacion="ngModel" id="fecha_creacion" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" type="date" class="uc-input-style calendar-box border-input col-4" placeholder="aaaa-mm-dd" >                   
                                <!-- <div *ngIf="!fecha_creacion.valid" class="row alert-info m-2">
                                  <i class="material-icons pr-2">warning </i> Formato debe ser aaaa-mm-dd
                                </div> -->
                              </div>
                            </div>

                            <!-- Enlace -->
                            <div class="col-12 mb-24">
                              <div class="uc-form-group">
                                <label for="input_enlace">{{section['input_enlace_creacion']['label']}} </label>
                                <!-- <i class="material-icons ml-2 color-red" *ngIf="!input_enlace.value" title="Campo obligatorio">* </i> -->
                                <i class="material-icons pr-2" style="color:green" *ngIf="input_enlace.valid && input_enlace.value">check_circle </i>
                                <input #input_enlace="ngModel" [(ngModel)]="archivo.enlace_creacion" type="text" class="uc-input-style" name="input_enlace" id="input_enlace" placeholder="{{section['input_enlace_creacion']['placeholder']}}">
                              </div>
                              <!-- <div class="uc-alert warning" *ngIf="!input_enlace.valid && input_enlace.touched">
                                <div class="uc-alert_content">
                                  <i class="uc-icon icon-size--sm ">warning</i>
                                  <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                </div>
                              </div> -->
                            </div>
                            
                            <!-- Nota -->
                            <div class="col-12 mb-24">
                              <div class="uc-form-group">
                                <label for="input_nota">{{section['input_nota']['label']}}</label>
                                <textarea #input_nota="ngModel" [(ngModel)]="archivo.nota" class="uc-input-style" name="input_nota" id="input_nota" rows="8" cols="80" placeholder="{{section['input_nota']['placeholder']}}"></textarea>
                                <span class="text-color--gray-dark">{{section['input_nota']['small']}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Subir Archivos -->
                    <div *ngIf="i == 1 && section['active']" class="uc-collapse uc-card">
                      <a (click)="collapse('archivos')" class="uc-collapse_heading collapse_header" data-collapse="collapseExample" title="Desplegar/Contraer contenido">
                          <span class="material-icons mr-20">backup</span>
                          <h4>{{section['title']}}<br><p class="font-size-14">Cargar documento</p></h4>
                          <span class="uc-btn btn-inline ml-auto">
                            Ver más
                            <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
                          </span>
                      </a>
                      <div id="archivos" style="display: none;" class="uc-collapse_body collapse_body" data-toggle="collapseExample">
                        <div class="uc-card_body">
                          <div class="row">

                              <!-- FECHA -->
                              <!-- <div class="col-12">
                                <div class="uc-form-group">
                                  <label>Fecha de embargo</label>
                                  <i class="material-icons ml-2 color-red" *ngIf="!rango_date" title="Campo obligatorio">* </i>
                                  <i class="material-icons ml-2" style="color:green" *ngIf="rango_date && archivo.fecha!='0000-00-00'">check_circle </i>
                                  <div *ngIf="soportadateInput" class="d-flex align-items-center">                                  
                                    <input #input_fecha_publicacion="ngModel" onkeydown="return false" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" [(ngModel)]="archivo.fecha" type="date" name="input_fecha_publicacion" id="input_fecha_publicacion" class="uc-input-style calendar-box col-3 border-input" placeholder="aaaa-mm-dd" min={{today}}>         
                                  </div>

                                  <ng-container *ngIf="!soportadateInput">
                                    <input #input_fecha_publicacion="ngModel" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" [(ngModel)]="archivo.fecha" type="date" name="input_fecha_publicacion" (ngModelChange)="fechaHoy($event)" id="input_fecha_publicacion" class="uc-input-style calendar-box col-4" placeholder="aaaa-mm-dd" >                      
                                    <div *ngIf="!input_fecha_publicacion.valid" class="row alert-info m-2">
                                      <i class="material-icons pr-2">warning </i> Formato debe ser aaaa-mm-dd
                                    </div>
                                  </ng-container>
                                </div>
                              </div> -->
                              <!-- Importante -->
                              <!-- <div *ngIf="archivo.fecha != '0000-00-00'" class="col-12 mb-32">
                                <div class="uc-alert info mb-12">
                                  <div class="uc-alert_content">
                                    <i class="uc-icon icon-size--sm">info</i>
                                    <span class="p p-size--sm bold ml-8"><strong>¡IMPORTANTE!</strong>: Al seleccionar una fecha de embargo, tanto los archivos de sus datos de investigación, como la información que los identifican (metadatos) estarán bajo estricta confidencialidad y no serán disponibilizados al público por el período indicado.</span> 
                                  </div>
                                </div>
                              </div> -->
                              
                              <!-- ARCHIVO -->
                              <div class="col-12">
                                <label><strong>Archivo (máx. 1.5 GB) </strong> </label>
                                <!-- <i class="material-icons ml-2 color-red" *ngIf="!archivo.nombreArchivo" title="Campo obligatorio">* </i> -->
                                <i class="material-icons ml-2" style="color:green" *ngIf="archivo.nombreArchivo">check_circle </i>
                                <div class="uc-form-group  d-flex">
                                        <label for="input_seleccionar_archivo" class="uc-btn btn-primary">{{section['input_seleccionar_archivo']['label']}}<i class="uc-icon icon-shape--rounded">cloud_upload</i></label>
                                        <!-- <input #input_seleccionar_archivo="ngModel" [(ngModel)]="archivo.nombreArchivo" required pattern="[a-zA-Z]+" name="input_seleccionar_archivo" id="input_seleccionar_archivo" type="file" accept="*" (change)="seleccionarArchivo($event)" class="d-none"> -->
                                        <input #input_seleccionar_archivo="ngModel" [(ngModel)]="archivo.nombreArchivo" required name="input_seleccionar_archivo" id="input_seleccionar_archivo" type="file" accept="*" (change)="seleccionarArchivo($event)" class="d-none">
                                        <div class="ml-4">
                                          <span *ngIf="!archivo.nombreArchivo" class="color-gris mt-16"> No hay archivo cargado. </span>
                                          <span *ngIf="archivo.nombreArchivo" class="mt-16 color-celeste"> {{archivo.nombreArchivo}} </span>
                                        </div>
                                        <div *ngIf="!input_seleccionar_archivo.valid && input_seleccionar_archivo.touched" class="row alert-info m-2">
                                          <i class="material-icons pr-2">warning </i> Campo requerido
                                        </div>
                                </div>
                              </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Licencia -->
                    <div *ngIf="i == 2 && section['active']" class="uc-collapse uc-card">
                      <a (click)="collapse('licencia')" class="uc-collapse_heading collapse_header" data-collapse="collapseExample" title="Desplegar/Contraer contenido">
                          <span class="material-icons mr-20">local_police</span>
                          <h4>{{section['title']}}<br><p class="font-size-14">Conceder licencia</p></h4>
                          <span class="uc-btn btn-inline ml-auto">
                            Ver más
                            <i class="uc-icon icon-shape--rounded">keyboard_arrow_down</i>
                          </span>
                      </a>
                      <div id="licencia" style="display: none;" class="uc-collapse_body collapse_body" data-toggle="collapseExample">
                        <div class="uc-card_body">
                          <div class="row">
                            <div class="col-12">
                              <div class="uc-form-group mb-0 mt-24 mb-60">
                                <input #input_conceder_licencia="ngModel" [(ngModel)]="archivo.requerido" required pattern="[a-zA-Z]+" id="input_conceder_licencia" name="input_conceder_licencia" type="checkbox" class="uc-input__checkbox mr-8">
                                <label for="input_conceder_licencia">Concedo licencia </label>
                                <i class="ml-2 color-red float-right" *ngIf="!archivo.requerido" title="Campo obligatorio">* Obligatorio</i>
                                <i class="material-icons ml-2 color-green float-right" style="color:green" *ngIf="input_conceder_licencia.valid && archivo.requerido">done </i>
                                <hr class="hr_label">
                              </div>
                              <div class="uc-alert warning" *ngIf="!input_conceder_licencia.valid && input_conceder_licencia.touched">
                                <div class="uc-alert_content">
                                  <i class="uc-icon icon-size--sm ">warning</i>
                                  <span class="p p-size--sm bold ml-8">Campo requerido</span>
                                </div>
                              </div>
                              <h3 class="mt-60">Almacenamiento y Autorización de Cosecha/Recolección de Documentos</h3>
                              <p class="mt-24">La PONTIFICIA UNIVERSIDAD CATOLICA DE CHILE (UC) ha suscrito convenios con instituciones nacionales e internacionales, que recolectan (harvest) publicaciones académicas y tesis (las Obras) disponibles en los repositorios institucionales, para almacenarlas digitalmente y facilitar su visibilidad a potenciales interesados en usar el contenido en programas académicos y de investigación.</p>
                              <p>En su calidad de titular de la propiedad intelectual, el Autor de la Obra almacenada en el repositorio de la UC debe autorizar su cosecha / recolección para los efectos antes mencionados. Por lo tanto, en este acto y en mi calidad de Autor de la Obra, otorgo la siguiente autorización:</p>
                              <ul>
                                <li>
                                  Declaro que detento todos los derechos sobre mi Obra y no he otorgado autorizaciones de uso a terceros que restrinjan mi facultad de ejercer dichos derechos. A mayor abundamiento, me obligo a mantener indemne a la UC de todo reclamo y acción legal de un tercero alegando que mi obra infringe su derecho de autor.
                                </li>
                                <li>
                                  Que la Obra depositada en el Repositorio UC y dada la naturaleza de ésta, puede ser recolectada por terceros para ser reproducida y almacenada en un sistema digital o base de datos con el objetivo de ser comunicada al público por cualquier medio y distribuida para darle mayor visibilidad.
                                </li>
                                <li>
                                  Que autorizo la reproducción total o parcial de la Obra, siempre asociada a mi nombre en calidad de Autor.
                                </li>
                                
                                  <li>Que en ninguna circunstancia autorizo la adaptación, transformación, traducción y en general cualquier tipo de modificación a mi Obra.</li>
                                  <li>Que en el caso de que la Obra genere eventuales pagos por derechos de autor, también conocidos como royalties/regalías, estos serán gestionados directamente por mi (en mi calidad de Autor de la Obra) y la organización correspondiente.</li>
                                
                                
                              </ul>
                              <p>Si tiene alguna duda sobre los términos de esta autorización, por favor envíela a <a href='mailto:repositorio@uc.cl'>repositorio@uc.cl.</a></p> 
                              <p>Otorgue esta autorización seleccionando la opción correspondiente y pulsando "Siguiente"".</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </section>

                <!-- paso 2 -->
                <section class="row mb-32" *ngIf="i == 1 && forms['active'] && activePane=='t2'">
                  <div class="col-12">

                    <h2 class="mb-5">Resumen</h2>

                    <!-- Tipo de publicación:  -->
                    <div class="row p-2 linea-abajo" *ngFor="let item of array_resumen; let i = index">
                      <h5 class="col-md-4">
                        {{item.param}}
                      </h5>
                      <div class="col-md-8">
                        {{item.valor}}
                      </div>
                    </div>

                  </div>
                </section>

                <!-- paso 3 -->
                <ng-container *ngIf="i == 2 && forms['active'] && activePane=='t3'">
                  <div *ngIf="login" class="uc-message warning col-lg-8 offset-lg-2">
                    <div class="uc-message_body">
                      <img src="assets/img/logo-uc-color.png" width="100px" alt="Logo Uc" class="vertical-align-middle mb-32">
                      <span class="font-size-44"> Autorización</span>

                      <!-- Alerta login error -->
                      <div *ngIf="errLog" class="uc-alert error mb-12">
                        <div class="uc-alert_content">
                            <i class="uc-icon icon-size--sm">cancel</i>
                            <span class="p p-size--sm bold ml-8">¡CONTRASEÑA INCORRECTA! por favor intenta nuevamente procurando escribirla correctamente.</span>
                        </div>
                      </div>

                      <div class="row bg-gris_C p-16">
                        <!-- Contraseña -->
                        <div class="col mb-24">
                          <div class="uc-form-group">
                            <label class="font-size-18">Clave UC </label>
                            <i class="material-icons ml-2 color-red" *ngIf="!clave.value" title="Campo obligatorio">* </i>
                            <i class="material-icons ml-2" style="color:green" *ngIf="clave.valid && clave.value">check_circle </i>
                            
                            <div class="row mb-32">
                              <div class="col">
                                <input #clave="ngModel" [(ngModel)]="archivo.clave" required type="password" class="uc-input-style w-min--auto" name="clave" id="clave" placeholder="Ingresar Contraseña">
                                <div *ngIf="!clave.valid && clave.touched" class="row alert-info m-2">
                                  <i class="material-icons pr-2">warning </i> Campo requerido
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="d-flex align-items-center">
                                  <button type="button" title="Botón" class="ml-8 col-lg-4 offset-lg-4 text-align-right bg-none color-red" (click)="activePane = 't' + (i); toScroll()">Cancelar</button>
                                  <button type="submit" title="Botón" class="uc-btn btn-cta col-lg-4" [disabled]="!archivo.clave">Enviar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <ng-container *ngIf="!login">
                    <!-- Cargando -->
                    <div *ngIf="!msj" class="font-centered">
                      <h2 class="mt-60"><span class="material-icons color-amarillo-oscuro">pan_tool</span> ¡Espere un momento!</h2>
                      <p>Estamos cargando los datos</p>
                      <img class="mt-24" src="../../../assets/img/loading-circulos.gif"  width="150px"><br>
                      <img class="mb-3" src="../../../assets/img/anviando-datos.gif">
                    </div>

                    <div class="mb-32" *ngIf="msj == 'success'">
                      <div class="col-lg-8 offset-lg-2 font-centered">
                        <h3 class="mb-60">
                          <i class="material-icons mb-2 color-celeste vertical-align-middle" style="font-size: 44px;">check</i>
                          Estado de carga exitosa.
                        </h3>
                        <p><strong>¡Muchas gracias {{usuario}}!</strong> recibido tu investigación. Mediante correo electrónico te informaremos cuando se encuentre disponible en el Repositorio UC.<br>
                          Esta publicación será un gran aporte para la comunidad científica nacional e internacional y un incentivo para fomentar la investigación de nuestra Universidad.<br>
                         </p>
                        <!-- <div class="row">
                          <div class="col-lg-6 offset-lg-3 mt-24 upload-buttons_container">
                            <button type="button" title="Botón" class="uc-btn btn-cta ws--nw" (click)="newUpload(uploadForm)">Subir nuevo documento</button>
                          </div>
                        </div> -->
                      </div>
                      <div class="mt-5 col-12">
                        <p style="float: left;">
                          Ante cualquier consulta, escribir a <a href="mailto:repositorio@uc.cl">repositorio@uc.cl</a><br>
                          <strong>Equipo Repositorio UC</strong>
                        </p>
                        <button type="button" title="Botón" class="uc-btn btn-cta btn_line ws--nw" style="width: 77px; float: right;" [routerLink]="['/upload/form']" (click)="toScroll(); resetFile(); newUpload(uploadForm)">Salir</button>
                      </div>
                    </div>

                    <div class="mb-32" *ngIf="msj == 'error'"> 
                      <div class="col-lg-8 offset-lg-2 font-centered">
                        <h3 class="mb-60">
                          <i class="material-icons texto-dg-rojo vertical-align-middle mr-1" style="font-size: 44px;">highlight_off</i>
                          Envío ha fallado
                        </h3>
                        <p>No hemos recibido tu investigación. <span (click)="activePane = 't' + (i); toScroll()" class="uc-btn btn-cta ws--nw d-inline pointer">Inténtalo nuevamente</span></p>
                      </div>
                      <div class="mt-5 col-12">
                        <p style="float: left;">
                          Ante cualquier consulta, escribir a <a href="mailto:repositorio@uc.cl">repositorio@uc.cl</a><br>
                          <strong>Equipo Repositorio UC</strong>
                        </p>
                        <button type="button" title="Botón" class="uc-btn btn-cta btn_line ws--nw" style="width: 77px; float: right;" [routerLink]="['/upload/form']" (click)="toScroll(); resetFile(); newUpload(uploadForm)">Salir</button>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>

                <!-- botones -->
                <div class="d-flex upload-buttons_container" style="justify-content: center; width: 100%;">
                  <button type="button" title="Botón" class="uc-btn btn-cta btn_line ml-8 ws--nw" style="width: 100px;" *ngIf="i == 0 && activePane=='t1'" [routerLink]="['/upload/form']" (click)="toScroll(); resetFile()">Salir</button>
                  <button type="button" title="Botón" class="uc-btn btn-cta btn_line ml-8 ws--nw" style="width: 100px;" *ngIf="i == 1 && activePane=='t2'" (click)="activePane = 't' + (i); toScroll(); resetFile()">Anterior</button>
                  <!-- <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 2 && activePane=='t3'" (click)="activePane = 't' + (i); toScroll(); resetFile()">Anterior</button> -->

                  <button type="button" title="Botón" class="uc-btn btn-celeste ml-8 ws--nw" style="width: 100px;" *ngIf="i == 0" (click)="activePane = 't' + (i+2); toScroll(); tabla_resumen()" [disabled]="!archivo.autor || !archivo.titulo || !archivo.requerido">Siguiente</button>
                  <!-- <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" *ngIf="i == 1 && !password" (click)="activePane = 't' + (i+2); toScroll()" [disabled]="!uploadForm.valid">Siguiente</button> -->
                  <button type="button" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" style="width: 150px;" *ngIf="i == 1 && !password" (click)="activePane = 't' + (i+2); toScroll(); loguearse()">Enviar <span class="material-icons vertical-align-middle ml-2">send</span></button>
                  <button type="submit" title="Botón" class="uc-btn btn-cta ml-8 ws--nw" style="width: 150px;" *ngIf="i == 1 && password" (click)="activePane = 't' + (i+2); toScroll()">Enviar <span class="material-icons vertical-align-middle ml-2">send</span></button>
                </div>
              </div>
            </ng-container>
          </div>
        </form>
      </section>
    </section>
  </div>
</section>

<!-- SERVICIO SUSPENDIDO -->
<section *ngIf="!json['horizon_forms']['active']" class="mt-60 mb-60">
  <div class="container">
    <div class="uc-message">
      <div class="uc-message_body">
          <h2 class="mb-24">Servicio suspendido por vacaciones</h2>
          <p class="no-margin">El formulario para "subir y compartir" archivos estará deshabilitado en febrero del 2022 por período de vacaciones UC. El 1 de marzo volverá a estar operativo.</p>
      </div>
    </div>
  </div>
</section>

<!-- Documentos en proceso -->
<section class="uc-section uc-section__page pb-32" *ngIf="!json['horizon_documentos_proceso']['active']">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-12">
        <app-title [title]="json['horizon_documentos_proceso']['title']" [type]="'decorated'"></app-title>
        <table class="uc-table">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let th of json['horizon_documentos_proceso']['content']['columns']">{{th}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let td of json['horizon_documentos_proceso']['content']['rows']; let i = index">
              <td>
                <div class="uc-form-group mb-0">
                  <input id="dp_{{i}}" name="dp_{{i}}" type="checkbox" class="uc-input__checkbox mr-8" value="dp_{{i}}">
                </div>
              </td>
              <td><a title="Link" href="#"><strong>{{td['titulo']}}</strong></a></td>
              <td>{{td['seccion']}}</td>
              <td><a title="Email" href="#" class="uc-link no-decoration text-weight--500">{{td['remitent']}}</a></td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-6 col-4">
            <button title="Eliminar" href="#" class="uc-btn btn-primary mt-24 w-100">Eliminar documentos seleccionados<i class="uc-icon icon-shape--rounded">delete</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Mis Tareas pendientes -->
<section class="uc-section uc-section__page pb-32" *ngIf="!json['horizon_tareas_pendientes']['active']">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-12">
        <app-title [title]="json['horizon_tareas_pendientes']['title']" [type]="'decorated'"></app-title>
        <table class="uc-table">
          <thead>
            <tr>
              <th></th>
              <th *ngFor="let th of json['horizon_tareas_pendientes']['content']['columns']">{{th}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let td of json['horizon_tareas_pendientes']['content']['rows']; let i = index">
              <td>
                <div class="uc-form-group mb-0">
                  <input id="dp_{{i}}" name="dp_{{i}}" type="checkbox" class="uc-input__checkbox mr-8" value="dp_{{i}}">
                </div>
              </td>
              <td><a title="Link" href="#"><strong>{{td['titulo']}}</strong></a></td>
              <td>{{td['seccion']}}</td>
              <td><a title="Email" href="#" class="uc-link no-decoration text-weight--500">{{td['remitent']}}</a></td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-6 col-4">
            <button title="Eliminar" href="#" class="uc-btn btn-primary mt-24 w-100">Eliminar documentos seleccionados<i class="uc-icon icon-shape--rounded">delete</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





<div id="tvesModal" class="modalContainer">
  <div class="modal-content">
    <span (click)="closeModal()" class="close">×</span>
    <h2 class="mb-32">Autorización</h2>

      <!-- <h3>Autorización</h3> -->
      <div class="row">
        <!-- Contraseña -->
        <div class="col-md-6 mb-24">
          <div class="uc-form-group">
            <label>Contraseña </label>
            <i class="material-icons ml-2" *ngIf="!clave.value" title="Campo obligatorio">message </i>
            <i class="material-icons ml-2" style="color:green" *ngIf="clave.valid && clave.value">check_circle </i>
            
            <div class="row">
              <div class="col">
                <input #clave="ngModel" [(ngModel)]="archivo.clave" required type="text" class="uc-input-style w-min--auto" name="clave" id="clave" placeholder="Contraseña">
                <div *ngIf="!clave.valid && clave.touched" class="row alert-info m-2">
                  <i class="material-icons pr-2">warning </i> Campo requerido
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col">
                <button (click)="closeModal()" class="uc-btn btn-cta ml-8 col-lg-4 offset-lg-3">Cancelar</button>
                <button (click)="submitPublica(); activePane = 't4'; toScroll()" class="uc-btn btn-cta col-lg-4">enviar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>