<section class="uc-section uc-section__header mb-60" *ngIf="main['horizon_header']['active']">
  <div class="container">
    <!-- <app-breadcrumbs [breadcrumbs]="main['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="main['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs> -->
    
    <ul class="uc-breadcrumb mb-24" *ngIf="main['horizon_header']['section_breadcrumbs']['active']">
      <li *ngFor="let breadcrumb of main['horizon_header']['section_breadcrumbs']['breadcrumbs']; last as l" class="uc-breadcrumb_item{{(l) ? ' current' : '' }}">
        <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="!breadcrumb['dynamic']">{{ breadcrumb.text }}</a>
        <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="breadcrumb['dynamic']">{{ particular }}</a>
        <i class="uc-icon" *ngIf="!l">keyboard_arrow_right</i>
      </li>
    </ul>

    <div class="row">
      <div class="col-md-8 col-12">
        <h1>{{ main['horizon_header']['title'] }}</h1>
        <div class="uc-excerpt" *ngIf="main['horizon_header']['section_excerpt']['active']" [innerHTML]="main['horizon_header']['section_excerpt']['excerpt']">
        </div>

        <div class="row mt-100" *ngIf="main['horizon_header']['section_banner']['active']">
          <ng-container *ngFor="let page of main['horizon_header']['section_banner']['banner']">
            <div class="col-12 mb-32">
              <article class="uc-card card-type--horizontal card-height--same">
                <figure class="uc-card_img" [style.background-image]="'url(' + page.image + ')'">
                  <div class="uc-veil uc-veil--blue"></div>
                </figure>
                <div class="uc-card_body">
                  <ng-container *ngIf="page['tag']">
                    <a title="{{ page['tag']['title'] }}" target="page['link']['target'] }}" href="{{ page['tag']['url'] }}" class="uc-tag mb-12">{{ page['tag']['text'] }}</a>
                  </ng-container>
                  <h3 class="uc-card__title mb-16">
                    <a title="{{ page['link']['title'] }}" target="page['link']['target'] }}" href="{{ page['link']['url'] }}">{{ page['title'] }}</a>
                  </h3>
                  <div class="uc-text-divider divider-primary"></div>
                  <div class="uc-excerpt mb-24" ><p>{{ page['excerpt'] }}</p></div>
                  <a title="{{ page['link']['title'] }}" target="page['link']['target'] }}"  href="{{ page['link']['url'] }}" class="uc-link no-decoration text-align--right mt-auto">
                    <strong>{{ page['link']['text'] }}<i class="uc-icon m-2">{{ page['link']['icon'] }}</i></strong>
                  </a>
                </div>
              </article>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-md-4 col-12" *ngIf="main['horizon_header']['section_sidebar']['active']" >
        <ng-container *ngFor="let sidebar of main['horizon_header']['section_sidebar']['sidebar']">
          <button tabindex=0 [routerLink]="[ sidebar['link'] ]" (keypress)="[ sidebar['link'] ]" type="button" class="uc-btn btn-cta mt-16">{{ sidebar['boton'] }}</button>
        </ng-container>
        
      </div>
    </div>
  </div>
</section>

<section class="uc-section uc-section__page" *ngIf="main['section_childs']['active']">
  <div class="container">
    <div class="row" >
      <ng-container *ngFor="let page of main['section_childs']['childs']">
      <div class="col-lg-6 mb-32" >
        <!-- <app-card-horizontal [data]="page" [dataOrientation]="'image-left'" [dataDivider]="true"></app-card-horizontal> -->
        <article class="uc-card card-type--horizontal card-height--same">
          <figure class="uc-card_img" [style.background-image]="'url(' + page.image + ')'">

            <div class="uc-veil uc-veil--blue"></div>
          </figure>
          <div class="uc-card_body">
            <ng-container *ngIf="page['tag']">
              <a title="{{ page['tag']['title'] }}" target="_blank"  href="{{ page['tag']['url'] }}" class="uc-tag mb-12">{{ page['tag']['text'] }}</a>
            </ng-container>
            <h3 class="uc-card__title mb-16">
              <a title="{{ page['link']['title'] }}" target="{{page['link']['target'] }}" href="{{ page['link']['url'] }}">{{ page['title'] }}</a>
            </h3>
            <div class="uc-text-divider divider-primary"></div>
            <div class="uc-excerpt mb-24" ><p>{{ page['excerpt'] }}</p></div>
            <a title="{{ page['link']['title'] }}" target="{{page['link']['target'] }}" href="{{ page['link']['url'] }}" class="uc-link no-decoration text-align--right mt-auto">
              <strong>{{ page['link']['text'] }}<i class="uc-icon">{{ page['link']['icon'] }}</i></strong> 
            </a>
          </div>
        </article>

      </div>
    </ng-container>
    </div>
  </div>
</section>

<!-- ++++++++++ HELP ++++++++++ -->

<section class="uc-section uc-section__page" *ngIf="main['section_help'].active">
  <div class="container mt-100 margin-bottom-100 p-5 border-top">
    <div class="row" >
      <h4 class="col-12 font-centered mb-32">¿Necesitas ayuda?</h4>
      <ng-container *ngFor="let page of main['section_help']['help']">
        <div class="col-lg-4 mb-50" >
          <article class="row font-centered">
            <!-- <figure class="col-12" style="width: 74px; height: 70px;" [style.background-image]="'url(' + page.image + ')'">
            </figure> -->
            <div class="col-12 mb-20">
              <a title="{{ page['link']['title'] }}" target="_blank"  href="{{ page['link']['url'] }}" class="">
                <i class="uc-icon font-size-20 circulo-lineal">{{ page['image']}}</i>
              </a>
            </div>
            <div class="col-12">
              <p>
                <a title="{{ page['link']['title'] }}" target="_blank" href="{{ page['link']['url'] }}">{{ page['title'] }}</a>
                <a title="{{ page['link']['title'] }}" target="_blank"  href="{{ page['link']['url'] }}" class="uc-link no-decoration text-align--right mt-auto ml-2">
                  <strong>{{ page['link']['text'] }}<i class="uc-icon">{{ page['link']['icon'] }}</i></strong>
                </a>
              </p>
            </div>
          </article>

        </div>
      </ng-container>
      <!-- <P class="col-12 font-centered mt-16">Si necesita apoyo, contáctenos a: <a href="mailto:gestiondedatos@uc.cl">gestiondedatos@uc.cl</a></P> -->
    </div>
  </div>
</section>
