<div class="uc-footer_help">
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let seccion of footer['secciones']">
        <div class="uc-footer_list-title">{{ seccion['titulo'] }}</div>
        <p>{{ seccion['texto'] }}</p>
        <p><i class="uc-icon">phone</i> <a title="{{ seccion['titulo'] }}" href="{{ seccion['link'] }}">{{ seccion['telefono'] }}</a></p>
      </div>
      <div class="col-md-3">
        <!-- <ul class="uc-footer_list social_list">
          <li class="social_item" *ngFor="let red of footer['redes']">
            <a class="navbar-brand no-decoration" title="{{ red['texto-alt'] }}" href="{{ red['url-img'] }}" target="_blank">
              <img src="assets/img/logo-uc-{{ red['texto-alt'] }}.svg" alt="{{ red['texto-alt'] }}" class="img-fluid img-social">
            </a>
          </li>
        </ul> -->
        <ul class="uc-footer_list">
          <li><a title="{{ footer['politicas']['texto'] }}" href="{{ footer['politicas']['url'] }}" target="_blank">{{ footer['politicas']['texto'] }}</a></li>
          <li><a title="{{ footer['mapa']['texto'] }}" href="{{ footer['mapa']['url'] }}" target="_blank">{{ footer['mapa']['texto'] }}</a></li>
        </ul>
      </div>
    </div>
    <!-- <div>Some icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
  </div>
</div>
