
<!--  CARGANDO PÁGINA -->
<section *ngIf="!data['publics'] && !error" style="text-align: center;color:#0176DE">
  <img class="mt-5" src="../../../assets/img/2.gif">
  <h4 class="mt-3 mb-3">Cargando...</h4>
</section>



<section id="contenedor" class="uc-section uc-section__header mb-60" *ngIf="json['horizon_header']['active'] && data['publics']">
  <div class="container">
    <ng-container *ngFor="let tag of data['publics']['dc.type']">
      <a *ngIf="tag" title="{{ tag }}" (click)="BusquedaAvanzada('tipo', tag)" class="uc-tag mb-16 linkTag">{{ tag}}</a>
    </ng-container>
    <div class="row">
      <div class="col-md-11 col-12">
        <ng-container  *ngFor="let title of data['publics']['title']">
        <h1 *ngIf="title" class="mb-16">{{ title }}</h1>
      </ng-container >
      <span *ngIf="data['publics']['author']" class="text-size--18 ico-meta mr-12 metadata" title="Autor"><i class="material-icons ico-meta">account_box</i> {{ data['publics']['author'][0] }}  </span>
        <span *ngIf="data['publics']['dateIssued.year']" class="text-size--18 ico-meta mr-12 metadata" title="Fecha publicación"> <i class="material-icons ico-meta">date_range</i> {{ data['publics']['dateIssued.year'][0] }}</span>
        <a *ngIf="data['publics']['dc.identifier.uri']" href="{{ data['publics']['dc.identifier.uri'][0] }}" class="text-size--18 metadata" title="URI"> <i class="material-icons ico-meta">link</i> {{ data['publics']['dc.identifier.uri'][0] }}</a>
      </div>
      <!-- <div class="col-md-1 d-none d-md-block">
        <i class="uc-icon">book</i>
      </div> -->
    </div>
  </div>
</section>

<section class="uc-section uc-section__page pb-32" *ngIf="data['publics']">
  <div class="container">
    <div class="row">
      <!-- sección Widget -->
      <div class="col-lg-4 col-md-6 col-12">
        <article class="uc-card mb-32" *ngIf="json['horizon_informacion']['active'] && data['publics']['dc.type'] || data['publics']['dc.subject.other']">
          <div class="uc-card_body">
            <span class="uc-subtitle text-size--18">{{ json['horizon_informacion']['title'] }}</span>
            <hr class="uc-hr my-24">

            <!-- etiquetas -->
            <!-- <div class="mb-16" *ngIf="json['horizon_informacion']['sections']['tags']['active']">
              <span class="uc-subtitle d-block mb-8">{{ json['horizon_informacion']['sections']['tags']['title'] }}</span>
              <ng-container *ngFor="let tag of data['publics']['bi_4_dis_partial']">
                <a title="{{ tag }}" [routerLink]="[tag]" class="uc-tag mb-8">{{ tag }}</a>
              </ng-container>
            </div> -->

            <!-- Tipo de documento -->
            <div class="mb-16" *ngIf="json['horizon_informacion']['sections']['type']['active'] && data['publics']['dc.type']">
              <span class="uc-subtitle d-block mb-8">{{ json['horizon_informacion']['sections']['type']['title'] }}</span>
              <ng-container *ngFor="let type of data['publics']['dc.type']">
                <a title="{{ type }}" (click)="BusquedaAvanzada('tipo', type)" class="uc-tag mb-8 linkTag">{{ type }}</a>
              </ng-container>
            </div>

            <!-- Temática -->
            <div *ngIf="json['horizon_informacion']['sections']['topics']['active'] && data['publics']['dc.subject.other']">
              <span class="uc-subtitle d-block mb-8">{{ json['horizon_informacion']['sections']['topics']['title'] }}</span>
              <ng-container *ngFor="let topic of data['publics']['dc.subject.other']">
              <!-- <ng-container *ngFor="let topic of data['publics']['dc.subject.ddc']"> -->
              <!-- <ng-container *ngFor="let topic of data['publics']['dc.subject.dewey']"> -->
                <a title="{{ topic }}" (click)="BusquedaAvanzada('tema', topic)" class="uc-tag mb-8 linkTag">{{ topic }}</a>
              </ng-container>
            </div>

            <!-- Mostrar metadatos -->
            <!-- <ng-container *ngIf="json['horizon_informacion']['sections']['metadata']['active']">
              <a title="{{ json['horizon_informacion']['sections']['metadata']['title'] }}" [routerLink]="[json['horizon_informacion']['sections']['metadata']['url']]" class="uc-btn btn-primary mt-32">{{ json['horizon_informacion']['sections']['metadata']['title'] }}<i class="uc-icon icon-shape--rounded">remove_red_eye</i></a>
            </ng-container> -->
          </div>
        </article>

        <!-- Descargar ficha-->

          <article class="uc-card uc-card--gray mb-32" *ngIf="json['horizon_descarga']['active'] && data['publics']['archivos']">
          <div class="uc-card_body">
            <ng-container *ngIf="json['horizon_descarga']['others']['active']">
              <span class="uc-subtitle mt-32 text-size--18">{{ json['horizon_descarga']['others']['title'] }}</span>
              <hr class="uc-hr my-16">
              <ng-container *ngIf="!embargo" >
                <ng-container *ngFor="let file of data['publics']['archivos']">
                  <a title="Descargar {{ data['publics']['stream_source_info']}}" href="{{urldownload}}/{{ data['publics']['handle'] }}/{{file.archivo}}" (click)="descargaGA()" class="uc-link no-decoration text-weight--500 mt-8" target="_blank" download>
                    <i class="uc-icon mr-8">get_app</i>{{file.archivo}}
                  </a>
                </ng-container>
                <!-- <a (click)="descargaGA()" title="Descargar todos" href="{{urldownload}}/{{ data['publics']['handle'] }}/{{file.archivo}}" class="uc-btn btn-cta mt-5" target="_blank" download>
                  Descargar todos
                </a> -->
              </ng-container>

              <ng-container *ngIf="embargo">
                <ng-container *ngFor="let file of data['publics']['archivos']">
                  <div title="Se encuentra en embargo" class="uc-link no-decoration text-weight--500 mt-8 text-color--gray-dark">
                    <span class="material-icons mr-8 color-red">lock</span>{{file.archivo}}
                  </div>
                </ng-container>
                <p class="color-red ">(<i>No descargable por embargo</i>)</p>
              </ng-container>
              
            </ng-container>
          </div>
        </article>
        <!-- Datos investigador -->
        <article class="uc-card mb-32" *ngIf="json['horizon_datos']['active'] && data['publics']['author']">
          <div class="uc-card_body">
            <span class="uc-subtitle text-size--18">{{ json['horizon_datos']['title'] }}</span>
            <hr class="uc-hr my-24">
            <ng-container *ngFor="let autores of data['publics']['author']">
              <span class="text-size--16"><i class="material-icons ico-meta">account_box</i>  {{ autores }}</span>
            </ng-container>
            
            <!-- <a title="ORCID" href="{{ data['publics']['author']['orcid'] }}" class="uc-link mt-8 text-weight--500 text-size--14">
              <img src="assets/img/orcid-icon.png" alt="ORCID" class="img-fluid img-social mr-1">
              {{ data['publics']['author']['orcid'] }}
            </a> -->
            <!-- <span class="text-color--gray-dark mt-8">{{ data['publics']['author']['department'] }}</span>
            <span class="text-color--gray-dark mt-8">{{ data['publics']['author']['institution'] }}</span>
            <a title="Link" href="#" class="uc-link mt-16">{{ data['publics']['author']['email'] }}</a>
            <a title="Link" href="#" class="uc-link mt-8">{{ data['publics']['author']['phone'] }}</a> -->
            <a title="{{json['horizon_datos']['button']['text']}}" [routerLink]="[json['horizon_datos']['button']['url']]" class="uc-btn btn-cta mt-60" *ngIf="json['horizon_datos']['button']['active']">{{ json['horizon_datos']['button']['text'] }}</a>
          </div>
        </article>

        <!-- ALTMETRIC -->
        <article class="uc-card mb-32">
          <div class="uc-card_body">
            <span class="uc-subtitle text-size--18">Altmetric</span>
            <hr class="uc-hr my-24">
            <div *ngIf="altmetric && this.data['publics']['dc.identifier.doi']" class='altmetric-embed' data-badge-type='medium-donut' data-badge-details='right' [attr.data-doi]="altmetric"></div>
            <div *ngIf="altmetric && !this.data['publics']['dc.identifier.doi']" class='altmetric-embed' data-badge-type='medium-donut' data-badge-details='right' [attr.data-uri]="altmetric"></div>
            <div *ngIf="!altmetric">Sin registros</div> 
          </div>
        </article>
      </div>

      <!-- Sección contenido central -->
      <div class="col-lg-8 col-md-6 col-12">
        <!-- Contenido central general -->
        <ng-container *ngIf="json['horizon_content']['active']">
          <!-- Título Resumen -->
          <!-- <h2 class="mb-16">{{ json['horizon_content']['title'] }}</h2> -->

          <ng-container>
            <!-- CONTENIDO  RESUMEN-->
            <!-- Foto y resumen -->
            <p *ngIf="data['publics']['dc.description.abstract']" style="text-align: justify;">
              <img class="w-150" hspace="30" vspace="50"  style="float: right; border:1px solid #999999; padding:20px; " src="{{foto}}" alt="{{foto}}" >
              <!-- <img *ngIf="foto"class="w-150" hspace="30" vspace="50"  style="float: right; border:1px solid #999999; padding:20px; " src="{{foto}}" alt="Sin foto" > -->
              <span >{{ data['publics']['dc.description.abstract'][0]}}</span>
            </p>
            <!-- <p *ngIf="data['publics']['dc.description.abstract']" style="text-align: justify;">
              <img *ngIf="data['publics']['meta']" class="w-150" hspace="30" vspace="50"  style="float: right; border:1px solid #999999; padding:20px; " src="{{urlImg}}/{{ data['publics']['handle'] }}/{{data['publics']['meta'][5].replace('.txt','.jpg')}}" onerror="this.src= 'assets/img/logo_uc_linea.png'"  alt="{{data['publics']['meta'][5].replace('.txt','.jpg')}}" >
              <span >{{ data['publics']['dc.description.abstract'][0]}}</span>
            </p> -->

            <!-- Foto sin resumen -->
            <article *ngIf="!data['publics']['dc.description.abstract']">
              <figure >
                <!-- <img *ngIf="data['publics']['meta']"  class="img-fluid w-150"style="border:1px solid #999999; padding:20px" src="{{urlImg}}/{{ data['publics']['handle'] }}/{{data['publics']['meta'][5].replace('.txt','.jpg')}}" onerror="this.src= 'assets/img/logo_uc_linea.png'"  alt="{{data['publics']['meta'][5].replace('.txt','.jpg')}}"> -->
                <img class="img-fluid w-150" style="border:1px solid #999999; padding:20px" src="{{foto}}" alt="{{foto}}">
              </figure>
            </article>

            <!-- Tab Metadatos -->
            <div class="uc-tabpanel" data-tabpanel>
              <!-- Tabs se muestran como botones -->
              <ul class="uc-tabs d-none d-lg-flex">
                  <li class="uc-tabs_item">
                      <p (click)="metadatas('sencillo')" class="uc-tabs_item-link pointer {{ tipodata == 'sencillo' ? 'active' : '' }}">Registro Sencillo</p>
                  </li>
                  <li class="uc-tabs_item">
                      <p (click)="metadatas('completo')" class="uc-tabs_item-link pointer {{ tipodata == 'completo' ? 'active' : '' }}">Registro Completo</p>
                  </li>
              </ul>
              <div class="uc-tab-body">
                <div *ngIf="tipodata=='sencillo'">
                  <table class="uc-table ">
                    <tbody>
                      <tr *ngFor="let tag of metadatos_simple">
                        <!-- Columna 1 -->
                        <td class="width-25" *ngIf="tag['metadato'] != 'nulo' && tag['mostrar']">
                          <strong>{{ tag['metadato']}}</strong>
                        </td>
                        <!-- Columna 2 -->
                        <td *ngIf="tag['metadato'] != 'nulo' && tag['mostrar']">
                          <ng-container *ngFor="let valor of tag['valor']">
                            <p *ngIf="!tag['link'] && tag['cod'] != 'dc.date.issued'">{{ valor }}</p>
                            <p *ngIf="tag['cod'] == 'dc.date.issued'">{{ valor.substr(0,4) }}</p>
                            <p *ngIf="tag['link']">
                              <a href="{{valor.replace('se encuentra en: http','http')}}" target="_blank">{{ valor }}</a>
                            </p>
                          </ng-container>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div *ngIf="tipodata=='completo'">
                  <table class="uc-table ">
                    <tbody>
                      <tr *ngFor="let tag of metadatos_simple">
                        <!-- Columna 1 -->
                        <td *ngIf="tag['mostrar']">
                          <strong>{{ tag['cod'] }}</strong>
                        </td>
                        <!-- Columna 2 -->
                        <td *ngIf="tag['mostrar']">
                          <ng-container *ngFor="let valor of tag['valor']">
                            <p *ngIf="!tag['link'] && tag['cod'] != 'dc.date.issued'">{{ valor }}</p>
                            <p *ngIf="tag['cod'] == 'dc.date.issued'">{{ valor.substr(0,4) }}</p>
                            <p *ngIf="tag['link']">
                              <a href="{{valor.replace('se encuentra en: http','http')}}" target="_blank">{{ valor }}</a>
                            </p>
                          </ng-container>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            

            <!-- Seleccionar metadato simple -->
            <!-- <label class="col mt-60 mr-8 pointer" style="text-align: left; color:#0176DE">
              <label class="switch mr-8">
                <input type="checkbox" #meta="ngModel" [(ngModel)]="meta_datos" required id="meta" name="meta">
                <span class="slider round"></span> 
              </label>
              Registro completo
            </label>

            <table class="uc-table ">
              <tbody>
                <tr *ngFor="let tag of metadatos_simple">
                  <td class="w-200" >
                    <strong *ngIf="meta_datos" >{{ tag['metadato'] }}</strong>
                    <strong *ngIf="!meta_datos" >{{ tag['cod'] }}</strong>
                  </td>

                  <td>
                    <ng-container *ngFor="let valor of tag['valor']">
                      <p *ngIf="!tag['link']">{{ valor }}</p>
                      <p *ngIf="tag['link']">
                        <a href="{{valor.replace('se encuentra en: http','http')}}" target="_blank">{{ valor }}</a>
                      </p>
                    </ng-container>
                    
                    
                  </td>
                </tr>
              </tbody>
                
            </table> -->

            <!-- Fotos slider -->
            <!-- <div class="slider slider--overlay_min my-60" data-module="slider">
                <div class="slider__items" data-role="slider-list">
                  <div class="slider__slide" data-role="slider-slide" *ngFor="let slide of data['publics']['author']">
                    <article class="uc-card">
                      <figure class="uc-card_img">
                        <img src="https://picsum.photos/800/600" class="img-fluid" alt="Imagen">
                      </figure>
                    </article>
                  </div>
                </div>
                <div class="slider__bullets font-centered text-right uc-slider__bullets">
                  <div class="uc-slider__cartridge" *ngFor="let slide of data['publics']['author']; let i = index">
                    <button class="slider__bullet {{ i == 0 ? 'slider__bullet--current' : '' }}" data-role="slider-bullet" [attr.data-target]="i"></button>
                    <span class="uc-slider__index">{{ i }}</span>
                  </div>
                </div>
              </div> -->

          </ng-container>
        </ng-container>
        

        <!-- ¿CÓMO CITAR ESTE DOCUMENTO? -->
        <div class="uc-card my-60" *ngIf="!json['horizon_cita']['active']">
          <div class="uc-card_body">
            <span class="uc-subtitle">{{ json['horizon_cita']['title'] }}</span>
            <hr class="uc-hr my-16">
            <ng-container *ngIf="json['horizon_cita']['sections']['apa']['active']">
              <h3 class="mb-8">{{ json['horizon_cita']['sections']['apa']['title'] }}</h3>
              <p class="text-color--gray-dark mb-0">{{ data['publics']['dc.contributor'] }}</p>
            </ng-container>
            <ng-container *ngIf="json['horizon_cita']['sections']['reference']['active']">
              <h3 class="mb-8 mt-16">{{ json['horizon_cita']['sections']['reference']['title'] }}</h3>
              <p class="text-color--gray-dark mb-0">{{ data['publics']['dc.contributor'] }}</p>
            </ng-container>
            <ng-container *ngIf="json['horizon_cita']['sections']['in_text']['active']">
              <h3 class="mb-8 mt-16">{{ json['horizon_cita']['sections']['in_text']['title'] }}</h3>
              <p class="text-color--gray-dark mb-0">{{ data['publics']['dc.contributor'] }}</p>
            </ng-container>
          </div>
        </div>

        <!-- Investigaciones relacionadas -->
        <ng-container *ngIf="!json['horizon_relacionados']['active'] && data['publicaciones']">
          <app-title [title]="json['horizon_relacionados']" [type]="'complex'"></app-title>
          <div class="row mb-60">
            <div class="col-md-6 col-12" *ngFor="let public of data['publicaciones']; let i = index">
              <app-card-normal [data]="public" [divider]="false" [excerpt]="false" *ngIf="i < 2"></app-card-normal>
            </div>
          </div>
        </ng-container>

        <!-- Sección RRSS -->
        <ng-container style="display:none" *ngIf="!json['horizon_social']['active']">
          <hr class="uc-hr">
          <div class="row my-32">
            <!-- ¿Te gusta esta publicación? -->
            <div class="col-lg-6 col-12" *ngIf="json['horizon_social']['sections']['like']['active']">
              <span class="uc-subtitle">{{ json['horizon_social']['sections']['like']['title'] }}</span>
              <div class="d-flex align-items--center">
                <button type="button" name="button" (click)="likeRecord()">
                  <i class="uc-icon text-size--40 pr-16" *ngIf="!liked">favorite_border</i>
                  <i class="uc-icon text-size--40 pr-16" *ngIf="liked">favorite</i>
                </button>
                <!-- Ejemplo de como mostrar el length de un array en Angular. Reemplazar esto por el contador de likes -->
                <p class="text-weight--bold text-size--32 mb-0" *ngIf="data['publicaciones'] && !liked">{{ data['publicaciones'].length }}</p>
                <p class="text-weight--bold text-size--32 mb-0" *ngIf="data['publicaciones'] && liked">{{ data['publicaciones'].length + 1 }}</p>
              </div>
            </div>
            <!-- Comparte esta publicación -->
            <div class="col-lg-6 col-12">
              <span class="uc-subtitle">Comparte esta publicación</span>
              <div class="mt-8">
                <button title="Button" type="button" class="mr-24" style="width: fit-content; background-color: #0176de; padding: .5rem; border-radius: 50%;">
                  <img src="assets/img/logo-uc-facebook.svg" alt="Red social" style="width: 25px;">
                </button>
                <button title="Button" type="button" class="mr-24" style="width: fit-content; background-color: #0176de; padding: .5rem; border-radius: 50%;">
                  <img src="assets/img/logo-uc-twitter.svg" alt="Red social" style="width: 25px;">
                </button>
                <button title="Button" type="button" class="mr-24" style="width: fit-content; background-color: #0176de; padding: .5rem; border-radius: 50%;">
                  <img src="assets/img/envelope.svg" alt="Red social" style="width: 25px;">
                </button>
              </div>
            </div>
          </div>
          <hr class="uc-hr">
        </ng-container>

        <!-- Sección de comentarios -->
        <ng-container style="display:hidde" *ngIf="!json['horizon_comentarios']['active']">
          <div class="uc-card uc-card--gray mt-60">
            <div class="uc-card_body">
              <ng-container *ngIf="json['horizon_formulario_comentario']['active']">
                <ng-container *ngIf="!response['show']">
                  <!-- partials/commons/title -->
                  <app-title [title]="json['horizon_formulario_comentario']['title']" [type]="'subdecorated'"></app-title>
                  <form (ngSubmit)="submitComment(form, $event)" #form="ngForm">
                    <div class="uc-form-group my-16">
                      <textarea id="{{ json['horizon_formulario_comentario']['forms']['textarea']['name'] }}" name="{{ json['horizon_formulario_comentario']['forms']['textarea']['name'] }}" rows="8" class="uc-input uc-input-style uc-input__textarea p-8 w-100" placeholder="{{ json['horizon_formulario_comentario']['forms']['textarea']['placeholder'] }}" ngModel></textarea>
                    </div>
                    <div class="col-md-4 offset-md-8 col-12 offset-0">
                      <button type="submit" name="{{ json['horizon_formulario_comentario']['forms']['button']['name'] }}" class="uc-btn btn-cta">{{ json['horizon_formulario_comentario']['forms']['button']['text'] }}</button>
                    </div>
                  </form>
                </ng-container>
                <ng-container *ngIf="response['show']">
                  <div class="row">
                    <div class="col-12 font-centered mb-24">
                      <h2>{{ response['text'] }}</h2>
                    </div>
                    <div class="offset-md-6 col-md-6 offset-0 col-12">
                      <button title="Enviar" type="submit" class="uc-btn btn-cta" (click)="resetForm()">{{ json['horizon_formulario_comentario']['forms']['reset']['text'] }}</button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="json['horizon_comentarios']['active']">
                <!-- partials/commons/title -->
                <app-title [title]="json['horizon_comentarios']['title']" [type]="'subdecorated'" class="my-24"></app-title>
                <ng-container *ngFor="let comment of data['comments']; let i = index">
                  <article>
                    <span class="text-color--gray-dark text-size--14">{{ comment['date'] }}</span>
                    <h4 class="text-size--16">{{ comment['user'] }}</h4>
                    <p class="mt-8">{{ comment['text'] }}</p>
                  </article>
                  <hr class="uc-hr my-24">
                </ng-container>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>


<section *ngIf="error" class="uc-section uc-section__header mb-60" >
  <div class="container uc-message warning">
    <a href="busqueda" class="uc-message_close-button"><i class="uc-icon">close</i></a>
    <div class="uc-message_body">
        <h2 class="mb-24"><i class="uc-icon warning-icon">warning</i> Página no encontrada</h2>
        <p class="no-margin">La ficha al cual se intenta ingresar no contiene información o no existe, si intentó ingresar directamente a esta url, por favor verifique si el handle está correcto o póngase en contacto con soporte, es probable que esta ficha ya no exista.</p>
        <hr class="uc-hr my-32">
        <div class="row align-items-center">
            <div class="col-md-6">
                <a (click)="getSearch()" >
                  <span class="uc-link text-align--right link" >¿Quiere probar iniciar una búsqueda?</span> <i class="uc-icon pl-2">search</i>
                </a>
            </div>
            <div class="col-md-6 text-right">

                <a href="contact" class="uc-link uc-btn btn-inline">
                    Si tiene dudas contáctenos
                    <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                </a>
            </div>
        </div>
    </div>
</div>
</section>