<div class="uc-navbar pt-2">
  
  <!-- Mensaje de aclaración estas en Home -->
  <div id="msjHome" style="position:fixed; top:40px;z-index: 1111;background:inherit;" class="uc-alert {{estilo}} mb-12 col-lg-6 offset-lg-3">
    <div class="uc-alert_content">
        <i class="uc-icon icon-size--lg">{{icono}}</i>
        <span class="p p-size--sm bold ml-8">{{msj}}</span>
    </div>
  </div>


  <div class="container container--nav">
    <div class="row no-gutters">
      <!-- MENU CORP -->
      <nav class="col-12 d-none d-lg-block"  data-role="navigation-holder">
        <ul class="uc-navbar_nav d-lg-flex dropdown-menu" id="menuCorp" style="float: right;">
          <li class="nav-item uc-dropdown menu-item" *ngFor="let menu of MenuCorp; let i = index">
            <a class="dropbtn uc-link text-size--14" style="padding-bottom: 8px;" title="{{ menu['name'] }}" >
              <span class="material-icons mr-1 font-size-16 vertical-align-middle">{{ menu['ico'] }}</span> {{ menu['name'] }}
            </a>
            
            <!-- Sub menu 1-->
            <ng-container *ngIf="menu['sub']" >
              <i class="uc-icon" data-role="open-submenu">arrow_drop_down</i>
              <ul class="submenu uc-dropdown_list">
                <div class="white-triangle d-none d-lg-flex"></div>
                <li class="uc-dropdown_list-item menu-item" *ngFor="let item of menu['sub']">
                  <div class="col-6">
                    <a class="uc-btn text-size--14" title="{{ item['name'] }}" [routerLink]="[item['link']]">{{ item['name'] }}</a>
                  </div>       
                </li>
              </ul>
            </ng-container>

          </li>
        </ul>
      </nav>
      <!-- LOGO -->
      <div class="col-lg-2">
        <nav class="uc-navbar-brand d-none d-lg-flex">
          <a class="uc-brand  mr-3 outline-link" tabindex="0" [routerLink]="['/']" title="Ir al inicio">
            <img (click)="alertas('info','info','Te encuentras en Página Principal')" class="img-fluid" src="assets/img/logo-uc-03.svg" alt="Logo Universidad Católica" aria-label="Ir al inicio">
          </a>
        </nav>
      </div>
      <!-- TITLE -->
      <div class="col-lg-8">
        <nav class="uc-navbar_title">
          <h1><a title="Ir al inicio" (click)="alertas('info','info','Te encuentras en Página Principal')" [routerLink]="['/']" tabindex="-1">Repositorio</a></h1>
        </nav>
      </div>
      <!-- SEARCH -->
      <nav class="col-lg-2" >
        <a (click)="alertas('info','info','Te encuentras en Página de Búsqueda'); search_header()" [routerLink]="['/busqueda']" class="uc-icon--inputed border-radius-50 bg-gris_C" aria-label="Ir a bùsqueda simple"  title="Ir a bùsqueda simple"><i class="uc-icon" style="font-size:33px">search</i></a>
      </nav>
      <!-- MENU -->
      <nav class="col-xl-10 offset-xl-2 col-lg-12 offset-lg-0 col-10" data-role="navigation-holder">

        <ul class="uc-navbar_nav d-lg-flex dropdown-menu" id="principal" >
          <!-- menu principal -->
          <li class="nav-item uc-dropdown menu-item" *ngFor="let menu of MenuRepos; let i = index">
            <a class="dropbtn uc-link text-size--15" style="padding-bottom: 8px;" title="{{ menu['name'] }}" >{{ menu['name'] }}</a>
            
            <!-- Sub menu 1-->
            <ng-container *ngIf="menu['sub']" >
              <i class="uc-icon" data-role="open-submenu">arrow_drop_down</i>
              <ul class="submenu uc-dropdown_list">
                <div class="white-triangle d-none d-lg-flex"></div>
                <li class="uc-dropdown_list-item menu-item" *ngFor="let item of menu['sub']">
                  <div class="col-6">
                    <a *ngIf="!item['sub']" class="uc-btn" title="{{ item['name'] }}" [routerLink]="[item['link']]">{{ item['name'] }}</a> <!-- [routerLink]="[item['link']]" -->
                    <a *ngIf="item['sub']" class="uc-btn" title="{{ item['name'] }}">{{ item['name'] }}</a>

                    <!-- Sub menu 2 -->
                    <ng-container *ngIf="item['sub']">
                      <nav class="uc-dropdown_list-item menu-item ml-8" *ngFor="let subitem of item['sub']">
                        <a  class="uc-btn color-black" style=" font-size: 14px; font-weight:normal" title="{{ subitem['name'] }}" [routerLink]="[subitem['link']]">{{ subitem['name'] }}</a>
                      </nav>
                    </ng-container>

                    <!-- <ul *ngIf="item['sub']" style = "list-style-type: none;">
                      <li class="uc-dropdown_list-item menu-item" *ngFor="let subitem of item['sub']">
                        <a  class="uc-btn color-black" style=" font-size: 14px; font-weight:normal" title="{{ subitem['name'] }}" [routerLink]="[subitem['link']]">{{ subitem['name'] }}</a>
                      </li>
                    </ul> -->
                    
                  </div>       
                </li>
              </ul>
            </ng-container>

          </li>
          <!-- menu corporativo -->
          <li class="nav-item uc-dropdown menu-item d-lg-none" *ngFor="let menu of MenuCorp; let i = index">
            <a class="dropbtn uc-link text-size--15" style="padding-bottom: 8px;" title="{{ menu['name'] }}" >{{ menu['name'] }}</a>
            
            <!-- Sub menu 1-->
            <ng-container *ngIf="menu['sub']" >
              <i class="uc-icon" data-role="open-submenu">arrow_drop_down</i>
              <ul class="submenu uc-dropdown_list">
                <div class="white-triangle d-none d-lg-flex"></div>
                <li class="uc-dropdown_list-item menu-item" *ngFor="let item of menu['sub']">
                  <div class="col-6">
                    <a *ngIf="!item['sub']" class="uc-btn" title="{{ item['name'] }}" [routerLink]="[item['link']]">{{ item['name'] }}</a> <!-- [routerLink]="[item['link']]" -->
                    <a *ngIf="item['sub']" class="uc-btn" title="{{ item['name'] }}">{{ item['name'] }}</a>

                    <!-- Sub menu 2 -->
                    <ng-container *ngIf="item['sub']">
                      <nav class="uc-dropdown_list-item menu-item ml-8" *ngFor="let subitem of item['sub']">
                        <a  class="uc-btn color-black" style=" font-size: 14px; font-weight:normal" title="{{ subitem['name'] }}" [routerLink]="[subitem['link']]">{{ subitem['name'] }}</a>
                      </nav>
                    </ng-container>
                  </div>       
                </li>
              </ul>
            </ng-container>

          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="uc-navbar_mobile-button d-flex d-lg-none" data-role="collapse-header" data-target="[data-role='navigation-holder']">
    <i class="uc-icon">menu</i>
  </div>
</div>
