<section class="uc-section uc-section__main">
  <!-- BANNER  -->
  <div class="form-panel container-fluid uc-container--fluid" on-mouseover="finSlider()" on-mouseout="playSlider()">
    <div class="panels" [@slide]="activePane">
      <!-- SLIDE 0 -->
      <!-- <div class="panel {{ activePane == 't1' ? 'active' : '' }} bg-azul-oscuro">
        <div class="col mt-8 mb-48 font-centered">
          <button tabindex=-1 type="button" title="Slide 1" class="ml-8 btn-slider" (click)="activePane = 't1'">1</button>
          <button tabindex=-1 type="button" title="Slide 2" class="ml-8" (click)="activePane = 't2'">2</button>
          <button tabindex=-1 type="button" title="Slide 3" class="ml-8" (click)="activePane = 't3'">3</button>
          <button tabindex=-1 type="button" title="Slide 4" class="ml-8" (click)="activePane = 't4'">4</button>
        </div>
        <span class="material-icons font-size-80 text-align-center w-100 color-amarillo">
          report_problem
          </span>
        <h1 class=" font-centered" style="color:#FADA3B;margin-left: 10%;margin-right: 10%;">¡IMPORTANTE!</h1>
        <h2 id="text-banner" class="font-centered" style="color:#FFFFFF;margin-left: 10%;margin-right: 10%">Los archivos ingresados al formulario "subir y compartir" durante el período de vacaciones UC (febrero), serán procesados por nuestro equipo en el mes de marzo.</h2>
      </div> -->

      <!-- SLIDE 1 -->
      <!-- <div class="panel {{ activePane == 't1' ? 'active' : '' }}" [style.background-image]="getBackgroundImage('assets/img/bnr-repos-4.jpg')">
        <div class="col mt-8 mb-48 font-centered">
          <button tabindex=-1 type="button" title="Slide 1" class="ml-8 btn-slider" (click)="activePane = 't1'">1</button>
          <button tabindex=-1 type="button" title="Slide 2" class="ml-8" (click)="activePane = 't2'">2</button>
          <button tabindex=-1 type="button" title="Slide 3" class="ml-8" (click)="activePane = 't3'">3</button>
          <button tabindex=-1 type="button" title="Slide 4" class="ml-8" (click)="activePane = 't4'">4</button>
        </div>

        <h1 class=" font-centered" style="color:floralwhite">Repositorio</h1>
        <p class="font-centered" style="color:floralwhite">PONTIFICIA UNIVERSIDAD CATÓLICA DE CHILE</p>
        <button tabindex=-1 class="uc-btn btn-cta col-lg-2 offset-lg-5 col-10 offset-1" [routerLink]="['/content/quienes-somos']" title="Conócenos">Conócenos</button>
      </div> -->

      <div class="panel {{ activePane == 't1' ? 'active' : '' }} bg-image" [style.background-image]="getBackgroundImage('assets/img/campus-villarrica.jpg')">
        <div class="col mt-8 mb-48 font-centered">
          <button tabindex=-1 type="button" title="Slide 1" class="ml-8 btn-slider" (click)="activePane = 't1'">1</button>
          <button tabindex=-1 type="button" title="Slide 2" class="ml-8" (click)="activePane = 't2'">2</button>
          <button tabindex=-1 type="button" title="Slide 3" class="ml-8" (click)="activePane = 't3'">3</button>
          <button tabindex=-1 type="button" title="Slide 4" class="ml-8" (click)="activePane = 't4'">4</button>
        </div>

        <h1 class=" font-centered" style="color:floralwhite">Campus Villarrica</h1>
        <p class="font-centered" style="color:floralwhite">Accede a los contenidos producidos en el sur de Chile.</p>
        <button tabindex=-1 class="uc-btn btn-cta col-lg-2 offset-lg-5 col-10 offset-1" [routerLink]="['/busqueda/campus/Villarrica']" title="Ver contenidos de Villarrica">Ver Villarrica</button>
      </div>
      <!-- SLIDE 2 -->
      

      
      <div class="panel {{ activePane == 't2' ? 'active' : '' }} bg-image" [style.background-image]="getBackgroundImage('assets/img/bnr-repos-3.jpg')">
        <div class="col mt-8 mb-48 font-centered">
          <button tabindex=-1 type="button" title="Slide 1" class="ml-8" (click)="activePane = 't1'">1</button>
          <button tabindex=-1 type="button" title="Slide 2" class="ml-8 btn-slider" (click)="activePane = 't2'">2</button>
          <button tabindex=-1 type="button" title="Slide 3" class="ml-8 " (click)="activePane = 't3'">3</button>
          <button tabindex=-1 type="button" title="Slide 4" class="ml-8" (click)="activePane = 't4'">4</button>
        </div>
        <h1 class=" font-centered" style="color:floralwhite">Publica tus Investigaciones e intégralo con ORCID</h1>
        <p class=" font-centered" style="color:floralwhite">OBTÉN TU CÓDIGO DE IDENTIFICACIÓN ÚNICO</p>
        <a tabindex=-1 title="Registro" href="https://orcid.org/signin?oauth&client_id=APP-Q6KQ3196BUPBN9TO&response_type=code&scope=/activities/update%20/read-limited&show_login=false&redirect_uri=http://servicios.bibliotecas.uc.cl/orcid/prod/oauth-redirect.php&lang=es" target="_blank" class="uc-btn btn-cta col-lg-2 offset-lg-5 col-10 offset-1" title="Crear perfil ORCID">Crear perfil ORCID</a>
      </div>
<!-- SLIDE 3 -->
      <div class="panel {{ activePane == 't3' ? 'active' : '' }} bg-image" [style.background-image]="getBackgroundImage('assets/img/bnr-repos-2.jpg')">
        <div class="col mt-8 mb-48 font-centered" >
            <button tabindex=-1 type="button" title="Slide 1" class="ml-8" (click)="activePane = 't1'">1</button>
            <button tabindex=-1 type="button" title="Slide 2" class="ml-8 " (click)="activePane = 't2'">2</button>
            <button tabindex=-1 type="button" title="Slide 3" class="ml-8 btn-slider" (click)="activePane = 't3'">3</button>
            <button tabindex=-1 type="button" title="Slide 4" class="ml-8" (click)="activePane = 't4'">4</button>
        </div>
        <h1 class=" font-centered" style="color:floralwhite">Red de Bibliotecas UC</h1>
        <p class=" font-centered" style="color:floralwhite">ACCEDE ONLINE A UNA AMPLIA DOCUMENTACIÓN EN DISTINTAS TEMÁTICAS</p>
      </div>

      <!-- SLIDE 4 -->
      <div class="panel {{ activePane == 't4' ? 'active' : '' }} font-centered bg-image" [style.background-image]="getBackgroundImage('assets/img/bnr-repos-1.jpg')">
        <div class="col mt-8 mb-48 font-centered">
          <button tabindex=-1 type="button" title="Slide 1" class="ml-8" (click)="activePane = 't1'">1</button>
          <button tabindex=-1 type="button" title="Slide 2" class="ml-8" (click)="activePane = 't2'">2</button>
          <button tabindex=-1 type="button" title="Slide 3" class="ml-8" (click)="activePane = 't3'">3</button>
          <button tabindex=-1 type="button" title="Slide 4" class="ml-8 btn-slider" (click)="activePane = 't4'">4</button>
        </div>

        <h1 class=" font-centered" style="color:floralwhite">Más de 18.000 documentos</h1>
        <p class=" font-centered" style="color:floralwhite">TESIS - ARTÍCULOS - TRABAJOS DE GRADUACIÓN - CAPÍTULOS DE LIBROS</p>
      </div>

    </div>
  </div>

  <!-- Búsqueda / Login / Subir documento -->
  <div class="container uc-container--pushed">  
    <!-- BUSCADOR -->
    <div id="cajaSearch" class="uc-card uc-card--gray mb-32">
      <div class="uc-card_body uc-card_body--padded">
        <h2>{{ CajonBusqueda['cajon-busqueda']['name'] }}</h2>
        <div class="uc-form-group mt-16">
          <form #searchForm="ngForm" (ngSubmit)="getSearch(searchForm)">
            <input name='name' [(ngModel)]='buscalibro.name' type="text" class="uc-input-style" placeholder="{{ CajonBusqueda['cajon-busqueda']['texto-cajon-alt'] }}" style="border: 3px solid rgb(254, 198, 13); box-shadow: 0px 0px 5px 0px rgba(254, 198, 13, 1);" aria-label="Ingresar búsqueda" title="Ingresar búsqueda">
            <button title="Hacer búsqueda simple" aria-label="Hacer búsqueda simple" type="submit" class="uc-search_button"><i class="uc-icon">search</i></button>
          </form>
        </div>    
        <nav class="w-100 text-align--right">
          <a (click)="BusquedaAvanzada()" tabindex=0 (keypress)="BusquedaAvanzada()" class="uc-link text-align--right link"><strong>{{ CajonBusqueda['cajon-busqueda']['link-busqueda-avanzada']['name'] }}<i class="uc-icon">keyboard_arrow_right</i></strong></a>
        </nav>
      </div>
    </div>
    
    <!-- ++++++++ AUTENTICACION UC ++++++++ -->

    <div id="containerBusca" class="row" *ngIf="!loggedIn">

      <!-- AUTENTICACION UC -->
      <!-- <div class="col-md-6 col-12 mb-32">
          <div class="uc-card uc-card--gray card-height--same">
            <div class="uc-card_body p-32">
              <div class="d-flex align-items-center mb-16">
                <h2> Iniciar Sesión UC </h2>
                <span class="uc-heading-decoration"></span>
                <span class="uc-heading-decoration m-0"></span>
              </div>
              <div class="uc-card_excerpt">
                <p>Si estudias, haces clases o investigas en la Pontificia Universidad Católica de Chile puedes iniciar sesión en el Repositorio con tu clave y usuario UC. Al ingresar, tendrás acceso directo a tu cuenta donde podrás subir documentos y revisar el estado de avance de tus publicaciones compartidas.</p>
              </div>
              <div class="row mt-auto">
                <div class="col-lg-6 offset-lg-6 col-12 offset-0">
                  <a tabindex=0 (keypress)="loginCas('home')" (click)="loginCas('home')" class="uc-btn btn-cta pointer" title="Serás redireccionado a iniciar sesión con tu cuenta UC">Ingresar a tu cuenta</a>
                </div>
              </div>
            </div>
          </div>
      </div> -->
      
      <div class="col-12 mb-32">
        <div class="uc-card uc-card bg-celeste mb-32 " *ngIf="!editing">
          <div class="uc-card_body">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="d-flex align-items-center mb-32">
                  <h2> {{ CajonBusqueda['cajon-auto-archivo']['name'] }} </h2>
                  <span class="uc-heading-decoration"></span>
                  <span class="uc-heading-decoration m-0"></span>
                </div>
                <p [innerHTML]="CajonBusqueda['cajon-auto-archivo']['descripcion']"></p>
                <!-- <a href="{{ CajonBusqueda['cajon-auto-archivo']['links']['link'] }}" class="mt-3">
                <span class="material-icons vertical-align-middle color-amarillo-oscuro mr-1">{{ CajonBusqueda['cajon-auto-archivo']['links']['ico'] }}</span> {{ CajonBusqueda['cajon-auto-archivo']['links']['name'] }}</a> -->
              </div>
              <div class="col-12 col-md-6 mt-auto">
                <a tabindex=0 (keypress)="loginCas('upload/subir-publicacion')" (click)="loginCas('upload/subir-publicacion')" class="uc-btn btn-cta pointer ml-auto mt-32" style="width: 255px;" title="Serás redireccionado a iniciar sesión con tu cuenta UC">{{ CajonBusqueda['cajon-auto-archivo']['boton']['name-sesion'] }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- COMPARTIR TUS TESIS Y PUBLICACIONES -->
      <!-- <div class="col-md-6 col-12 mb-32">
        <div class="uc-card uc-card--gray card-height--same">
          <div class="uc-card_body p-32">
            <div class="d-flex align-items-center mb-16">
              <h2> {{ CajonBusqueda['cajon-auto-archivo']['name'] }} </h2>
              <span class="uc-heading-decoration"></span>
              <span class="uc-heading-decoration m-0"></span>
            </div>
            <div class="uc-card_excerpt">
              <p [innerHTML]="CajonBusqueda['cajon-auto-archivo']['descripcion']"></p>
            </div>
            <div class="row mt-auto">
              <div class="col-lg-6 offset-lg-6 col-12 offset-0">
                <a tabindex=0 (keypress)="loginCas('upload/subir-publicacion')" (click)="loginCas('upload/subir-publicacion')" class="uc-btn btn-cta pointer" title="Serás redireccionado a iniciar sesión con tu cuenta UC">{{ CajonBusqueda['cajon-auto-archivo']['boton']['name-sesion'] }}</a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- COMPARTE TUS DATOS DE INVESTIGACION -->
      <!-- <div class="col-md-6 col-12 mb-32">
        <div class="uc-card uc-card--gray card-height--same">
          <div class="uc-card_body p-32">
            <div class="d-flex align-items-center mb-16">
              <h2> {{ CajonBusqueda['cajon-di']['name'] }} </h2>
              <span class="uc-heading-decoration"></span>
              <span class="uc-heading-decoration m-0"></span>
            </div>
            <div class="uc-card_excerpt">
              <p [innerHTML]="CajonBusqueda['cajon-di']['descripcion']"></p>
            </div>
            <div class="row mt-auto">
              <div class="col-lg-6 offset-lg-6 col-12 offset-0">
                <a tabindex=0 (keypress)="loginCas('upload/subir-publicacion')" (click)="loginCas('upload/subir-publicacion')" class="uc-btn btn-cta pointer" title="Serás redireccionado a iniciar sesión con tu cuenta UC">{{ CajonBusqueda['cajon-di']['boton']['name-sesion'] }}</a>
              </div>
            </div>
          </div>
        </div>
      </div> -->

    </div>

    <!--  ++++++++++ PERFIL USER +++++++++++ -->

    <div class="row" *ngIf="loggedIn">
      <!-- Datos de Perfil usuario -->
      <div class="col-md-6 col-12 mb-32">
        <div class="uc-card h-100" *ngIf="!editing">
          <div class="uc-card_body p-32">
            <div class="d-flex mb-24">
              <i class="uc-icon font-size-80">account_circle</i>
              <div class="pl-8">
                <h2>{{usuario}}</h2>
                <span class="uc-subtitle">{{unidad}} </span>
              </div>
            </div>
            <button (click)="logout()" title="Salir" type="button" class="uc-btn btn-cta mt-auto ml-auto" style="width: 155px;">Salir</button>

            <!-- <form (ngSubmit)="editData(form, $event)" #form="ngForm" class="mt-auto bg-azul-oscuro">
              <div class="row">
                <div class="col-lg-4 col-xs-10 offset-1">
                  <button (click)="logout()" title="Salir" type="button" class="uc-btn btn-cta">Salir</button>
                </div>
              </div>
            </form> -->
            <!-- <div class="row mt-32">
            </div> -->

          </div>
        </div>
      </div>
      <!-- Comparte -->
      <div class="col-md-6 col-12 mb-32">
        <div class="uc-card uc-card bg-celeste mb-32 h-100" *ngIf="!editing">
          <div class="uc-card_body p-32">
            <h2 class="mb-3">{{ CajonBusqueda['cajon-auto-archivo']['name'] }}</h2>
            <p [innerHTML]="CajonBusqueda['cajon-auto-archivo']['descripcion']"></p>
            <!-- <a href="{{ CajonBusqueda['cajon-auto-archivo']['links']['link'] }}" class="mt-3">
              <span class="material-icons vertical-align-middle color-amarillo-oscuro mr-1">{{ CajonBusqueda['cajon-auto-archivo']['links']['ico'] }}</span> {{ CajonBusqueda['cajon-auto-archivo']['links']['name'] }}</a> -->
            <button tabindex=0 [routerLink]="[ CajonBusqueda['cajon-auto-archivo']['boton']['link'] ]" (keypress)="[ CajonBusqueda['cajon-auto-archivo']['boton']['link']]" type="button" class="uc-btn btn-cta mt-16 mt-auto">{{ CajonBusqueda['cajon-auto-archivo']['boton']['name'] }}</button>
          </div>
        </div>
        <!-- <div class="uc-card uc-card--gray mb-32" *ngIf="!editing">
          <div class="uc-card_body p-32">
            <h2 class="mb-3">{{ CajonBusqueda['cajon-auto-archivo']['name'] }}</h2>
            <p [innerHTML]="CajonBusqueda['cajon-auto-archivo']['descripcion']"></p>
            <button tabindex=0 [routerLink]="[ CajonBusqueda['cajon-auto-archivo']['boton']['link'] ]" (keypress)="[ CajonBusqueda['cajon-auto-archivo']['boton']['link']]" type="button" class="uc-btn btn-cta mt-16">{{ CajonBusqueda['cajon-auto-archivo']['boton']['name'] }}</button>
          </div>
        </div>

        <div class="uc-card uc-card--gray mb-32" *ngIf="!editing">
          <div class="uc-card_body p-32 ">
            <h2 class="mb-3">{{ CajonBusqueda['cajon-di']['name'] }}</h2>
            <p [innerHTML]="CajonBusqueda['cajon-di']['descripcion']"></p>
            <button tabindex=0 [routerLink]="[ CajonBusqueda['cajon-di']['boton']['link'] ]" (keypress)="[ CajonBusqueda['cajon-di']['boton']['link'] ]" type="button" class="uc-btn btn-cta mt-16">{{ CajonBusqueda['cajon-di']['boton']['name'] }}</button>
          </div>
        </div> -->
      </div>

      <div class="col mt-32">
        <div class="uc-card">
          <div class="uc-card_body p-32">
            <div class="row">
              <div class="col-lg-6">
                <h3>¿Tienes cuenta ORCID?</h3>
            <div class="uc-excerpt">
              <p><strong>ORCID</strong> es un proyecto sin fines de lucro que ofrece un código de identificación único para autores de publicaciones científicas y una plataforma online para compartir su currículum académico.</p>
              <p><strong>¿Cuáles son sus beneficios?</strong></p>
              <ul>
                <li>Elimina la ambigüedad en los nombres de los investigadores y sus afiliaciones.</li>
                <li>Es requerido por un gran número de editores científicos, como Nature, Taylor & Francis y Wiley, entre otros.</li>
                <li>Enlaza las actividades de investigación de un mismo autor referenciadas en diversas bases de datos bibliográficas.</li>
                <li>Permite al investigador controlar su perfil y aumentar la visibilidad de esos datos en la red.</li>
              </ul>

              
            </div>
              </div>
              <div class="col-lg-6">
                <p><strong>Crea e integra tu perfil de Orcid con el Repositorio UC</strong></p>
              <p>El Repositorio UC es una plataforma online abierta que reúne y visibiliza la producción académica y de investigación que se genera en la Universidad. Al crear y/o vincular tu perfil en el siguiente link, permitirás que el sistema de la Universidad pueda mostrar en el Repositorio UC los datos y publicaciones de aquellas que estén con afiliación UC. </p>
                <div class="font-centered mt-8">
                  <span class="text-weight--500">¿Ya tienes Orcid?</span>
                </div>
                <a title="Vincular" href="https://orcid.org/signin?oauth&client_id=APP-Q6KQ3196BUPBN9TO&response_type=code&scope=/activities/update%20/read-limited&redirect_uri=https://servicios.bibliotecas.uc.cl/orcid/prod/oauth-redirect.php&show_login=true&lang=es" target="_blank" class="uc-btn uc-btn--padded btn-featured mt-24">
                  Integra aquí tu perfil con el Repositorio UC
                  <i class="uc-icon icon-size--small">launch</i>
                </a>
                
                <div class="font-centered mt-32">
                  <a title="Registro" href="https://orcid.org/signin?oauth&client_id=APP-Q6KQ3196BUPBN9TO&response_type=code&scope=/activities/update%20/read-limited&show_login=false&redirect_uri=https://servicios.bibliotecas.uc.cl/orcid/prod/oauth-redirect.php&lang=es" target="_blank" class="uc-link text-weight--500">Crea aquí tu perfil ORCID</a>
                </div>
                <div class="font-centered mt-8">
                  <span class="text-weight--500">y conéctalo automáticamente con el Repositorio UC</span>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Villarrica -->
<section class="uc-section uc-section__home" *ngIf="json['horizon_villarrica'].active && !loggedIn">
  <div class="container">
    <ng-container *ngIf="data['topics-villarrica']">

      <app-title [title]="json['horizon_villarrica'].title" [type]="'decorated'"></app-title>

      <div class="row">
        <ng-container *ngFor="let topics of tipos_villarrica; let i = index">
          <div class="col-lg-3 col-12 mb-32"   *ngIf="i<4">
            <ng-container *ngIf="json['horizon_villarrica'].section_cards_small.active">
                <app-card-topic [cardTopicData]="topics" [cardTopicCat]="['Villarrica']" [cardTopicIndex]="i" [cardTopicImage]="false" >  </app-card-topic>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</section>

<!-- Areas tematicas -->
<section class="uc-section uc-section__home" *ngIf="json['horizon_areas_tematicas'].active && !loggedIn">
  <div class="container">
    <ng-container *ngIf="data['topics']">

      <app-title [title]="json['horizon_areas_tematicas'].title" [type]="'decorated'"></app-title>

      <div class="row">
        <ng-container *ngFor="let topics of categorias; let i = index">

          <div class="col-lg-6 col-12 mb-32" *ngIf="i < 2">
            <ng-container *ngIf="json['horizon_areas_tematicas'].section_cards_big.active">
                <app-card-topic [cardTopicData]="topics" [cardTopicIndex]="i" [cardTopicImage]="true" >  </app-card-topic>
            </ng-container>
          </div>
          
          <div class="col-lg-4 col-12 mb-32"  *ngIf="i>=2 && i<5">
            <ng-container *ngIf="json['horizon_areas_tematicas'].section_cards_medium.active">
                <app-card-topic [cardTopicData]="topics" [cardTopicIndex]="i" [cardTopicImage]="true" >  </app-card-topic>
            </ng-container>
          </div>
         
          <div class="col-lg-3 col-12 mb-32"   *ngIf="i>=5 && i<13">
            <ng-container *ngIf="json['horizon_areas_tematicas'].section_cards_small.active">
                <app-card-topic [cardTopicData]="topics" [cardTopicIndex]="i" [cardTopicImage]="false" >  </app-card-topic>
            </ng-container>
          </div>
          </ng-container>
      </div>
    </ng-container>
  </div>
</section>

<!-- Noticias y Suscripcion -->
<section class="uc-section uc-section__home" *ngIf="json.horizon_novedades.active && !editing">

  <!-- Noticias -->
  <section class="uc-section uc-section__sub my-32">
    <div class="container">
      
      <ng-container *ngIf="json.horizon_novedades.section_slider.active && data['news']['section_childs']['active']">

        <app-title [title]="json.horizon_novedades" [type]="'complex'"></app-title>
        <div class="row mb-60">
            <ng-container *ngFor="let slide of data['news']['section_childs']['childs']; let i = index"> 
            
            <article class="col-md-4 col-12 mb-2"  *ngIf="i<3">
              <a [routerLink]="['/blog/'+i]" class="uc-card card-height--same mouse-over" title="{{slide['horizon_header']['title']}}">

                <figure class="uc-card_img">
                    <img src="{{slide['horizon_header']['image']}}" onerror="this.src= 'assets/img/default-news.jpg'" class="img-fluid" alt="{{slide['horizon_header']['title']}}">
                </figure>

                <div class="uc-card_body">
                  <h3 class="text-size--20 text-weight--700">
                    {{slide['horizon_header']['title']}}
                  </h3>
                  <div class="uc-text-divider divider-primary mt-16" *ngIf="divider"></div>

                  <div class="text-right mt-auto pt-3">
                    <a class="uc-link no-decoration link">
                      Seguir leyendo
                    </a>
                  </div>
                </div>
              </a>
            </article>
          </ng-container>
        </div>

      </ng-container>
    </div>
  </section>
  <!-- Suscripcion -->
  <section id="suscripcion" class="uc-section uc-section__sub uc-section--featured my-32 py-48" *ngIf="data['SuscripcionNews']">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>{{ data['SuscripcionNews']['title'] }}</h2>
          <div class="uc-excerpt">
            <p>{{ data['SuscripcionNews']['excerpt']}}</p>
          </div>
        </div>
        
        <div class="col-md-6">
          <label class="text-weight--700 color-white ml-3 mt-3">Correo electrónico</label>
          <object data="https://uc-cl.libwizard.com/f/susc_repo" width="100%" height="200px">
            <embed src="https://uc-cl.libwizard.com/f/susc_repo" width="100%"/>
          </object>

          <!-- <form #subscribeForm="ngForm" (ngSubmit)="newsletter('subscribeForm')">
            <div *ngIf="!status" id="mc_embed_signup_scroll" class="row h-100 align-items--center">
              <div class="col-8">
                <div class="uc-form-group">
                  <label for="email_newsletter">Correo electrónico</label>
                  <input type="email" value="" #email='ngModel' name='userName' [(ngModel)]='subscribeData.email' class="uc-input-style" id="mce-EMAIL" placeholder="Escribe tu email" title="Escribe tu email" pattern="\S+@\S+\.\S+" required>
                  
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_3019e80d9464546d10c84e3d9_79d7a69f29" tabindex="-1" value="">
                  </div>
                </div>
              </div>
              <div class="col-4">
                  <button type="submit" title=" Suscribir" class="uc-btn uc-btn--padded btn-cta mt-16" [disabled]="subscribeForm.pristine || subscribeForm.invalid">Suscribir</button>
              </div>
              <div *ngIf="!email.valid && email.touched" class="row alert-info">
                  <i class="material-icons col-2">warning </i> <span class="col-10">Email es requerido.</span>
              </div>
              
            </div>

            <ng-container *ngIf="status" >

              <div class="uc-message success" *ngIf="status == 'success'">
                <a (click)="volverSuscribir()" class="uc-message_close-button"><i class="uc-icon">close</i></a>
                <div class="uc-message_body">
                    <h2 class="mb-24 color-black"><i class="uc-icon warning-icon">check_circle</i> ¡Suscripción exitosa!</h2>
                    <p class="no-margin color-black">Gracias por suscribirte, en cualquier momento podrás darte de baja seleccionando la opción en el pie de los emails.</p>
                </div>
              </div>

              <div class="uc-message warning" *ngIf="status == 'existe'"> 
                <a (click)="volverSuscribir()" class="uc-message_close-button"><i class="uc-icon pointer">close</i></a>
                <div class="uc-message_body">
                    <h2 class="mb-24 color-black"><i class="uc-icon warning-icon">warning</i> ¡Email ya existe!</h2>
                    <p class="no-margin color-black">Esta cuenta de correo ya se encuentra registrada con anterioridad. Si necesitas ayuda puedes <a href="contact">contactarnos.</a></p>
                    <hr class="uc-hr my-32">
                    <div class="row align-items-center">
                        <div class="col-md-7 text-right">
                            <a (click)="volverSuscribir()" class="uc-btn btn-primary mt-auto">
                                <span class="color-celeste ">Suscribir nuevamente</span>
                                <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                            </a>
                        </div>
                    </div>
                </div>
              </div>

              <div class="uc-message error" *ngIf="status == 'error'">
                  <a (click)="volverSuscribir()" class="uc-message_close-button"><i class="uc-icon">close</i></a>
                  <div class="uc-message_body">
                      <h2 class="mb-24 color-black"><i class="uc-icon warning-icon">error</i> ¡Error en el registro!</h2>
                      <p class="no-margin color-black">No pudimos suscribirte, por favor volver a intentar. Si necesitas ayuda puedes <a href="contact">contactarnos.</a></p>
                      <hr class="uc-hr my-32">
                      <div class="row align-items-center">
                          <div class="col-md-7 text-right">
                              <a (click)="volverSuscribir()" class="uc-btn btn-primary mt-auto">
                                <span class="color-celeste ">Intentar nuevamente</span>
                                  <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
            
            </ng-container>
          </form> -->
        </div>
      </div>
    </div>
  </section>

</section>

<!-- Números y gráficos -->
<section class="uc-section uc-section__home" *ngIf="json.horizon_nuestros_numeros.active && !editing">
  <div class="container">

    <ng-container >
      <app-title [title]="json.horizon_nuestros_numeros.title" [type]="'decorated'"></app-title>
      <div class="row">
        <div class="col-md-12" *ngIf="json.horizon_nuestros_numeros.section_boxes.active">
          <div class="row">

            <!-- Cantidad de Tesis -->
            <a (keypress)="getStatistics('tesis')" (click)="getStatistics('tesis')" class="col-md-4 mb-32 pointer" aria-label="Buscar tesis" title="Buscar {{ data['statistics-tesis'] }} tesis">
                <div class="uc-card">
                  <div class="uc-card_body p-12 text-center uc-btn btn-cta">
                    <h4 class="text-size-40">{{ data['statistics-tesis'] }}</h4>
                    <p class="m-0">Cantidad de <br>Tesis</p>
                  </div>
                </div>
            </a>
            <!-- Cantidad de Artículos -->
            <a (keypress)="getStatistics('articulos')"  (click)="getStatistics('articulos')" class="col-md-4 mb-32 pointer" aria-label="Buscar artículos" title="Buscar {{ data['statistics-articulos'] | number }} artículos">
                <div class="uc-card">
                  <div class="uc-card_body p-12 text-center uc-btn btn-cta">
                    <h4 class="text-size-40">{{ data['statistics-articulos']}}</h4>
                    <p class="m-0">Cantidad de <br>Artículos</p>
                  </div>
                </div>
            </a>
            <!-- Cantidad de capítulos de libros  -->
            <a (keypress)="getStatistics('libros')" (click)="getStatistics('libros')" class="col-md-4 mb-32 pointer" aria-label="Buscar capítulos de libros" title="Buscar {{ data['statistics-libros'] | number }} capítulos de libros">
              <div class="uc-card">
                <div class="uc-card_body p-12 text-center uc-btn btn-cta">
                  <h4 class="text-size-40">{{ data['statistics-libros'] }}</h4>
                  <p class="m-0">Cantidad de <br>libros</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Gráficos DataStudio -->
        <div class="col">
          <div class="chart_main mb-32">
            <h5 class="mb-3 col-lg-6"><i class="material-icons"> calendar_today </i> Últimos 30 días</h5>

            <div class="text-align--right">
              <a target="blank" href="https://datastudio.google.com/embed/reporting/3e0d70f2-ce81-4f23-932a-19edda2e2048/page/KKGcB" class="uc-btn btn-inline text-right">Si no visualiza, ver desde acá<i class="uc-icon icon-shape--rounded">launch</i></a>
            </div>
            <iframe width="600" height="300" src="https://datastudio.google.com/embed/reporting/3e0d70f2-ce81-4f23-932a-19edda2e2048/page/KKGcB" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>

<!-- Estudios bibliométricos -->
<section class="uc-section uc-section__home" *ngIf="json['horizon_estudios_bibliometricos']['active'] && !editing">
  <div class="container">
    <ng-container *ngIf="data['studies']">
      <app-title [title]="json['horizon_estudios_bibliometricos']" [type]="'complex'"></app-title>
      <div class="row">
        <div class="col-lg-4 col mb-32" *ngFor="let study of data['studies']; let i = index">
          <div class="uc-card uc-card--gray card-height--same" *ngIf="i < 4 ">
            <div class="uc-card_body p-32">
              <h3>{{ study['archivo'] }}</h3>
              <div class="uc-text-divider divider-primary my-16"></div>
              <div class="uc-card_excerpt mb-24">
                <p>{{ study['descripcion'] }}</p>
              </div>
              <a title="Descargar {{ study['archivo'] }}" href="{{ study['descarga'] }}" class="uc-btn btn-primary mt-auto" download>Descargar <i class="uc-icon icon-shape--rounded">get_app</i></a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>


