<section class="uc-section uc-section__main" >
  <div class="container-fluid uc-container--fluid" *ngIf="data['content']" [style.background-image]="getBackgroundImage(data['content']['horizon_header']['image'])">
    <div class="uc-veil uc-veil--black"></div>
  </div>
  <div class="container uc-container--pushed">
    <div class="uc-card mb-32 no-contour">
      <div class="uc-card_body uc-card_body--padded">
        <div class="row" id="banner">
          <div class="offset-md-1 col-md-7 offset-0" *ngIf="data['content']">
            <!-- partials/commons/breadcrumbs -->
            <app-breadcrumbs [breadcrumbs]="data['content']['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="data['content']['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
            <a title="{{data['content']['horizon_header']['tag']['title']}}" href="{{data['content']['horizon_header']['tag']['url']}}" class="uc-tag mb-8">{{ data['content']['horizon_header']['tag']['text'] }}</a>
            <h1 class="mb-32">{{ data['content']['horizon_header']['title'] }}</h1>
            <p class="text-size--20 text-weight--700">{{ data['content']['horizon_header']['excerpt'] }}</p>
            <div class="uc-text-divider divider-secondary my-16"></div>
          </div>

          <ng-container *ngIf="data['content']">
            <ng-container *ngFor="let content of data['content']['horizon_contents']; let i = index">

              <ng-container *ngIf="content['type'] == 'text'">
                <div class="offset-md-1 col-md-7 offset-0" *ngIf="content['active']">
                  <h2 class="text-size--24 mb-8" *ngIf="content['title'] != ''">{{ content['title'] }}</h2>
                  <p [innerHTML]="content['content']"></p>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'image'">
                <div class="col-md-9 my-60" *ngIf="content['active']" style="text-align: center;">
                  <figure><img src="{{ content['content'] }}" alt="{{ content['alt'] }}" title="{{ content['title'] }}" class="img-fluid"></figure>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'quote'">
                <blockquote class="offset-md-1 col-md-8 offset-0 my-60" *ngIf="content['active']">
                  <p class="uc-quote quote-lg pl-32">"<span [innerHTML]="content['content']"></span>"</p>
                </blockquote>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'quote_bordered'">
                <blockquote class="offset-md-1 col-md-8 offset-0 my-60" *ngIf="content['active']">
                  <p class="uc-quote quote-lg pl-32 quote-bordered">"<span [innerHTML]="content['content']"></span>"</p>
                </blockquote>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'list_normal'">
                <div class="offset-md-1 col-md-7 offset-0" *ngIf="content['active']">
                  <ul class="uc-list uc-list--bins mb-0">
                    <li class="uc-list__item mb-16" *ngFor="let item of content['content']" [innerHTML]="item['text']"></li>
                  </ul>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'Noticias_Destacadas'">
                <div class="offset-md-1 col-md-8 offset-0 mt-60" *ngIf="content['active']">
                  <h2 class="text-size--24 mb-32">{{ content['title'] }}</h2>
                  <div class="row mb-60">
                    <ng-container *ngFor="let slide of data['news']; let i = index">
                      <article class="col-md-4 col-12 mb-2" *ngIf="slide.status == 'published'  && slide.id == '0300bda3e1f0'">
                        <a [routerLink]="['/blog/',slide.id]" class="uc-card card-height--same mouse-over"
                          title="{{slide.name}}">
                          <figure class="uc-card_img">
                            <img src="{{slide.title}}" onerror="this.src= 'assets/img/default-news.jpg'" class="img-fluid"
                              alt="{{slide.title}}">
                          </figure>
        
                          <div class="uc-card_body">
                            <h3 class="text-size--20 text-weight--700">
                              {{slide.name}}
                            </h3>
                            <div class="uc-text-divider divider-primary mt-16" *ngIf="divider"></div>
                            <div class="text-right mt-auto pt-3">
                              <a class="uc-link no-decoration link">
                                Seguir leyendo
                              </a>
                            </div>
                          </div>
                        </a>
                      </article>
                    </ng-container>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'list_links'">
                <div class="offset-md-1 col-md-8 offset-0 mt-16" *ngIf="content['active']">
                  <h2 class="text-size--24 mb-8">{{ content['title'] }}</h2>
                  <ul class="uc-list uc-list--bins mb-0">
                    <li class="uc-list__item mb-8" *ngFor="let item of content['content']">
                      <a title="{{ item['title'] }}" href="{{ item['url'] }}" class="uc-link no-decoration text-weight--500">
                        {{ item['text'] }}<i class="uc-icon text-size--12">{{ item['icon'] }}</i>
                      </a>
                    </li>
                  </ul>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'table'">
                <div class="col-md-9 my-60" *ngIf="content['active']">
                  <table class="uc-table">
                    <thead>
                      <tr>
                        <th *ngFor="let th of content['content']['columns']">{{ th }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let td of content['content']['rows']">
                        <td><strong>{{ td['hora'] }}</strong></td>
                        <td>{{ td['seccion'] }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'video'">
                <div class="col-md-9 my-60" *ngIf="content['active']">
                  <article class="box box--video">
                    <video data-role="video-player" src="{{ content['content'] }}" type="video/mp4" controls></video>
                  </article>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'map'">
                <div class="col-md-9" *ngIf="content['active']">
                  <h2>{{ content['title'] }}</h2>
                  <span class="uc-subtitle">{{ content['content']['direccion'] }}</span>
                  <div id="map_{{ i }}" class="map-leaflet"></div>
                </div>
              </ng-container>

              <!-- ZONA DE RESULTADOS-->
              <ng-container *ngIf="content['type'] == 'registros'">
                <section class="offset-md-1 col-md-10 offset-0 mt-5" *ngIf="content['active']">
                  <div class="container">
                    <div class="row mb-24">
                      <div class="col-12">
                        <!-- partials/commons/title -->
                        <app-title [title]="'Últimos 10 registros'" [type]="'decorated'"></app-title>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-12">
                        
                        <ng-container *ngFor="let a of data['search'], let i=index">
                          <a *ngIf="i<10" [routerLink]="['/handle', a['handle'] | slash_izquierda , a['handle'] | slash_derecha ]" class="uc-card {{ (heightSame) ? 'card-height--same' : '' }} mb-24 mouse-over" title="{{ a['dc.title']}}">
                            <article class="uc-card_body">
                              <div class="row">
                                <div class="col">
                                  <div class="uc-card uc-card--edge">
                                    <div class="p-0">

                                      <div class="row mb-2">
                                        <div class="col">
                                          <span *ngIf="a['dc.type']" class="uc-tag mr-2" title="Tipo de documento">{{ a['dc.type'] }}</span>
                                        </div>
                                      </div>

                                      <div class="row mb-16">
                                        <div class="col">
                                          <span *ngIf="a['dateIssued']" class="color-gris font-size-14" title="Fecha publicación y disponible">
                                            <i class="material-icons ico-meta">date_range</i> Publicado el {{ a['dateIssued'] }}  - Disponible desde {{ a['dc.date.available']  | fecha: 10 }}
                                          </span>
                                        </div>
                                      </div>

                                      <h2 class="text-size--16 text-weight--700">
                                        {{ a['dc.title']}}
                                      </h2>

                                      <div class="row mt-8 ">
                                        <div class="col">
                                          <span *ngIf="a['dc.contributor.author']" class="metadata mr-2" title="Autor"><i class="material-icons ico-meta" >account_box</i>  {{ a['dc.contributor.author'] }}</span>
                                          <span *ngIf="a['dc.contributor.other']" class="metadata mr-2" title="Otro autor"><i class="material-icons ico-meta " >account_box</i>  {{ a['dc.contributor.other'] }}</span>                                   
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </article>
                          </a>
                        </ng-container>
                        

                        <!-- Cargando -->
                        <div *ngIf="!data['search']; let i = index" style="text-align: center;color:#0176DE">
                          <img class="mt-5" src="../../../assets/img/2.gif">
                            <h4 class="mt-3 mb-3">Cargando...</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </ng-container>
              <!-- fin zona de resultados -->

              <ng-container *ngIf="content['type'] == 'suscripcion'">
                <div class="offset-md-1 col-md-7 offset-0" *ngIf="content['active']">
                  <h2 class="text-size--24 mb-8" *ngIf="content['title'] != ''">{{ content['title'] }}</h2>
                  <p [innerHTML]="content['content']"></p>
                </div>

                <div class="offset-md-1 col-md-10 offset-0">
                  <div class="row">
                    <div class="col">
                      <label class="text-weight--700 ml-3 mt-3">Correo electrónico</label>
                      <object data="https://uc-cl.libwizard.com/f/susc_repo" width="100%" height="200px">
                        <embed src="https://uc-cl.libwizard.com/f/susc_repo" width="100%"/>
                      </object>
                      
                      <!-- Begin Mailchimp Signup Form -->
                      <!-- <form #subscribeForm="ngForm" (ngSubmit)="newsletter('subscribeForm')">
                        <div *ngIf="!status" id="mc_embed_signup_scroll" class="row h-100 align-items--center mt-60 margin-bottom-100">
                          <div class="col-8">
                            <div class="uc-form-group">
                              <label for="email_newsletter">Correo electrónico</label>
                              <input type="email" value="" #email='ngModel' name='userName' [(ngModel)]='subscribeData.email' class="uc-input-style" id="mce-EMAIL" placeholder="Escribe tu email" title="Escribe tu email" pattern="\S+@\S+\.\S+" required>
                              
                              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_3019e80d9464546d10c84e3d9_79d7a69f29" tabindex="-1" value="">
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                              <button type="submit" title=" Suscribir" class="uc-btn uc-btn--padded btn-cta mt-16" [disabled]="subscribeForm.pristine || subscribeForm.invalid">Suscribir</button>
                          </div>
                          <div *ngIf="!email.valid && email.touched" class="row alert-info">
                              <i class="material-icons col-2">warning </i> <span class="col-10">Email es requerido.</span>
                          </div>
                          
                        </div>

                        <ng-container *ngIf="status" >

                          <div class="uc-message success" *ngIf="status == 'success'">
                            <button (click)="volverSuscribir()" class="uc-message_close-button"><i class="uc-icon">close</i></button>
                            <div class="uc-message_body">
                                <h2 class="mb-24 color-black"><i class="uc-icon warning-icon">check_circle</i> ¡Suscripción exitosa!</h2>
                                <p class="no-margin color-black">Gracias por suscribirte, en cualquier momento podrás darte de baja seleccionando la opción en el pie de los emails.</p>
                            </div>
                          </div>
            
                          <div class="uc-message warning" *ngIf="status == 'existe'"> 
                            <button (click)="volverSuscribir()" class="uc-message_close-button"><i class="uc-icon">close</i></button>
                            <div class="uc-message_body">
                                <h2 class="mb-24 color-black"><i class="uc-icon warning-icon">warning</i> ¡Email ya existe!</h2>
                                <p class="no-margin color-black">Esta cuenta de correo ya se encuentra registrada con anterioridad, verifica esté escrita correctamente o comunícate a nuestro fono emergencia.</p>
                                <hr class="uc-hr my-32">
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        <p class="no-margin color-black">Emergencias uc</p>
                                        <a href="tel:+56223545000" class="uc-btn btn-inline"><i class="uc-icon no-margin">phone</i> (56)22354 5000</a>
                                    </div>
                                    <div class="col-md-7 text-right">
                                        <button (click)="volverSuscribir()" class="uc-btn btn-inline color-celeste">
                                            Suscribir nuevamente
                                            <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                          </div>
            
                          <div class="uc-message error" *ngIf="status == 'error'"> 
                              <button (click)="volverSuscribir()" class="uc-message_close-button"><i class="uc-icon">close</i></button>
                              <div class="uc-message_body">
                                  <h2 class="mb-24 color-black"><i class="uc-icon warning-icon">error</i> ¡Error en el registro!</h2>
                                  <p class="no-margin color-black">No pudimos suscribirte, por favor volver a intentar, si el problema persiste comunícate el fono emergencia.</p>
                                  <hr class="uc-hr my-32">
                                  <div class="row align-items-center">
                                      <div class="col-md-5">
                                          <p class="no-margin color-black">Emergencias uc</p>
                                          <a href="tel:+56223545000" class="uc-btn btn-inline"><i class="uc-icon no-margin">phone</i> (56)22354 5000</a>
                                      </div>
                                      <div class="col-md-7 text-right">
                                          <button (click)="volverSuscribir()" class="uc-btn btn-inline">
                                              Intentar nuevamente
                                              <i class="uc-icon icon-shape--rounded">arrow_forward</i>
                                          </button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                        
                        </ng-container>
                      </form> -->
                      <!--End mc_embed_signup-->
            
                    </div>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="content['type'] == 'descargados'">

                
                <div class="offset-md-1 col-md-10 offset-0">
                  <div class="row">
                    <div class="col">
                      
                      <div class="text-align--right">
                        <a target="blank" href="https://datastudio.google.com/embed/reporting/2b5e2261-3f4c-4915-99a4-afad254db498/page/vgHcB" class="uc-btn btn-inline text-right">Si no visualiza, ver desde acá<i class="uc-icon icon-shape--rounded">launch</i></a>
                      </div>                    

                      <iframe src="https://datastudio.google.com/embed/reporting/2b5e2261-3f4c-4915-99a4-afad254db498/page/vgHcB" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </ng-container>

              

            </ng-container>              

                          
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</section>
