<section id="arriba" class="uc-section uc-section__header mb-60" >
  <div class="container" *ngIf="json['horizon_header']['active']">
    <!-- partials/commons/breadcrumbs -->
    <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
    <div class="row">
      <div class="col-md-8 col-12">
        <h1>{{ json['horizon_header']['title'] }}</h1>
        <div class="uc-excerpt" *ngIf="json['horizon_header']['section_excerpt']['active']">
          {{  json['horizon_header']['section_excerpt']['excerpt']  }}
        </div>
      </div>
      <div class="col-md-3 offset-md-1 col-12">
        <div class="row">
          <div class="col-md-12 col-6" *ngIf="!loggedIn">
            <button id="buscar" (click)="loginCas('pagina/'+pagina)" type="button" class="uc-btn btn-cta mt-16">Ingresar a tu cuenta</button>
            
          </div>
          <div class="col-md-12 col-6">
            <button *ngIf="!loggedIn" title="{{ compartir['compartir-investigacion']['boton']['titulo'] }}" (click)="loginCas(json['horizon_header']['section_button']['link'])" class="uc-btn btn-cta mt-16 pointer">{{ compartir['compartir-investigacion']['titulo'] }}</button>
            <button *ngIf="loggedIn" title="{{ json['horizon_header']['section_button']['title']  }}" [routerLink]="[ '/'+json['horizon_header']['section_button']['link'] ]" class="uc-btn btn-cta mt-16">{{ json['horizon_header']['section_button']['value'] }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- BUSCADOR -->
<section class="uc-section uc-section__page">
  <div class="container">
    <div class="uc-card uc-card--gray mb-32">
      <div class="uc-card_body uc-card_body--padded">
        <app-search-form [data]="json" [pagina]="json['busqueda-tesis']['titulo']"></app-search-form>
      </div>
    </div>
  </div>
</section>

<!-- Título y bajada de número de resultados-->
<section id="resultados" class="uc-section uc-section__header">
  <div class="container">
    <h1 class="mt-60">Búsqueda simple</h1>
    <div class="row">
      <div class="col-md-8">
        <span>Resultados de búsqueda para el término <strong>{{valorSearch}}</strong></span>
      </div>
    </div>
  </div>
</section>

<!-- ULTIMOS 10 PUBLICACIONES -->
<section class="uc-section uc-section__page" >
  <div class="container">
    <div class="row">
      <!-- MENU DE FACETAS -->
      <div class="col-md-3 col-6">
        <div class="uc-card uc-card--gray mb-32">
          <div class="uc-card_body">
            <h2 class="mb-24">Filtros</h2>


              <!-- Facetas tipo documento -->
              <div style="display: none;" class="mb-24">
                  <div class="text-weight--500">Tipo de documento</div>
                  <div class="row">
                    <div class="col-12">
                      <div class="row mouse-over-menu-facetas pb-2">
                        <div class="col-9 mt-8">
                            
                        </div>
                        <div style="text-align: right;" class="col-3 font-righted mt-8">
                            
                        </div>
                       </div>
                     </div>
                  </div>
                  <div  class="mt-8">
                    
                   </div>
                  <hr class="uc-hr my-24">
              </div>

              <!-- Facetas tematicas -->
              <div style="display: none;" class="mb-24">
                 <div class="text-weight--500">Temáticas y Materias</div>
                 <div class="row">
                   <div class="col-12">
                     <ng-container >
                     <div class="row mouse-over-menu-facetas pb-2">
                       <div class="col-9 mt-8">

                       </div>
                        <div style="text-align: right;" class="col-3 font-righted mt-8">

                        </div>
                     </div>
                   </ng-container>
                   </div>
                 </div>
                  <div class="mt-8">
                   
                 </div>
                 <hr class="uc-hr my-24">
              </div>

              <!-- Facetas autores -->
              <div style="display: none;" class="mb-24">
                  <div class="text-weight--500">Autores</div>
                  <div class="row">
                    <div class="col-12">
                      <div class="row mouse-over-menu-facetas pb-2">
                        <div class="col-9 mt-8">
                            
                        </div>
                        <div style="text-align: right;" class="col-3 font-righted mt-8">
                            
                        </div>
                       </div>
                     </div>
                  </div>
                  <div class="mt-8">
                     
                 </div>
              </div>

          </div>
        </div>
      </div>

      <div class="col-md-9 col-12">
        <app-title [title]="'Últimos 10 ' + json['horizon_header']['title']" [type]="'decorated'"></app-title>
        <ng-container *ngFor="let a of data['search'], let i=index">
          <a *ngIf="i<10" [routerLink]="['/handle', a['handle'] | slash_izquierda , a['handle'] | slash_derecha ]" class="uc-card {{ (heightSame) ? 'card-height--same' : '' }} mb-24 mouse-over" title="{{ a['dc.title']}}">
            <article class="uc-card_body">
              <div class="row">
                <div class="col-12">
                  <div class="uc-card uc-card--edge">
                    <div class="uc-card_body p-0">

                      <!-- TAG -->
                      <div class="row mb-2">
                        <div class="col">
                          <ng-container *ngIf="a['dc.type']">
                            <span *ngFor="let tag of a['dc.type']" class="uc-tag mr-2" title="Tipo de documento">
                              {{ tag }}
                            </span>
                          </ng-container>
                        </div>
                      </div>

                      <!-- Fechas -->
                      <div class="row mb-16">
                        <div class="col">

                          <ng-container *ngIf="a['dateIssued.year']">
                            <span *ngFor="let anio of a['dateIssued.year']" class="color-gris font-size-14 mr-2" title="Fecha publicación">
                              <i class="material-icons ico-meta">date_range</i> Publicación: {{ anio }}
                            </span>
                          </ng-container>

                          <ng-container *ngIf="a['dc.date.available']">
                            <span  *ngFor="let fech of a['dc.date.available']" class="color-gris font-size-14 mr-2" title="Fecha disponible">
                              <i class="material-icons ico-meta">date_range</i> Disponible: {{ fech.substr(0,10)}}
                            </span>
                          </ng-container>

                        </div>
                      </div>

                      <!-- Títulos -->
                      <h2 class="text-size--16 text-weight--700">
                        {{ a['dc.title']}}
                      </h2>

                      <!-- Autores -->
                      <div class="row mt-8 ">
                        <div class="col">
                          <ng-container *ngFor="let autor of a['dc.contributor.author']">
                            <span *ngIf="autor" class="metadata mr-2" title="Autor"><i class="material-icons ico-meta" >account_box</i>  {{ autor }}</span>
                          </ng-container>

                          <ng-container *ngFor="let otrosautores of a['dc.contributor.other']">
                            <span *ngIf="otrosautores" class="metadata mr-2" title="Otro autor"><i class="material-icons ico-meta" >account_box</i>  {{ otrosautores }}</span>
                          </ng-container>
                                
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </a>
        </ng-container>
        <!-- Cargando -->
        <div *ngIf="!data['search']; let i = index" style="text-align: center;color:#0176DE">
          <img class="mt-5" src="../../../assets/img/2.gif">
            <h4 class="mt-3 mb-3">Cargando...</h4>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- ++++++++++ HELP ++++++++++ -->

<section class="uc-section uc-section__page" *ngIf="main['section_help'].active">
  <div class="container mt-100 margin-bottom-100 p-5 border-top">
    <div class="row" >
      <h4 class="col-12 font-centered mb-32">¿Necesitas ayuda?</h4>
      <ng-container *ngFor="let page of main['section_help']['help']">
        <div class="col-lg-4 mb-50" >
          <article class="row font-centered">
            <div class="col-12 mb-20">
              <a title="{{ page['link']['title'] }}" target="_blank"  href="{{ page['link']['url'] }}" class="">
                <i class="uc-icon font-size-20 circulo-lineal">{{ page['image']}}</i>
              </a>
            </div>
            <div class="col-12">
              <p>
                <a title="{{ page['link']['title'] }}" target="_blank" href="{{ page['link']['url'] }}">{{ page['title'] }}</a>
                <a title="{{ page['link']['title'] }}" target="_blank"  href="{{ page['link']['url'] }}" class="uc-link no-decoration text-align--right mt-auto ml-2">
                  <strong>{{ page['link']['text'] }}<i class="uc-icon">{{ page['link']['icon'] }}</i></strong>
                </a>
              </p>
            </div>
          </article>

        </div>
      </ng-container>
      <!-- <P class="col-12 font-centered mt-16">Si necesita apoyo, contáctenos a: <a href="mailto:gestiondedatos@uc.cl">gestiondedatos@uc.cl</a></P> -->
    </div>
  </div>
</section>