<section class="uc-section uc-section__header mb-60" >
    <div class="container">
        <div class="row">
        <div class="offset-md-0 col-md-9 offset-0 mb-60" *ngIf="data['content']">
            <ul class="uc-breadcrumb mb-24" *ngIf="data['content']['horizon_header']['section_breadcrumbs']['active']">
                <li *ngFor="let breadcrumb of data['content']['horizon_header']['section_breadcrumbs']['breadcrumbs']; last as l" class="uc-breadcrumb_item{{(l) ? ' current' : '' }}">
                  <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="!breadcrumb['dynamic']">{{ breadcrumb.text }}</a>
                  <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="breadcrumb['dynamic']">{{ particular }}</a>
                  <i class="uc-icon" *ngIf="!l">keyboard_arrow_right</i>
                </li>
            </ul>
          <a title="{{data['content']['horizon_header']['tag']['title']}}" href="{{data['content']['horizon_header']['tag']['url']}}" class="uc-tag mb-8">{{ data['content']['horizon_header']['tag']['text'] }}</a>
          <h1 class="mb-32">{{ data['content']['horizon_header']['title'] }}</h1>
          <p class="text-size--20 text-weight--700">{{ data['content']['horizon_header']['excerpt'] }}</p>
          <div class="uc-text-divider divider-secondary my-16"></div>
        </div>
        </div>
          <div class="row">
            <ng-container *ngIf="data['content']">
              <ng-container *ngFor="let content of data['content']['horizon_contents']; let i = index">
  
                <ng-container *ngIf="content['type'] == 'text'">
                  <div class="offset-md-1 col-md-7 offset-0" *ngIf="content['active']">
                    <h2 class="text-size--24 mb-8" *ngIf="content['title'] != ''">{{ content['title'] }}</h2>
                    <p [innerHTML]="content['content']"></p>
                  </div>
                </ng-container>
  
                <ng-container *ngIf="content['type'] == 'image'">
                  <div class="col-md-9 my-60" *ngIf="content['active']" style="text-align: center;">
                    <figure><img src="{{ content['content'] }}" alt="{{ content['alt'] }}" title="{{ content['title'] }}" class="img-fluid"></figure>
                  </div>
                </ng-container>
  
                <ng-container *ngIf="content['type'] == 'quote'">
                  <blockquote class="offset-md-1 col-md-8 offset-0 my-60" *ngIf="content['active']">
                    <p class="uc-quote quote-lg pl-32">"<span [innerHTML]="content['content']"></span>"</p>
                  </blockquote>
                </ng-container>
  
                <ng-container *ngIf="content['type'] == 'quote_bordered'">
                  <blockquote class="offset-md-1 col-md-8 offset-0 my-60" *ngIf="content['active']">
                    <p class="uc-quote quote-lg pl-32 quote-bordered">"<span [innerHTML]="content['content']"></span>"</p>
                  </blockquote>
                </ng-container>
  
                <ng-container *ngIf="content['type'] == 'list_normal'">
                  <div class="offset-md-1 col-md-7 offset-0" *ngIf="content['active']">
                    <ul class="uc-list uc-list--bins mb-0">
                      <li class="uc-list__item mb-16" *ngFor="let item of content['content']" [innerHTML]="item['text']"></li>
                    </ul>
                  </div>
                </ng-container>
  
                <ng-container *ngIf="content['type'] == 'Noticias_Destacadas'">
                  <div class="offset-md-1 col-md-8 offset-0 mt-60" *ngIf="content['active']">
                    <h2 class="text-size--24 mb-32">{{ content['title'] }}</h2>
                    <div class="row mb-60">
                      <ng-container *ngFor="let slide of data['news']; let i = index">
                        <article class="col-md-4 col-12 mb-2" *ngIf="slide.status == 'published'  && slide.id == '0300bda3e1f0'">
                          <a [routerLink]="['/blog/',slide.id]" class="uc-card card-height--same mouse-over"
                            title="{{slide.name}}">
                            <figure class="uc-card_img">
                              <img src="{{slide.title}}" onerror="this.src= 'assets/img/default-news.jpg'" class="img-fluid"
                                alt="{{slide.title}}">
                            </figure>
          
                            <div class="uc-card_body">
                              <h3 class="text-size--20 text-weight--700">
                                {{slide.name}}
                              </h3>
                              <div class="uc-text-divider divider-primary mt-16" *ngIf="divider"></div>
                              <div class="text-right mt-auto pt-3">
                                <a class="uc-link no-decoration link">
                                  Seguir leyendo
                                </a>
                              </div>
                            </div>
                          </a>
                        </article>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
  
                <ng-container *ngIf="content['type'] == 'list_links'">
                  <div class="offset-md-1 col-md-8 offset-0 mt-16" *ngIf="content['active']">
                    <h2 class="text-size--24 mb-8">{{ content['title'] }}</h2>
                    <ul class="uc-list uc-list--bins mb-0">
                      <li class="uc-list__item mb-8" *ngFor="let item of content['content']">
                        <a title="{{ item['title'] }}" href="{{ item['url'] }}" class="uc-link no-decoration text-weight--500">
                          {{ item['text'] }}<i class="uc-icon text-size--12">{{ item['icon'] }}</i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </ng-container>
  
                <ng-container *ngIf="content['type'] == 'table'">
                  <div class="col-md-9 my-60" *ngIf="content['active']">
                    <table class="uc-table">
                      <thead>
                        <tr>
                          <th *ngFor="let th of content['content']['columns']">{{ th }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let td of content['content']['rows']">
                          <td><strong>{{ td['hora'] }}</strong></td>
                          <td>{{ td['seccion'] }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-container>
  
                <ng-container *ngIf="content['type'] == 'video'">
                  <div class="col-md-9 my-60" *ngIf="content['active']">
                    <article class="box box--video">
                      <video data-role="video-player" src="{{ content['content'] }}" type="video/mp4" controls></video>
                    </article>
                  </div>
                </ng-container>
  
                <ng-container *ngIf="content['type'] == 'map'">
                  <div class="col-md-9" *ngIf="content['active']">
                    <h2>{{ content['title'] }}</h2>
                    <span class="uc-subtitle">{{ content['content']['direccion'] }}</span>
                    <div id="map_{{ i }}" class="map-leaflet"></div>
                  </div>
                </ng-container>
  
                <ng-container *ngIf="content['type'] == 'descargados'">
  
                  
                  <div class="offset-md-1 col-md-10 offset-0">
                    <div class="row">
                      <div class="col">
                        
                        <div class="text-align--right">
                          <a target="blank" href="https://datastudio.google.com/embed/reporting/2b5e2261-3f4c-4915-99a4-afad254db498/page/vgHcB" class="uc-btn btn-inline text-right">Si no visualiza, ver desde acá<i class="uc-icon icon-shape--rounded">launch</i></a>
                        </div>                    
  
                        <iframe src="https://datastudio.google.com/embed/reporting/2b5e2261-3f4c-4915-99a4-afad254db498/page/vgHcB" frameborder="0" style="border:0" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </ng-container>
  
              </ng-container>              
            </ng-container>
  
          </div>
    </div>
  </section>
  