<div class="uc-card uc-card--gray card-height--same">
  <div class="uc-card_body p-32">
    <h3>{{ cardData.title }}</h3>
    <div class="uc-text-divider divider-primary my-16"></div>
    <div class="uc-card_excerpt mb-24">
      <p>{{ cardData.excerpt }}</p>
    </div>
    <a title="{{ cardData.link.title }}" href="{{ cardData.link.url }}" class="uc-btn btn-primary mt-auto" download>{{ cardData.link.text }}<i class="uc-icon icon-shape--rounded">{{ cardData.link.icon }}</i></a>
  </div>
</div>
