<!-- Google Tag Manager (noscript) -->
<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-38GZNP"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
<!-- End Google Tag Manager (noscript) -->

<section class="uc-section uc-section__header mb-60" id="arriba">
  <div class="container">
    <!-- partials/commons/breadcrumbs -->
    <!-- <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs> -->
    
    <ul class="uc-breadcrumb mb-24" *ngIf="json['horizon_header']['section_breadcrumbs']['active']">
      <li *ngFor="let breadcrumb of json['horizon_header']['section_breadcrumbs']['breadcrumbs']; last as l" class="uc-breadcrumb_item{{(l) ? ' current' : '' }}">
        <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="!breadcrumb['dynamic']">{{ breadcrumb.text }}</a>
        <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="breadcrumb['dynamic']">{{ particular }}</a>
        <i class="uc-icon" *ngIf="!l">keyboard_arrow_right</i>
      </li>
    </ul>

    <h1>{{ json['horizon_header']['title'] }}</h1>
    <p class="mt-2">Si tienes consultas más específicas, <a href="/contact">puedes contactarnos aquí.</a></p>
  </div>
</section>

<section class="uc-section uc-section__page pb-60">
  <div class="container">
    <div class="row">

      <!-- FILTROS -->
      <!-- <div class="col-md-4 col-6" *ngIf="!json['horizon_filters']['active']">
        <div class="uc-card" *ngIf="data['faqs']">
          <div class="uc-card_body">
            <form (ngSubmit)="filterFaqs(form, $event)" #form="ngForm">

              <div class="uc-form-group" *ngIf="json['horizon_filters']['section_search']['active']">
                <input id="{{ json['horizon_filters']['section_search']['name'] }}" name="{{ json['horizon_filters']['section_search']['name'] }}" type="text" class="uc-input-style w-icon search" placeholder="{{ json['horizon_filters']['section_search']['placeholder'] }}" ngModel>
                <span class="w-icon search">
                  <i class="uc-icon">{{ json['horizon_filters']['section_search']['icon'] }}</i>
                </span>
              </div>
              <ng-container *ngIf="json['horizon_filters']['section_filters']['active']">
                <span class="uc-subtitle mb-12">{{ json['horizon_filters']['section_filters']['title'] }}</span>
                <div class="uc-form-group mb-0 mt-12 d-flex align-items--center" *ngFor="let topic of data['faqs']['topics']">
                  <input id="{{ topic['slug'] }}" name="{{ topic['slug'] }}" type="checkbox" class="uc-input__checkbox mr-8" value="{{ topic['slug'] }}" ngModel>
                  <label for="{{ topic['slug'] }}" class="mb-0 text-weight--500 text-size--14 line-height--1">{{ topic['name'] }}</label>
                </div>
              </ng-container>
              <button title="{{ json['horizon_filters']['section_button']['title'] }}" type="submit" class="uc-btn btn-primary mt-24 w-100" *ngIf="json['horizon_filters']['section_button']['active']">
                {{ json['horizon_filters']['section_button']['text'] }}
                <i class="uc-icon icon-shape--rounded">{{ json['horizon_filters']['section_button']['icon'] }}</i>
              </button>
            </form>
          </div>
        </div>

      </div> -->

      <!-- MUESTRA LISTA FAQS-->
      <div class="col-md-12 col-12" *ngIf="json['horizon_faqs']['active']">
        <div class="uc-accordion" data-accordion *ngIf="data['faqs']">

          <div class="uc-collapse uc-card" *ngFor="let faqs of data['faqs']; let i = index">
            <a class="uc-collapse_heading" [attr.data-collapse]="'collapse_'+i" title="{{faqs['title']}}">
              <i class="uc-icon mr-16" style="width: 11px;">book</i>
              <h2 class="text-size--20 text-weight--700 col col-md-8">
                {{faqs["pregunta"]}}
              </h2>
              <span class="uc-btn btn-inline ml-auto">
                Ver más <i class="uc-icon icon-shape--rounded">add</i>
              </span>
            </a>
            <div class="uc-collapse_body" [attr.data-toggle]="'collapse_'+i">
              <table class="uc-table uc-table--faq">
                <tbody>
                  <!-- <tr *ngFor="let faqs of data['faqs']"> -->
                  <tr> 
                    <td>
                      <!-- <h3 class="text-size--16">{{ faqs['pregunta'] }}</h3> -->
                      <p [innerHTML]="faqs['respuesta']"></p>
                      <div *ngIf=" faqs['sub-preguntas']">
                        <div *ngFor="let sub of faqs['sub-preguntas']">
                          <h3>{{ sub['pregunta'] }}</h3>
                          <p >{{ sub['respuesta'] }}</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
