/* You can add global styles to this file, and also import other style files */
@import "assets/css/main";

@import "../node_modules/placeholder-loading/dist/css/placeholder-loading";

:focus{
  /* border: 1px solid #173F8A; */
  /* background: #EAEAEA !important;
  color: #173F8A !important; */
  /* background: rgba(0, 0, 0, 0.056) !important; */
  /*border: 3px #E3AE00 dotted;
  /* padding: 4px; */
}

.hr_label{
  border-bottom: 1px rgb(187, 197, 206) dashed !important;
  margin-top: -5px;
}
.vertical-align-middle{
  vertical-align: middle;
}
.centrar-vertical {
  display: flex;
  align-items: center;
}


h6{
  font-size: 13px;
  font-weight: lighter;
}

th {
  min-width: 120px;
}
.uppercase{
  text-transform: uppercase;
}
.max-width{
  width: 100%;
  max-width: 40%;
}
/* MARGENES - MARGIN */
.m-0{
  margin: 0px !important;
}
.m-1{
  margin: 1px;
}
.m-2{
  margin: 2px;
}
.mt-50{
  margin-top: 50px;
}
.mt-100{
  margin-top: 100px;
}
.margin-top-300{
  margin-top: 300px;
}
.mr-2{
  margin-right: 1em !important;
}
.mb-20{
  margin-bottom: 20px;
}
.margin-bottom-100{
  margin-bottom: 100px;
}
.ml-0{
  margin-left: 0em !important;
}

/* PADDING */
.p-8{
  padding: 8px;;
}
.pr-10{
  padding-right: 10px !important;
}
.border-input{
  border: rgb(225, 225, 225) 1px solid;
}
.linea-abajo{
  border-bottom: 1px solid #808080;
}
.border-top-celeste{
  border-top: #0176DE 1px solid;
}
.border-top{
  border-top: #808080 1px solid;
}
.circulo-lineal{
  border: 1px solid #0176DE;
  border-radius: 55px;
  padding: 10px;
}
.width-25{
  width:25%;
}
.w-150{
  width: 150px;
}
.w-200{
  width: 200px;
}
.font-size-12{
  font-size: 12px;
}
.font-size-14{
  font-size: 14px;
}
.font-size-16{
  font-size: 16px;
}
.font-size-18{
  font-size: 18px;
}
.font-size-20{
  font-size: 20px !important;
}
.font-size-80{
  font-size: 80px;
}
.font-size-33{
  font-size: 33px !important;
}
.font-size-44{
  font-size: 44px !important;
}
.text-align-left{
  text-align: left;
}
.text-align-right{
  text-align: right;
}
.text-align-center{
  text-align: center !important;
}
.justify{
  text-align: justify;
}
.border-radius-50{
  border-radius: 50px;
}
/* FONDO */
.bg-none{
  background: none;
}
.bg-white{
  background: white;
}
.bg-gris_C{
  background: #F6F6F6;
}
.bg-amarillo-oscuro{
  background: #E3AE00 !important;
}
.bg-primary{
  background: #0176DE !important;
}
.bg-celeste{
  background: #D0DFF6 !important;
}
.bg-azul-oscuro{
  background: #03122E !important;
}
.color-black{
  color: black;
}
.color-amarillo{
  color: #FADA3B;
}
.color-amarillo-oscuro{
  color: #E3AE00 !important;
}
.color-gris{
  color: rgb(143, 143, 143);
}
.color-celeste{
  color: #0176DE;
}
.color-white{
  color:white;
}
.color-red{
  color: red;
}
.color-green{
  color: green;
}
.line-height--1 {
  line-height: 1px
}
.map-leaflet {
  height: 500px;
}
.no-contour {
  border: none;
  box-shadow: none;
}
.quote-bordered {
  border-left: 1px solid #000000;
}
.uc-search_input {
  border: 3px solid rgb(254, 198, 13);
  border-radius: 4px;
}
.uc-search_button {
  background-color: transparent;
  border: 3px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.uc-section__printable {
  display: none;
}
@media print {
  .uc-section__printable {
    display: block;
  }
}
.ws--nw {
  white-space: nowrap
}


button.btn-cta:disabled {
  opacity: .75;
}
button.btn-cta:disabled:hover {
  background-color: #fec60d;
}
input.ng-touched.ng-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 8px 0 rgba(220,53,69,.25);
}
.error-msg {
  color: #dc3545;
}
.uc-input_search {
  border: 3px solid rgb(254, 198, 13);
  box-shadow: 0px 0px 5px 0px rgba(254, 198, 13, 1);
}
.uc-form-group span {
  position: absolute;
}
.material-icons.md-60 { font-size: 60px; }

.alert-info{
  background: #ffefba;
  color: #c05600;
  padding: 1px 0px;
  margin: 0px 16px;
  border-radius: 5px;
}
iframe{
  height: 600px !important;
  width: 100% !important;
}
.pointer{
  cursor: pointer;
}
.uc-navbar{
  padding: 40px 0 20px;
}
.fixed{
  position:fixed;
  width: 80%;
  bottom: 0px;
  left: 0px;
  margin:0px 10%;
  z-index: 1000;
}

.uc-dropdown_list{
  max-width: 300px !important;
  width: 400px;
}
.uc-dropdown_list a{
  width: 250px;
}
.ico-n-reg{
  background: rgb(232, 232, 232);
  color:#03122E;
  font-size: 11px;
  text-decoration-line: none;
  border: #888888 solid 1px;
  border-radius: 5px;
  padding:4px;
  margin:0px;
}
.mouse-over{
  background: #fff;
  cursor: pointer;
  -webkit-transition: width 2s; /* Safari prior 6.1 */
  transition: 0.3s;
}
.mouse-over:hover{
  background: rgb(232, 232, 232);
  box-shadow: 2px 2px 10px #808080; 
}

.mouse-over-menu-facetas{
  cursor: pointer;
  -webkit-transition: width 2s; /* Safari prior 6.1 */
  transition: 0.3s;
}
.mouse-over-menu-facetas:hover{
  background: rgb(232, 232, 232);
}
/* BOTONES */

.btn_line{
  border: #0176DE 1px solid;
  background: #fff !important;
  color: #0176DE !important;
}
.btn_line:hover{
  border: #173F8A 1px solid !important;
  color: #173F8A !important;
}
.link{
  color:dodgerblue !important;
  text-decoration:underline !important;
  font-weight: bold;
  cursor: pointer;
}
.link:hover{
  color:rgb(0, 109, 218) !important;
  text-decoration:underline !important;
  cursor: pointer;
}
.link-blanco{
  color:#fff !important;
  text-decoration:underline !important;
  cursor: pointer;
  font-weight: bold;
}
.link-blanco:hover{
  color:#e1e1e1 !important;
  text-decoration:underline !important;
}
.linkTag{
  color: #fff !important;
  text-decoration:none !important;
  cursor: pointer;
}
.btn-celeste{
  background: #0176DE;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}
.btn-celeste:hover{
  background: #173F8A;
}
.btn-celeste:disabled{
  background: rgba(1, 119, 222, 0.382);
  cursor: none;
}
.btnBubbleLine{
  border: #0176DE solid 2px;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 55px;
  color: #0176DE;
}
.btnBubbleLine:hover{
  border: #173F8A solid 2px;
  color: #173F8A;
}
.btnBubbleLine.active{
  border: #0176DE solid 2px;
  background: #0176DE;
  color: #fff;
  cursor: default;
}
.radiobutton{
  /* background: #f5f5f5; */
  border-radius: 55px;
  border: #0075DE 1px solid;
  color: #000;
  padding: 5px 15px;
  margin-right: 20px;
  line-height: 50px;
  cursor: pointer;
  display: inline;
  transition: 0.5s;
}
.radiobutton:hover{
  border: #a5a5a5 1px solid;
}
.radiobutton.active{
  background: #fff;
  border: #0075DE 1px solid;
  /* font-weight: 900; */

  /* background: #eeeeee; */
}
.radiobutton.blocked{
  background: #F4EED0;
  color: rgb(152, 152, 152);
  cursor: default;
}

.uc-tabs_item-link{
  color: #808080 !important;
}
.uc-tabs_item-link.active{
  border-bottom: 2px solid #0176DE !important;
  color: #03122E !important;
}

.outline-link{
  outline: none !important;
}
.metadata{
  color: #808080;
  font-size: medium;
  background: #F6F6F6;
  border-radius: 5px;
  vertical-align: middle;
  padding:5px;
}
.ico-meta{
  vertical-align: middle;
  /* color: #888888; */
  font-size: 17px;
  padding-bottom:5px;
}

#banner{
  transition-property: opacity, left, top, height;
  transition-duration: 3s, 5s;
}

.top-bar-altura{
  height: 40px;
}

.texto-dg {
  background: linear-gradient( green, #FEC60D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;  
}
.texto-dg-rojo {
  background: linear-gradient( red, #FEC60D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: tomato;  
}
.texto-dg-cel {
  background: linear-gradient( #0176DE, #FEC60D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0176DE;  
}

.ico_deco{
  font-size: 65px;
  background: linear-gradient( #0176DE, #FEC60D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0176DE;  
  transition: ease 0.5s;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 55px;
  padding: 15px;
}
.ico_deco.active{
  background: linear-gradient( #FEC60D, #0176DE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0176DE; 
  border-radius: 55px;
  padding: 15px;
  box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 23px -4px rgba(0,0,0,0.15);
}
.btn-tabs{
  text-align: center;
  cursor: pointer;
}
.btn-tabs:hover{
  border: 1px solid #0176DE;

}

.collapse_header{
  background: #f0f6ff;
  cursor: pointer;

  display:flex; align-items: center; border-left: 4px solid #0075DE;
  transition: 0.5s;
}
.collapse_header:hover{
  background: #F6F6F6;
  border-left: 4px solid #FEC60D;
}
.collapse_body{
  /* background: #F6F6F6; */
  border: #cdcdcd solid 1px;
  -webkit-box-shadow: inset 0px 12px 14px -9px #00000059;
-moz-box-shadow: inset 0px 12px 14px -9px #00000059;
box-shadow: inset 0px 12px 14px -9px #00000059;
}

.selectSearch{
  /* position: absolute; 
  z-index: 9999;  */
  width: 100%; 
  background: #ffffff; 
  padding: 30px; 
  margin-top: -17px !important;
  border: 1px #cbcbcb solid; 
  border-top: 3px #0075DE solid;
  cursor: pointer;
}
.btn_select{
  font-size: 17px; 
  /* line-height: 28px; */
  color: #7e7e7e;
  background: #f4f4f4;
  padding: 3px 14px !important;
  border-radius: 55px;
  /* margin-right: 5px;*/
  margin-top: 5px; 
  display: block;
  transition: 0.5s;
}
.btn_select:hover{
  background: #0075DE;
  color: #fff !important;
}

/* .btn-tabs:hover .ico_deco{
  background: linear-gradient(#FEC60D, #0176DE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0176DE;  
} */


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .namePasos {
    display: none !important;
  }
  #text-banner{
    font-size: 16px !important;
  }
}