<!-- Caja de búsqueda -->
<section class="uc-section uc-section__page" id="buscador">
   <div class="container">
      <div class="uc-card uc-card--gray mb-32">
         <div class="uc-card_body uc-card_body--padded">

            <form #addressForm="ngForm" class="container mt-3" (ngSubmit)="buscar(1,'busqueda','asc')">
               <!-- Input de búsqueda -->
               <ng-container *ngIf="json['horizon_search_form']['search']['active']">
                  <h2>{{ json['horizon_search_form']['search']['title'] }}</h2>
                  <div class="uc-form-group mt-16">
                     <input type="text" [(ngModel)]="valorSearch" name="valorSearch" class="uc-input-style uc-input_search" placeholder="{{ json['horizon_search_form']['search']['form']['placeholder'] }}" title="Ingresar búsqueda"/>
                     <i (click)="buscar('1','busqueda','asc')" class="uc-icon uc-icon--inputed" title="Buscar">search</i>
                  </div>
                  <div *ngIf="!data['filtroActivo']" class="text-align--right">
                    <a title="Ir a búsqueda avanzada" (click)="busquedaAvanzada()" class="uc-link text-align--right link"><strong>Búsqueda avanzada<i class="uc-icon">keyboard_arrow_right</i></strong></a>
                  </div>
               </ng-container>

               <!-- Filtros -->
               <ng-container *ngIf="json['horizon_search_form']['filters']['active'] && data['filtroActivo']">
                  <h2 class="mb-16">{{ json['horizon_search_form']['filters']['title'] }}</h2>
                  
                  <!-- campos de filtro -->
                  <div class="row"  *ngFor="let filter of json['horizon_search_form']['filters']['content']; let i = index; let last = last">
                     <ng-container *ngFor="let address of array_Filtros; let i = index; let last = last">

                        <div class="col-lg-3 col-6">
                           <div class="uc-form-group">
                              <select required type="text" [(ngModel)]="address.search_by" name="search_by_{{i}}" (click)="address.term=''" class="uc-input-style uc-input uc-input__select" title="Seleccionar búsqueda por">
                                 <option [value]="option['value']" *ngFor="let option of filter['search_by']['options']">{{ option['text'] }}</option>
                              </select>
                           </div>
                        </div>

                        <div class="col-lg-2 col-6">
                           <div class="uc-form-group">
                              <select required type="text" [(ngModel)]="address.contains" name="contains_{{i}}" class="uc-input-style uc-input uc-input__select" title="Seleccionar si contiene o no contiene">
                                    <option [value]="option['value']" *ngFor="let option of filter['contains']['options']">{{ option['text'] }}</option>
                              </select>
                           </div>
                        </div>
                           
                        <div class="col-lg-6 col-8" >
                          <div class="uc-form-group" >
                            <!-- <input required type="text" [(ngModel)]="address.term" name="term_{{i}}" class="uc-input-style" placeholder="{{ filter['text']['placeholder'] }}" title="{{ filter['text']['placeholder'] }}"/> -->
                            <input *ngIf="address.search_by != 'tipo' && address.search_by != 'campus'" required type="text" [(ngModel)]="address.term" name="term_{{i}}" class="uc-input-style" placeholder="{{ filter['text']['placeholder'] }}" title="{{ filter['text']['placeholder'] }}"/>
                            <select *ngIf="address.search_by == 'tipo'" required type="text" [(ngModel)]="address.term" name="term_{{i}}" class="uc-input-style uc-input uc-input__select" title="Seleccionar tipo de documento">
                              <ng-container *ngFor="let option of filter['text']['options']">
                                <option [value]="option['value']">{{ option['text'] }}</option>
                                <!-- <option *ngIf="option['text'] == address.term" [value]="address.term">{{address.term}}</option> -->
                              </ng-container>
                              <!-- <option [value]="option['value']" *ngFor="let option of filter['text']['options']">
                                {{ option['text'] }}
                              </option> -->
                              <!-- <option [value]="address.term">{{address.term}}</option> -->
                              
                            </select>
                            <select *ngIf="address.search_by == 'campus'" required type="text" [(ngModel)]="address.term" name="term_{{i}}" class="uc-input-style uc-input uc-input__select" title="Seleccionar campus">
                              <ng-container *ngFor="let option of filter['text']['options_campus']">
                                <option [value]="option['value']">{{ option['text'] }}</option>
                              </ng-container> 
                            </select>
                          </div>
                        </div>


                        <div class="col-lg-1 col-4" *ngIf="!last"></div>
                        <!-- Boton remover filtro -->
                        <div class="col-lg-1 col-4" *ngIf="last">
                           <div class="uc-form-group">
                             <div class="font-righted">
                                 <button (click)="removefiltros(i)" type="button" class="uc-btn--circle p-0" title="Remover" >
                                    <i class="uc-icon icon-shape--rounded text-size--34">remove</i>
                                 </button>
                              </div>
                           </div>
                        </div>
                     </ng-container>
                  </div>

                  <!-- Boton agregar filtro -->
                  <div class="col-lg-12 col-12 font-righted pr-0">
                           <button type="button" (click)="addFiltros()" class="uc-btn--circle  p-0" title="Agregar filtro">
                              <i class="uc-icon icon-shape--rounded text-size--34">add</i>
                           </button> 
                  </div>

                  
               </ng-container>
               <!-- botón filtrar -->
               <div class="row mt-24 font-righted ">
                <div class="col-md-3 col-12">
                   <button type="submit" class="uc-btn btn-cta" title="Buscar" [disabled]="addressForm.invalid">Buscar</button> 
                </div>
                
                  <div *ngIf="addressForm.invalid" class="col-md-6 col-12 text-align-left color-gris">
                      <i class="material-icons vertical-align-middle mr-2 color-celeste">info </i> Llenar todos los campos del filtro.
                  </div>
                

             </div>
                  
            </form>

         </div>
      </div>
   </div>
</section>

<!-- Título y bajada de número de resultados-->
<section id="resultados" class="uc-section uc-section__header">
   <div class="container">
     <h1 class="mt-60">{{ data['title'] }}</h1>
     <!-- <div class="row" *ngIf="data['param']"> -->
     <div class="row">
       <div class="col-md-8">
         <!-- <span>Resultados de búsqueda para el término <strong>{{ data['param'] }}</strong></span> -->
         <span>Resultados de búsqueda para el término <strong>{{valorSearch}}</strong></span>
       </div>
       <!-- <div class="col-md-4">
         <button type="button" class="uc-btn btn-cta" (click)="removeSearch()">Realizar una búsqueda nueva</button>
       </div> -->
     </div>
   </div>
 </section>

 <!-- Facetas y lista de resultados -->
<section class="uc-section uc-section__page" >
   <div class="container">
     <div class="row">
       <!-- MENU DE FACETAS -->
       <div class="col-md-3 col-6">
         <div class="uc-card uc-card--gray mb-32">
           <div class="uc-card_body">
             <h2 class="mb-24">Filtros</h2>
             <form class="" action="#" method="get">

               <!-- Facetas tematicas -->
               <div *ngIf="data['tematicas']!=''" class="mb-24">
                  <div class="text-weight--500">Temáticas y Materias</div>
                  <div class="row">
                    <div *ngFor="let materia of tematicas; let i=index" class="col-12">
                      <ng-container *ngIf="materia[0].indexOf(370)">
                      <div (click)="getFacetas(materia[0],'tema')" *ngIf="i < 6" class="row mouse-over-menu-facetas pb-2">
                        <div class="col-9 mt-8">
                          <a title="{{materia[0]}}" class="mb-0 text-size--14 pointer">{{materia[0]}}</a>
                        </div>
                         <div style="text-align: right;" class="col-3 font-righted mt-8">
                             <a title="{{materia[1]}} registros" class="ico-n-reg">{{materia[1]}}</a>
                         </div>
                      </div>
                    </ng-container>
                    </div>
                  </div>
                   <div *ngIf="tematicas.length > 6" class="mt-8">
                    <a (click)="searchFacetas('tema',1)"  title="Ver más tematicas" class="uc-link text-weight--500 text-size--14 link">
                       <i class="uc-icon">add</i>Ver más ({{tematicas.length}})
                    </a>
                  </div>
                  <hr class="uc-hr my-24">
               </div>
 
               <!-- Facetas autores -->
               <div *ngIf="data['autores']!=''" class="mb-24">
                   <div class="text-weight--500">Autores</div>
                   <div class="row">
                     <div *ngFor="let autor of autores; let i=index" class="col-12">
                       <div (click)="getFacetas(autor[0],'autor')" *ngIf="i < 6" class="row mouse-over-menu-facetas pb-2">
                         <div class="col-9 mt-8">
                             <a title="{{autor[0]}}" class="mb-0 text-size--14 pointer">{{autor[0]}}</a>
                         </div>
                         <div style="text-align: right;" class="col-3 font-righted mt-8">
                             <a title="{{autor[1]}} registros" class="ico-n-reg">{{autor[1]}}</a>
                         </div>
                        </div>
                      </div>
                   </div>
                   <div *ngIf="autores.length > 6" class="mt-8">
                      <a (click)="searchFacetas('autores',1)" title="Ver más autores" class="uc-link text-weight--500 text-size--14 link">
                        <i class="uc-icon">add</i>Ver más ({{autores.length}})
                      </a>
                  </div>
                  <hr class="uc-hr my-24">
               </div>

               <!-- Facetas tipo documento -->
               <div *ngIf="data['tipodoc']!=''" class="mb-24">
                <div class="text-weight--500">Tipo de documento</div>
                <div class="row">
                  <div *ngFor="let item of tipodoc; let i=index" class="col-12">
                    <div (click)="getFacetas(item[0],'tipo')" *ngIf="i < 6" class="row mouse-over-menu-facetas pb-2">
                      <div class="col-9 mt-8">
                          <a title="{{item[0] | tubos_derecha}}" class="mb-0 text-size--14 pointer" >{{item[0] | tubos_derecha}}</a>
                      </div>
                      <div style="text-align: right;" class="col-3 font-righted mt-8">
                          <a title="{{item[1]}} registros" class="ico-n-reg">{{item[1] }}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="tipodoc.length > 6" class="mt-8">
                   <a title="Ver más tipos de documentos" (click)="searchFacetas('tipodoc',1)" class="uc-link text-weight--500 text-size--14 link">
                     <i class="uc-icon">add</i>Ver más ({{tipodoc.length}})
                   </a>
                 </div>
                <hr class="uc-hr my-24">
              </div>

               <!-- Facetas idioma -->
               <!-- <div *ngIf="data['idiomas']!=''" class="mb-24">
                <div class="text-weight--500">Idioma</div>
                <div class="row">
                  <div *ngFor="let item of idiomas; let i=index" class="col-12">
                    <div (click)="getFacetas(item[0],'idioma')" *ngIf="i < 6" class="row mouse-over-menu-facetas pb-2">
                      <div class="col-9 mt-8">
                          <a (click)="getFacetas(item[0],'idioma')" title="{{item[0] | tubos_derecha}}" class="mb-0 text-size--14 pointer" >{{item[0] | tubos_derecha}}</a>
                      </div>
                      <div style="text-align: right;" class="col-3 font-righted mt-8">
                          <a title="{{item[1]}} registros" class="ico-n-reg">{{item[1] }}</a>
                      </div>
                     </div>
                   </div>
                </div>
                <div *ngIf="idiomas.length > 6" class="mt-8">
                   <a title="Ver más idiomas" (click)="searchFacetas('idioma',1)" class="uc-link text-weight--500 text-size--14 link">
                     <i class="uc-icon">add</i>Ver más ({{idiomas.length}})
                   </a>
                 </div>
                <hr class="uc-hr my-24">
              </div> -->

             </form>
           </div>
         </div>
       </div>
       <!-- fin menu de facetas -->
 
       <!-- LISTA DE RESULTADOS BUSQUEDAS -->
       <div class="col-md-9 col-6" *ngIf="data['search']; let i = index">
         <!-- Ordenar por -->
         <div class="uc-card uc-card--gray mb-32">
           <div class="uc-card_body d-inline-block">
             <span>Ordenar por:</span>
             <div class="uc-btn--group d-inline--block">
              <button class="uc-btn--linkalike" (click)="buscar(1,'', '')" title="Ordenar por más relevante">Más relevante</button>
               <button class="uc-btn--linkalike" (click)="buscar(1,'', '1')" title="Ordenar por más recientes">Más reciente</button>
               <button class="uc-btn--linkalike" (click)="buscar(1,'', '2')" title="Ordenar por menos recientes">Menos reciente</button>
               <button class="uc-btn--linkalike" (click)="buscar(1,'', '3')" title='Ordenar de la "A" a la "Z"'>A - Z</button>
               <button class="uc-btn--linkalike" (click)="buscar(1,'', '4')" title='Ordenar de la "Z" a la "A"'>Z - A</button>
             </div>
           </div>
         </div>
         
         <!-- Lista resultado búsqueda -->
         <ng-container >
            <div *ngIf="registros" class="mb-3 row">
               <p class="col-6">Se han encontrado <strong>{{ data['search'][1]['numFound'] }} resultados</strong></p>
               <div *ngIf="registros" class="mb-3 col-6 text-align-right color-gris">20 registros por página</div>
            </div>
            
           <ng-container *ngFor="let search of data['search']; let i = index">
             <app-card-publications [data]="search" [heightSame]="false" [urlImg]="urlImg"></app-card-publications>
           </ng-container>
           <div *ngIf="!registros" style="text-align: center;color:#0176DE">
             <i class="material-icons mt-5 md-60">sentiment_very_dissatisfied</i> 
             <h4 class="mt-3 mb-3">¡Lo sentimos!</h4>
             No existen registros con ese criterio de búsqueda.
           </div>
         </ng-container>
         <!-- paginador -->
         <form #pagina="ngForm">
           <nav class="uc-pagination">
             
               <!-- <button type="submit" [routerLink]="['/busqueda/',prevPage]" class="uc-pagination_prev mr-12"> -->
               <button (click)="buscar(prevPage,'',orden)" type="button" class="uc-pagination_prev mr-12" title="Anterior">
                   <i class="uc-icon">keyboard_arrow_left</i>
               </button>
               <ul class="uc-pagination_pages">
                   <li class="page-item " [ngClass]="{ 'active':num==npage }" *ngFor="let num of paginacion">
                       <!-- <a [routerLink]="['/busqueda/',num]" class="page-link pointer">{{num}}</a> -->
                       <a (click)="buscar(num,'', orden)" class="page-link pointer" title="Página {{num}}">{{num}}</a>
                   </li>
               </ul>
               <!-- <button type="submit" [routerLink]="['/busqueda/',nextPage]" class="uc-pagination_next ml-12"> -->
               <button (click)="buscar(nextPage,'', orden)" type="button" class="uc-pagination_next ml-12" title="Siguiente">
                   <i class="uc-icon">keyboard_arrow_right</i>
               </button>
             
           </nav>
         </form>
         <!-- Cargando -->
         <div *ngIf="!data['search']; let i = index" style="text-align: center;color:#0176DE">
           <img class="mt-5" src="../../../assets/img/2.gif">
            <h4 class="mt-3 mb-3">Cargando...</h4>
         </div>
       </div>
       <!-- fin lista de resultados busquedas -->

       <!-- LISTA DE RESULTADOS FACETAS -->
       <div class="col-md-9 col-6" *ngIf="data['listFacetas']">
          <ng-container >
            <div class="row">
              <ng-container *ngFor="let item of data['facetas']; let i=index">
                <div *ngIf="i>=facetas_desde && i<facetas_hasta" class="col-lg-3 col-12 mb-32" (click)="getFacetas(item[0],data['tipo'])" >
                  <article class="uc-card card-type--horizontal card-height--same pointer mouse-over" title="{{item[0] | tubos_derecha }}">
                  <div class="col-9 mt-8">
                    <p class="uc-tag">{{item[1]}}</p>
                    <p class="mb-0 mt-0 text-size--14" >{{item[0] | tubos_derecha }} </p>  
                  </div>
                </article>
                </div>
              
              </ng-container>
            </div>
          </ng-container>

        <!-- paginador -->
        <form #pagina="ngForm">
          <nav class="uc-pagination">
              <button (click)="searchFacetas(data['facetas'],prevPage)" type="button" class="uc-pagination_prev mr-12" title="Anterior">
                <i class="uc-icon">keyboard_arrow_left</i>
              </button>
              <ul class="uc-pagination_pages">
                <li class="page-item " [ngClass]="{ 'active':num==npage }" *ngFor="let num of paginacion">
                  <a (click)="searchFacetas(data['facetas'], num)" class="page-link pointer" title="Página {{num}}">{{num}}</a>
                </li>
              </ul>
              <button (click)="searchFacetas(data['facetas'],nextPage)" type="button" class="uc-pagination_next ml-12" title="Siguiente">
                <i class="uc-icon">keyboard_arrow_right</i>
              </button>
          </nav>
        </form>
      </div>
      <!-- Fin Lista de Resultados Facetas -->


     </div>
   </div>
</section>