<section id="arriba" class="uc-section uc-section__header mb-60" *ngIf="json['horizon_header']['active']">
    <div class="container">
      <!-- partials/commons/breadcrumbs -->
      <app-breadcrumbs [breadcrumbs]="json['horizon_header']['section_breadcrumbs']['breadcrumbs']" *ngIf="json['horizon_header']['section_breadcrumbs']['active']"></app-breadcrumbs>
      <div class="row">
        <div class="col-12">
          <h1 class="mb-24">{{ json['horizon_header']['title'] }}</h1>
        </div>
        <div class="col-md-8 col-12">
          <p>{{ json['horizon_header']['excerpt'] }}</p>
          <ng-container *ngIf="json['horizon_header']['section_conditions']['active']">
            <p class="mt-24 text-weight--700 mb-0">{{json['horizon_header']['section_conditions']['text']}}</p>
            <ul class="uc-list uc-list--gots mt-8">
              <li class="uc-list__item" *ngFor="let term of json['horizon_header']['section_conditions']['terms']" [innerHTML]="term"></li>
            </ul>
          </ng-container>
        </div>

      </div>
    </div>
</section>




<div class="offset-md-1 col-md-10 offset-0">
    <div class="row">
      <div class="col">
        
        <div class="text-align--right">
          <a target="blank" href="https://datastudio.google.com/embed/reporting/9a09afe5-2bb6-4d75-b360-a79ef663e281/page/KKGcB" class="uc-btn btn-inline text-right">Si no visualiza, ver desde acá<i class="uc-icon icon-shape--rounded">launch</i></a>
        </div>                    

        <iframe src="https://datastudio.google.com/embed/reporting/9a09afe5-2bb6-4d75-b360-a79ef663e281/page/KKGcB" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>