///////////////////////////////////////////////
/////////////////////////////////////////////// Modules
///////////////////////////////////////////////
.box {
	display: block;
	background: $color_white;

	////////
	//////// Modifiers
	////////

	&--seamless {
		background: transparent;
		box-shadow: none;
	}

	&--inversed {
		background: map-get(map-get($colors_map, grey), darker);
	}

	&--highlighted {
		background: map-get(map-get($colors_map, grey), lightest);
		border: 1px solid map-get(map-get($colors_map, grey), light);
	}

	&--featured, &--featured-balanced {
		.box__figure { flex: 2; }
		.box__body { flex: 1; }

		.box__title {
			font-size: map-get($text_sizes, tall);
		}
	}

	&--featured {
		.box__figure { flex: 2; }
		.box__body { flex: 1; }
	}

	&--featured-balanced {
		.box__figure, .box__body { flex: 1; }
	}

	&--fancy {
		position: relative;
		background: map-get(map-get($colors_map, grey), darker);
		box-shadow: none;
		&:not(:first-child) { margin: 0; }
	}

	@include media( medium-up ){
		&--horizontal {
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			&--align-start {
				align-items: flex-start;
			}
			&--align-end {
				align-items: flex-end;
			}
		}
	}

	////////
	//////// Elements
	////////
	&__header {
		position: relative;

		// force embedded code to behave
		iframe, object, embed {
			display: block;
			width: 100%;
		}

		&--featured {
			border-top: .25em solid map-get(map-get($colors_map, backup), regular);
		}
	}

	&__date {
		display: inline-block;
		font-weight: bold;
		font-size: map-get($text_sizes, big);
		color: $color_white;
		text-align: center;
		text-transform: uppercase;
		padding: .5em 1em;
		background: map-get(map-get($colors_map, backup), regular);
		// border-radius: 0 0 $base_border_radius 0;
	}

	&__figure {
		flex: 1;
		position: relative;
		padding: 0;
		margin: 0;

		img { @extend .cover-img; }

		.box--horizontal--balanced & {
			flex: 2;
		}

		&--featured {
			padding: $base_padding $base_padding 0 $base_padding;
			border-top: .25em solid map-get(map-get($colors_map, main), regular);

			@include media( medium-up ){
				.box--horizontal & {
					padding: $base_padding 0 $base_padding $base_padding;
					border-top: 0;
					border-left: .25em solid map-get(map-get($colors_map, main), regular);
				}
			}
		}
	}

	&__body {
		flex: 2;
		padding: $base_padding;
		.box--inversed &, .box--inversed & a { color: $color_white; }

		.box--fancy & {
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba($color_black, .7);

			@include media( medium-down ){
				position: static;
				background: map-get(map-get($colors_map, grey), darker);
			}
		}
	}

	&__figure, &__body{
		display: block;
		// float: 1 1 auto;
	}

	&__meta {
		font-size: map-get($text_sizes, tiny);
		line-height: 1.8;
		color: map-get(map-get($colors_map, grey), dark);
		margin: 0;

		.box--inversed & { color: $color_white; }
	}

	&__title {
		display: block;
		font-weight: bold;
		font-size: map-get($text_sizes, medium);
		line-height: 1.4;
		text-decoration: none;
		margin: map-get($text_sizes, tiny) 0;

		&:first-child { margin-top: 0; }

		a {
			display: block;
			text-decoration: none;
			color: map-get(map-get($colors_map, main), regular);
			// transform: translateX(0);
			transition: $base_transition;

			&:hover {
				// transform: translateX(map-get($text_sizes, tiny));
				color: map-get(map-get($colors_map, main), dark);
			}
		}

		.box--inversed & {
			color: $color_white;
			a:hover { color: map-get(map-get($colors_map, main), regular); }
		}

		.box--fancy & {
			color: $color_white;

			a {
				color: $color_white;
				&:hover { color: map-get(map-get($colors_map, main), regular); }
			}
		}

		&--featured {
			font-size: map-get($text_sizes, bigger);
		}
	}

	&__excerpt {
		font-size: map-get($text_sizes, small);
	}

	&__extra {
		display: block;
		margin: map-get($text_sizes, tiny) 0;

		&:last-child { margin-bottom: 0; }
	}

	&__tag{
		display: inline-block;
		vertical-align: middle;
		font-size: map-get($text_sizes, small);
		line-height: 1;
		color: map-get(map-get($colors_map, grey), dark);
		padding: .5em;
		background: map-get(map-get($colors_map, grey), lighter);
		border-radius: 0 .25em .25em 0;
		position: relative;
		margin-right: 1em;

		&::after {
			content: "";
			position: absolute;
			left: 100%;
			top: 0;
			width: 1em;
			height: 100%;
			border-color: transparent transparent transparent map-get(map-get($colors_map, grey), lighter);
			border-style: solid;
			border-width: 1em;
		}

		&--highlighted {
			color: $color_white;
			background: map-get(map-get($colors_map, backup), regular);

			&::before {
				border-color: transparent map-get(map-get($colors_map, backup), regular) transparent transparent;
			}
		}

		&--faded {
			text-decoration: line-through;
		}
	}

	&__info {
		display: inline-block;
		font-size: map-get($text_sizes, tiny);
		line-height: 1.2;
		margin: .5em 0;
		padding: .25em .5em;
		background: map-get(map-get($colors_map, grey), lightest);
		border-radius: $base_border_radius;

		.box--inversed & {
			background: map-get(map-get($colors_map, grey), dark);
			color: map-get(map-get($colors_map, grey), lighter);
		}

		.box--highlighted & {
			background: map-get(map-get($colors_map, grey), light);
		}
	}

	&__swatch {
		display: inline-block;
		vertical-align: middle;
		margin: 0 .25em;
		width: 2em;
		height: 2em;
		border-radius: 4em;
	}

	&__details {
		display: inline-block;
		vertical-align: middle;
		margin: 0 .25em;
		font-size: map-get($text_sizes, tiny);
		line-height: 1;
		text-transform: uppercase;
		padding: .5em .75em;
		background: $color_white;
		border: 1px solid map-get(map-get($colors_map, grey), light);
		border-radius: $base_border_radius;

		&--disabled {
			color: map-get(map-get($colors_map, grey), light);
			text-decoration: line-through;
			background: map-get(map-get($colors_map, grey), lightest);
		}
	}

	&__footer {
		flex-basis: 100%;
		overflow: hidden;
		padding: 1rem;
	}

	&__more-link {
		display: block;
		float: right;
		padding: $base_padding;
		background: map-get(map-get($colors_map, grey), lightest);
		font-size: map-get($text_sizes, tiny);
		line-height: 1;
		color: map-get(map-get($colors_map, main), regular);
		text-decoration: none;
		border-radius: .25em 0 0 0;
		transition: $base_transition;

		&:hover {
			color: map-get(map-get($colors_map, main), dark);
			background: map-get(map-get($colors_map, grey), lighter);
		}
	}

	&.box--video {
		max-width: 100%;
		width: 100%;
		overflow: hidden;
		position: relative;
		& video {
			width: 100%;
			object-fit: cover;
		}
		& .video-prev {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			// height: 100%;
			height: calc(100% - 7px);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top;
			z-index: 3;
			&.hide {
    		display: none;
			}
			& .video-prev__veil {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba(51,51,51,.5);
				z-index: 4;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-align: end;
				align-items: flex-end;
			}
		}
		& .video__control {
			position: absolute;
			width: 100%;
			height: 100px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			display: -ms-flexbox;
			display: flex;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-pack: center;
			justify-content: center;
			z-index: 5;
			& .video__control__deployer {
				border-radius: 50%;
				background: transparent;
				box-shadow: 2px 2px 10px #333;
				border: 5px solid #fff;
				width: 5rem;
				height: 5rem;
				&.playing {
    			opacity: 0;
    			transition: .5s;
				}
				&:after {
					// content: "\f522";
					// font-family: dashicons!important;
					// speak: none;
					// font-style: normal;
					// font-weight: 400;
					// font-variant: normal;
					// text-transform: none;
					// font-size: inherit;
					// line-height: 1.4;
					// vertical-align: middle;
					// -webkit-font-smoothing: antialiased;
					// -moz-osx-font-smoothing: grayscale;
					// font-size: 2rem;
					// color: #fff;
				}
			}
		}
	}
}

////////
//Added
///////
.box{
	&--post{
		height: 100%;
		background: transparent;
		//Base
		.box{
			&__figure{
				padding: 0 0 1rem;
			}
			&__body{
				padding: 0 0 1rem;
				&--shadow{
					box-shadow: 0 0 0.5rem rgba(0,0,0,.1);
					padding: 1rem;
				}
			}
			&__meta{
				font-size: $size_12;
				line-height: $size_12;
				margin: 0 0 .75rem;
				color: $color_secondary_regular;
				text-transform: uppercase;
				a{
					color: inherit;
					&:hover{
						color: $color_secondary_dark;
						text-decoration: underline;
					}
				}
			}
			&__title{
				margin: 0 0 .75rem;
				color: $color_main_regular;
				font-size: 1rem;
				line-height: 1.15rem;
				a{
					color: inherit;
					&:hover{
						color: $color_main_dark;
						text-decoration: underline;
					}
				}
				&--external{
					a:after{
						@include get-icon($icon-open_in_new);
					}
				}
				&--serif{
					font-family: $font_serif;
					font-style: italic;
				}
				&--big{
					font-size: 1.25rem;
					line-height: 1.5rem;
					font-weight: $weight_bold;
				}
			}
			&__excerpt{
				font-size: $size_12;
				line-height: $size_20;
				margin: 0 0 .75rem;
				&--serif{
					font-family: $font_serif;
					font-style: italic;
					font-weight: $weight_light;
				}
				&--light{
					font-weight: $weight_light;
				}
			}
			&__date{
				font-size: $size_12;
				display: block;
				text-align: left;
				background: transparent;
				color: inherit;
				text-transform: none;
				padding: 0;
				margin: 0;
				font-weight: $weight_regular;
				color: $color_grey_dark;
				&--icon{
					&:before{
						@include get-icon($icon-schedule);
						margin-right: .25rem;
					}
				}
			}
			&__extra{
				margin: 0;
			}
			&__call{
				margin: .75rem 0 0;
				@include flex-col-center-all;
				align-items: flex-start;
				.button{
					margin: 0;
					font-size: $size_12;
					padding: .5rem 1rem;
				}
			}
			&__author{
				color: $color_secondary_regular;
			}
		}
		//horizontal
		&_horizontal{
			@extend .box--post;
			@include flex-row;
			// border: 1px solid blue;
			border-bottom: 1px solid rgba($color_grey_light, .5);
			height: auto;
			padding: 1rem .5rem;
			&:last-child{
				border-bottom: none;
				padding: 1rem .5rem 0;
			}
			@include media (tablet-down){
				border-bottom: 1px solid rgba($color_grey_light, .5);
				padding: 1rem .5rem;
				&:first-child{
					padding: 0 .5rem 1rem;
				}
				&:last-child{
					border-bottom: 1px solid rgba($color_grey_light, .5);
					padding: 1rem .5rem;
				}
			}
			.box{
				&__figure,
				&__body{
					@include flex-column;
					padding: 0;
				}
				&__figure{
					align-items: flex-start;
					margin-right: 1rem;
				}
				&__body{
					// padding: 0;
					&--middle{
						justify-content: center;
					}
				}
			}
		}
		//featured
		&_featured{
			@extend .box--post;
			.box{
				&__title{
					@extend .box__title--big;
				}
				&__body{
					padding: 0 0 .5rem;
				}
			}
		}
		&_overlay{
			position: relative;
			height: auto;
			.box{
				&__figure{
					position: relative;
					padding: 0;
				}
				&__title{
					color: $color_white;
					a:hover{
						color: $color_grey_lighter;
					}
				}
				&__meta{
					color: $color_secondary_light;
				}
				&__date{
					color: $color_grey_light;
				}
				&__body{
					position: absolute;
					width: 100%;
					height: 100%;
					bottom: 0;
					padding: 1rem;
					background: rgba($color_black, .25);
					color: $color_white;
					@include flex-col-center-all;
					&--light{
						background: rgba($color_white, .5);
					}
				}
			}
			&--min{
				@extend .box--post_overlay;
				.box__body{
					height: auto;
					@include flex-col-start-end;
				}
			}
		}
	}
	&--gallery{
		@extend .box--post;
		.box{
			&__figure{
				position: relative;
				overflow: hidden;
				padding: 0;
				&:after{
					@include get-icon($icon-photo_library);
					position: absolute;
					right: 0;
					top: 0;
					background: $color_main_regular;
					color: $color_white;
					font-size: 1.25rem;
					padding: .5rem;
				}
			}
			&__body{
				padding: 1rem 0;
			}
			&__title{
				margin: 0;
			}
		}
		&_overlay{
			@extend .box--gallery;
			position: relative;
			height: auto;
			.box{
				&__figure{
					padding: 0;
				}
				&__body{
					position: absolute;
					bottom: 0;
					height: auto;
					width: 100%;
					background: rgba($color_black, .25rem);
					padding: 1rem;
					@include transitional;
				}
				&__title{
					margin: 0;
					color: $color_white;
					a{
						&:hover{
							color: $color_grey_lighter;
						}
					}
				}
			}
			&-full{
				@extend .box--gallery_overlay;
				@include transitional;
				.box{
					&__figure{
						&:after{
							content: none;
						}
					}
					&__body{
						top: 0;
						height: 100%;
						text-align: center;
						@include flex-col-center-all;
					}
				}
				&:hover{
					.box{
						&__body{
							background: rgba($color_black, .5);
							@include transitional;
						}
					}
				}
			}
		}
		&_animate{
			.box{
				&__figure{
					img{
						@include relax;
					}
				}
			}
			&-scale{
				@extend .box--gallery_animate;
				&:hover{
					.box{
						&__figure{
							img{
								transform: scale(1.1);
								@include relax;
							}
						}
					}
				}
			}
			&-grayscale{
				@extend .box--gallery_animate;
				&:hover{
					.box{
						&__figure{
							img{
								filter: grayscale(100%);
								@include relax;
							}
						}
					}
				}
			}
		}
	}
	&--iframe{
		cursor: pointer;
		.box{
			&__figure{
				position: relative;
				height: 0;
				overflow: hidden;
				&.ratio-16-9{
					padding-bottom: 50%;
				}
				&.ratio-4-3{
					padding-bottom: 75%;
				}
				iframe{
					position: absolute;
					top:0;
					left: 0;
					width: 100%;
					height: 100%;
					@include media (tablet-down){
						-webkit-overflow-scrolling: touch;
					}
				}
			}
		}
		&_overlay{
			@extend .box--iframe;
			position: relative;
			height: auto;
			overflow: hidden;
			.box{
				&__body{
					position: absolute;
					width: 100%;
					padding: 0;
					@include transitional;
				}
				&__title{
					margin: 0;
					padding: 1rem;
					position: relative;
				}
			}
			&-down{
				@extend .box--iframe_overlay;
				.box{
					&__body{
						height: auto;
						background: black;
						color: white;
						bottom: 0;
						@include transitional;
					}
				}
				&:hover{
					.box{
						&__body{
							height: 0;
							@include transitional;
						}
					}
				}
			}
			&-full{
				@extend .box--iframe_overlay;
				.box{
					&__body{
						height: 100%;
						top: 0;
						color: $color_white;
						overflow: hidden;
						@include flex-col-start-end;
						@include black-gradient;
						@include transitional;
					}
				}
				&:hover{
					.box{
						&__body{
							height: 0;
							top: 100%;
							@include video-animate;
							@include transitional;
						}
					}
				}
			}
		}
	}
}
