.calendar-box {
  border: none;
  font-size: $size_14;; // parte inactivo

}

.ui-datepicker{
  display: none;
  &.hasDatepicker {
    display: block;
  }
  background: #FFFFFF;
  padding: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 hsla(0,0%,53%,.18);

  &-header{
    background: transparent;
    position: relative;
    padding: .625rem 1rem;
    text-align: center;
    text-transform: uppercase;
    color: $color_dark;
    border-radius: 0;
    margin: 0 0 .5rem;
  }
  &-month {
    font-size: 24px;
    margin-top: -8px;
    text-align: left;
    text-transform: capitalize;
  }
  &-year {
    font-size: 12px;
    font-weight: normal;
    text-align: left;
  }
}

.ui-datepicker-event-day {
  background-color: $color_main_regular;
  & a.ui-state-default {
    color: $color_white;
  }
}

.ui-datepicker-prev,
.ui-datepicker-next {
  @include image-replacement;
  display: block;
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  width: 34px;
  height: 100%;
  background: transparent;
  border-radius: 0;
  @include transitional;

  .ui-icon {
    display: block;
    width: 10px;
    border: 2px solid $color_main_regular;
    height: 10px;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
  }
  &:hover{
    background: $color_main_regular;
    .ui-icon{ border-color: $color_white }
  }
}

.ui-datepicker-prev {
  // left: 0;
  left: unset;
  right: 2rem;

  .ui-icon {
    transform: rotateZ(135deg);
    margin-left: -4px;
  }
}

.ui-datepicker-next {
  right: 0;

  .ui-icon {
    transform: rotateZ(-45deg);
    margin-left: -6px;
  }
}

.ui-datepicker-title {
  // display: block;
  font-weight: $weight_black;
  font-size: 1rem;
  letter-spacing: .6px;
  line-height: 1;
  color: $color_dark;

  display: flex;
  flex-flow: column-reverse;
}

.ui-datepicker-calendar {
  width: 100%;

  thead {
    background: transparent;
    // border-bottom: 2px solid $color_dark;
  }

  td,
  th {
    text-align: center;
    padding: .5em;
  }

  th {
    font-weight: normal;
    color: $color_grey_regular;
    font-weight: $weight_bold;
    letter-spacing: .6px;
    text-transform: uppercase;
  }

  td {
    border: 0;
    opacity: 1;
    color: $color_main_regular;
    text-align: center;
    padding: .5rem 0;
    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }

    *{
      text-align: center;
      padding: 0;
      color: $color_grey_regular;
      font-weight: $weight_regular;
      text-decoration: none;
    }

    &.today-date{
      color: $color_dark;
      *{
        color: $color_dark;
        font-weight: $weight_bold;
      }
    }

    &.calendar-event{
      color: $color_white;
      font-weight: $weight_bold;
      @include transitional;
      *{
        color: $color_white;
        font-weight: $weight_bold;
      }
      &.past-date{
        background: $color_dark;
      }
      &.future-date{
        background: $color_main_regular;
      }

      &[data-handler="selectDay"]{
        cursor: pointer;
        &:hover{
          opacity: .75;
          @include transitional;
        }
      }
    }
  }
}
