@import url(https://fonts.googleapis.com/css?family=Nunito);


#parallax-body, #parallax-body main {
   margin: 0;
   padding: 0;
   perspective: 1px;
   transform-style: preserve-3d;
   height: 100%;
   overflow-y: scroll;
   overflow-x: hidden;
   font-family: Nunito;
   scroll-behavior: smooth;
}

#parallax-body{
   h1 {
      font-size: 250%
   }

   p {
      font-size: 140%;
      line-height: 150%;
      color: #333;
   }

   .parallax__slide {
      position: relative;
      padding: 25vh 10%;
      min-height: 100vh;
      width: 100vw;
      box-sizing: border-box;
      transform-style: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      &.zindex-2 {
         z-index: 2;
      }
   }

   main img {
      position: absolute;
      top: 50%;
      left: 35%;
      width: 320px;
      height: 240px;
      transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-70%) rotate(2deg);
      padding: 10px;
      border-radius: 5px;
      background: rgba(240, 230, 220, .7);
      box-shadow: 0 0 8px rgba(0, 0, 0, .7);
      transition: .4s;
   }

   main img:last-of-type {
      transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
   }

   .parallax__slide__before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
   }

   .title {
      width: 50%;
      padding: 5%;
      border-radius: 5px;
      background: rgba(240, 230, 220, .7);
      box-shadow: 0 0 8px rgba(0, 0, 0, .7);
   }

   .parallax__slide:nth-child(2n) .title {
      margin-left: 0;
      margin-right: auto;
   }

   .parallax__slide:nth-child(2n+1) .title {
      margin-left: auto;
      margin-right: 0;
   }

   .parallax__slide,
   .parallax__slide__before {
      background: 50% 50% / cover;
   }

   .parallax__header {
      text-align: center;
      font-size: 175%;
      color: #fff;
      text-shadow: 0 2px 2px #000;
   }

   #title {
      background-image: url('http://unsplash.it/1200/900?gravity=center');
      z-index: 2;
   }

   #title h1 {
      transform: translateZ(.25px) scale(.75);
      transform-origin: 50% 100%;
   }

   .parallax__slide__before {
      transform: translateZ(-1px) scale(2);
   }

   #slide4 {
      background: #222;
   }
}