<ul class="uc-breadcrumb mb-24">
  <li *ngFor="let breadcrumb of breadcrumbs; last as l" class="uc-breadcrumb_item{{(l) ? ' current' : '' }}">
    <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="!breadcrumb['dynamic']">{{ breadcrumb.text }}</a>
    <a title="{{breadcrumb.title}}" [routerLink]="[breadcrumb.url]" *ngIf="breadcrumb['dynamic']">{{ particular }}</a>
    <i class="uc-icon" *ngIf="!l">keyboard_arrow_right</i>
  </li>
</ul>
